@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

groupbox {
    appearance: groupbox;
    position: relative;
    margin-top: 10px;
    padding-top: 10px;
}

groupbox:not(:first-child) {
    margin-top: 20px;
}

groupbox > caption {
    position: absolute;
    top: -10px;
    left: 6px;
    background-color: -moz-Dialog;
}

groupbox > span {
    margin: 6px;
}

menulist {
    width: 256px;
    min-height: 25px;
}

.text-link {
    color: #0066D6;
    text-decoration: none;
    margin: 0;
}

.text-link:hover {
    text-decoration: underline;
}

input[type="color"] {
    width: 35px;
    height: 25px;
}

input[type="text"] {
    flex-grow: 1;
}

input[type="number"] {
    text-align: left;
}

input::placeholder {
    font-style: italic;
}

.option-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

groupbox > p {
    display: inline;
    margin-top: 6px;
    margin-left: 6px;
    margin-bottom: 10px;
}

#tabs {
    min-height: 32px;
    background: Window;
    border-bottom: 1px ButtonShadow solid;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
	justify-content: space-between;
}

#main-tabs {
	display: flex;
    flex-direction: row;
    align-items: stretch;
}

.tab {
    margin: 0 1px;
    padding: 6px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab:hover {
    background-color: #e0e8f6;
}

.tab-selected {
    background-color: #c1d2ee !important;
}

.tab-icon {
    width: 32px;
    height: 32px;
    background-image: url("chrome://userchrome/content/windows/options/images/Options.png");
}

@supports -moz-bool-pref("Echelon.Appearance.XP") {
    .tab-icon {
        background-image: url("chrome://userchrome/content/windows/options/images/Options-xp.png");
    }
}

#tab-general .tab-icon {
    background-position: 0 0;
}

#tab-branding .tab-icon {
    background-position: -32px 0;
}

#tab-native-controls .tab-icon {
    background-position: -64px 0;
}

#tab-debug .tab-icon {
    background-position: -96px 0;
}

#tab-about .tab-icon {
    background-position: -128px 0;
}

.tab-label {
    line-height: 1;
    overflow: visible;
}

#tab-native-controls {
    display: none;
}

@media (-moz-ev-native-controls-patch) {
    #tab-native-controls {
        display: flex;
    }
}

#content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 10px;
    border-top: 1px ThreeDHighlight solid;
}

#content[data-tab="about"] {
	padding: 0;
}

#content[data-tab="about"] #button-section {
    border-top: 1px solid ThreeDShadow;
    box-shadow: inset 0 1px 0 ThreeDHighlight;
	padding: 10px;
}

#main-section {
    flex-grow: 1;
}

#button-section {
    display: flex;
    justify-content: flex-end;
}

.section {
    display: none;
}

.section-selected {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    height: 100%;
}

#echelon-logo {
    margin-bottom: 6px;
}

.attribution {
    font-weight: 700;
    font-style: italic;
}

#section-about groupbox {
    margin: 15px;
}

#about-section-banner {
	display: flex;
	flex-direction: column;
	height: 135px;
    border-bottom: 1px solid ThreeDLightShadow;
	background-color: #fff;
	background-image: url("chrome://userchrome/content/windows/options/images/about-logo.png");
	background-repeat: no-repeat;
	background-position: bottom right;
	justify-content: center;
	padding-inline: 40px;
}

#echelon-ver-text {
	color: #838383;
	text-transform: lowercase;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

#echelon-ver-text b {
	color: #404041;
}

table {
    margin-top: 10px;
    display: block;
    table-layout: auto;
}

th {
    text-align: left;
}

td {
    padding-left: 4px;
}

.restart-required-label {
    color: red;
    align-self: center;
    flex-grow: 1;
}

.about-section-credits {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding-block: 20px;
    padding-inline: 40px;
    background-color: #FFF;
}

.about-section-credits-container {
    display: flex;
    justify-content: space-between;
}

.about-section-list,
.credits-list {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.credits-section-list-container {
    margin-block-end: 10px;
}

.credits-section-desc,
.view-github {
    display: inline-block;
    color: #838383;
    text-transform: lowercase;
    margin-block-end: 3px;
}

.credits-list {
    color: #404041;
    font-size: 12.5px;
    font-weight: 600;
}

.credits-list li {
    margin-block-end: 3px;
}

.view-github-link {
    display: flex;
    align-items: center;
}

.github-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("chrome://userchrome/content/windows/options/images/GitHub.png");
    margin-inline-end: 3px;
}

.view-github {
    margin-bottom: 0;
}