@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

:root {
	--echelon-wizard-width: 558px;
	--echelon-wizard-height: 492px;
}

#echelonOptions {
	background-color: #EDF5FD;
	background-image: url("chrome://userchrome/content/assets/images/firefox-29/customizableui/background-noise-toolbar.png"), linear-gradient(to bottom, rgba(180, 193, 205, 0), rgba(180, 193, 205, 0.25));
	font: message-box;
	color: #3E4E5B;
	font-size: 13px;
	font-weight: 400;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
  	flex: 1;
}

.options-categories {
	min-width: 210px;
	padding-block: 20px;
	background-image: radial-gradient(0.48% 50% at 100% 50%, rgba(23, 45, 68, 0.1) 0%, rgba(23, 45, 68, 0.1) 50%, rgba(23, 45, 68, 0.1) 75%, rgba(23, 45, 68, 0) 100%), radial-gradient(7% 50% at 100% 50%, rgba(23, 45, 68, 0.11) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(100% 50% at 100% 50%, rgba(255, 255, 255, 0.31) 0%, rgba(255, 255, 255, 0) 100%);
	margin: 0;
	background-color: transparent;
	color: revert;
	border: 0;
}

.category {
	min-height: 40px;
	align-items: center;
	padding-inline: 15px;
	color: rgba(75, 89, 100, .5);
	margin-block-end: 5px;
	font-size: 15px;
	text-shadow: 0 1px 0 white;
	cursor: pointer;
	background-color: transparent;
}

.category:hover {
	color: rgba(75, 89, 100, 1);
}

.category[selected="true"] {
	background-image: url("chrome://userchrome/content/windows/options/images/category-arrow.png"), radial-gradient(0.28% 50% at 99.76% 50%, #27A0EF 0%, #27A0EF 75%, rgba(39, 160, 239, 0) 100%), radial-gradient(1.32% 50% at 99.49% 50%, rgba(39, 160, 239, 0.15) 50.98%, rgba(232, 239, 245, 0) 100%);
	background-position: center right;
	background-repeat: no-repeat;
	color: #27A0EF;
	background-color: transparent;
}

.category .category-image {
	width: 18px;
	height: 18px;
	background-image: url("chrome://userchrome/content/windows/options/images/categories.png");
}

#category-branding .category-image {
	background-position-x: -36px;
}

#category-native-controls .category-image {
	background-position-x: -18px;
}

#category-about .category-image {
	background-position-x: -54px;
}

.category:hover .category-image {
	background-position-y: -18px;
}

.category[selected="true"] .category-image {
	background-position-y: -36px;
}

.category .category-text {
	cursor: pointer;
	margin-inline: 10px;
}

#options-sections {
	background-image: radial-gradient(0.06% 50% at 0.06% 50%, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, rgba(255, 255, 255, 0) 100%);
}

.section:not([selected="true"]) {
	visibility: collapse;
}

.options-header {
	color: #5B758B;
	font-weight: lighter;
	font-size: 18px;
	padding: 28px 25px;
	text-shadow: 0 1px 0 white;
}

.header-image {
	width: 26px;
	height: 26px;
	background-image: url("chrome://userchrome/content/windows/options/images/categories-header.png");
}

#section-branding .header-image {
	background-position-x: -52px;
}

#section-native-controls .header-image {
	background-position-x: -26px;
}

#section-about .header-image {
	background-position-x: -78px;
}

.header-text {
	margin: 0;
	margin-inline-start: 15px;
}