@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

groupbox {
    appearance: groupbox;
    position: relative;
    margin-top: 10px;
    padding-top: 10px;
}

groupbox:not(:first-of-type) {
    margin-top: 20px;
}

groupbox > caption {
    position: absolute;
    top: -10px;
    left: 6px;
    background-color: -moz-Dialog;
}

groupbox > span {
    margin: 6px;
}

menulist {
    width: 256px;
    min-height: 25px;
}

.text-link {
    color: #06c;
    text-decoration: none;
    margin: 0;
}

.text-link:hover {
    text-decoration: underline;
}

input[type="color"] {
    width: 35px;
    height: 25px;
}

input[type="text"] {
    flex-grow: 1;
}

input[type="number"] {
    text-align: left;
}

input::placeholder {
    font-style: italic;
}

checkbox[disabled="true"] {
    opacity: 1;
}

.option-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

groupbox > p {
    display: inline;
    margin-top: 6px;
    margin-left: 6px;
    margin-bottom: 10px;
}

#tabs {
    min-height: 32px;
    background: Window;
    border-bottom: 1px ButtonShadow solid;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
	justify-content: space-between;
}

#main-tabs {
	display: flex;
    flex-direction: row;
    align-items: stretch;
}

.tab {
    margin: 0 1px;
    padding: 6px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab:hover {
    background-color: #e0e8f6;
}

.tab-selected {
    background-color: #c1d2ee !important;
}

.tab-icon {
    width: 32px;
    height: 32px;
    background-image: url("chrome://userchrome/content/windows/options/images/Options.png");
}

:root[echelon-appearance-xp] .tab-icon {
    background-image: url("chrome://userchrome/content/windows/options/images/Options-xp.png");
}

#tab-general .tab-icon {
    background-position: 0 0;
}

#tab-branding .tab-icon {
    background-position: -32px 0;
}

#tab-native-controls .tab-icon {
    background-position: -64px 0;
}

#tab-debug .tab-icon {
    background-position: -96px 0;
}

#tab-about .tab-icon {
    background-position: -128px 0;
}

.tab-label {
    line-height: 1;
    overflow: visible;
}

#tab-native-controls {
    display: none;
}

@media (-moz-ev-native-controls-patch) {
    #tab-native-controls {
        display: flex;
    }
}

#content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 10px;
    border-top: 1px ThreeDHighlight solid;
}

#content[data-tab="about"] {
	padding: 0;
}

#content[data-tab="about"] #button-section {
    border-top: 1px solid ThreeDShadow;
    box-shadow: inset 0 1px 0 ThreeDHighlight;
	padding: 10px;
}

#main-section {
    flex-grow: 1;
}

#button-section {
    display: flex;
    justify-content: flex-end;
}

.section {
    display: none;
}

.section-selected {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    height: 100%;
}

#echelon-logo {
    margin-bottom: 6px;
}

.attribution {
    font-weight: 700;
    font-style: italic;
}

#section-about groupbox {
    margin: 15px;
}

#about-section-banner {
	display: flex;
	flex-direction: column;
	height: 135px;
    border-bottom: 1px solid ThreeDLightShadow;
	background-color: #fff;
	background-image: url("chrome://userchrome/content/windows/options/images/about-logo.png");
	background-repeat: no-repeat;
	background-position: bottom right;
	justify-content: center;
	padding-inline: 40px;
}

#echelon-ver-text, #echelon-build-text {
	color: #838383;
	text-transform: lowercase;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

#echelon-ver-text b {
	color: #404041;
}

#echelon-build-text {
    font-size: 13px;
    color: #939393;
}

#echelon-build-text b {
    color: #505051;
}

table {
    margin-top: 10px;
    display: block;
    table-layout: auto;
}

th {
    text-align: left;
}

td {
    padding-left: 4px;
}

.restart-required-label {
    color: red;
    align-self: center;
    flex-grow: 1;
}

.about-section-credits {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding-block: 20px;
    padding-inline: 40px;
    background-color: #FFF;
}

.about-section-credits-container {
    display: flex;
    justify-content: space-between;
}

.about-section-list,
.credits-list {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.credits-section-list-container {
    margin-block-end: 10px;
}

.credits-section-desc,
.about-box-footer .text-link {
    display: inline-block;
    color: #838383;
    text-transform: lowercase;
    margin-block-end: 3px;
}

.credits-list {
    color: #404041;
    font-size: 12.5px;
    font-weight: 600;
}

.credits-list li {
    margin-block-end: 3px;
}

.about-box-footer-link {
    display: flex;
    align-items: center;
}

.about-box-footer-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-inline-end: 6px;
}

.github-icon {
    background-image: url("chrome://userchrome/content/windows/options/images/GitHub.png");
}

.issue-icon {
    background-image: url("chrome://userchrome/content/windows/options/images/icon-issue.png");
}

.about-box-footer .text-link {
    text-transform: none;
    margin-bottom: 0;
}

menulist {
    width: 100%;
}

.about-box-footer {
    display: flex;
    justify-content: space-between;
}

:root:not([echelon-style-4]) .section-header {
    display: none;
}

:root:is([echelon-style-4]) {
    background-color: var(--in-content-page-background) !important;
    color: var(--in-content-page-color) !important;
    font-size: 14px !important;
    --in-content-page-color: #424e5a !important;
    --in-content-page-background: #fbfbfb !important;
    --in-content-text-color: #333 !important;
    --in-content-selected-text: #fff !important;
    --in-content-header-border-color: #c8c8c8 !important;
    --in-content-box-background: #fff !important;
    --in-content-box-background-odd: #f3f6fa !important;
    --in-content-box-background-hover: #ebebeb !important;
    --in-content-box-background-active: #dadada !important;
    --in-content-box-border-color: #c1c1c1 !important;
    --in-content-item-hover: rgba(0,149,221,0.25) !important;
    --in-content-item-selected: #0a84ff !important;
    --in-content-border-highlight: #ff9500 !important;
    --in-content-border-focus: #0a84ff !important;
    --in-content-border-color: #c1c1c1 !important;
    --in-content-category-text: #c1c1c1 !important;
    --in-content-category-border-focus: 1px dotted #fff !important;
    --in-content-category-text-selected: #f2f2f2 !important;
    --in-content-category-background: #424f5a !important;
    --in-content-category-background-hover: #5e6972 !important;
    --in-content-category-background-active: #343f48 !important;
    --in-content-tab-color: #424f5a !important;
    --in-content-link-color: #0a84ff !important;
    --in-content-link-color-hover: #0060df !important;
    --in-content-link-color-active: #ff9500 !important;
    --in-content-link-color-visited: #551a8b !important;
    --in-content-primary-button-background: #0a84ff !important;
    --in-content-primary-button-background-hover: #0060df !important;
    --in-content-primary-button-background-active: #003EAA !important;
    --in-content-table-border-dark-color: #d1d1d1 !important;
    --in-content-table-header-background: #0a84ff !important;
    --in-content-sidebar-width: 181px !important;
}

:root:is([echelon-style-4]) #contentArea {
    flex-direction: row;
}

:root:is([echelon-style-4]) #content {
    max-width: 664px;
    padding: 40px 28px;
    border: 0;
    overflow-y: auto;
}

:root:is([echelon-style-4]) #content[data-tab="about"] {
    max-width: unset;
    padding: 0;
}

:root:is([echelon-style-4]) #content[data-tab="about"] #button-section {
    border: 0;
    box-shadow: unset;
    padding: 40px 28px;
    max-width: 664px;
}

:root:is([echelon-style-4]) .about-section-credits {
    max-width: 664px;
    padding: 40px 28px;
    padding-bottom: 0;
}

:root:is([echelon-style-4]) #content[data-tab="about"] .about-section-credits {
    background-color: transparent;
}

:root:is([echelon-style-4]) #tabs {
    width: 181px;
    padding: 0;
    padding-top: 39px;
    border: 0;
    background: #424f5a;
    justify-content: flex-start;
}

:root:is([echelon-style-4]) #tabs,
:root:is([echelon-style-4]) #main-tabs {
    flex-direction: column;
}

:root:is([echelon-style-4]) .tab {
    margin: 0;
    flex-direction: row;
    min-height: 40px;
    padding: 0;
    padding-inline-start: 15px;
    padding-inline-end: 21px;
    color: var(--in-content-category-text) !important;
    transition: background-color 150ms !important;
}

:root:is([echelon-style-4]) .tab-selected {
    background-color: var(--in-content-category-background-active) !important;
    color: var(--in-content-category-text-selected) !important;
    padding-inline-start: 11px !important;
    border-inline-start: solid 4px var(--in-content-border-highlight) !important;
}

:root:is([echelon-style-4]) .tab:not(.tab-selected):hover {
    background-color: var(--in-content-category-background-hover) !important;
}

:root:is([echelon-style-4]) .tab-icon {
    width: 24px;
    height: 24px;
    background-position: 0 0 !important;
    background-size: cover;
}

:root:is([echelon-style-4]) #tab-general .tab-icon {
    background-image: url("chrome://userchrome/content/pages/preferences/images/icons.svg#general") !important;
}

:root:is([echelon-style-4]) #tab-branding .tab-icon {
    background-image: url("chrome://userchrome/content/windows/options/images/branding.svg") !important;
}

:root:is([echelon-style-4]) #tab-about .tab-icon {
    background-image: url("chrome://userchrome/content/windows/options/images/echelon.svg") !important;
}

:root:is([echelon-style-4]) #tab-native-controls .tab-icon {
    background-image: url("chrome://userchrome/content/windows/options/images/controls.svg") !important;
}

:root:is([echelon-style-4]) #tab-debug .tab-icon {
    background-image: url("chrome://userchrome/content/windows/options/images/debug.svg") !important;
}

:root:is([echelon-style-4]) .tab-label {
    font-size: 13.5px !important;
    padding-inline-start: 7px !important;
}

:root:is([echelon-style-4]) groupbox {
    appearance: none;
    margin: 0;
    padding: 0;
}

:root:is([echelon-style-4]) groupbox > caption {
    font-size: 1.14em;
    font-weight: 600;
    margin: 16px 0 4px;
    position: static;
    background-color: transparent;
}

:root:is([echelon-style-4]) .section-header {
    font-size: 23px !important;
    font-weight: lighter !important;
    line-height: 1.2 !important;
    color: #424E5A !important;
    margin: 0 !important;
    margin-bottom: 0.5em !important;
}

:root:is([echelon-style-4]) checkbox {
    padding: 0;
    margin: 4px 0;
}

:root:is([echelon-style-4]) .checkbox-check {
    appearance: none !important;
    width: 23px !important;
    height: 23px !important;
    min-height: 23px !important;
    border: 1px solid var(--in-content-box-border-color) !important;
    border-radius: 2px !important;
    margin: 0 !important;
    margin-inline-end: 10px !important;
    background-color: #f1f1f1 !important;
    background-image: linear-gradient(#fff, rgba(255, 255, 255, 0.8)) !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    box-shadow: 0 1px 1px 0 #fff, inset 0 2px 0 0 rgba(0, 0, 0, 0.03) !important;
}
:root:is([echelon-style-4]) checkbox:not([disabled]):hover .checkbox-check,
:root:is([echelon-style-4]) .checkbox-check:not([disabled]):hover {
    border-color: var(--in-content-border-focus) !important;
}
:root:is([echelon-style-4]) .checkbox-check[checked] {
    background-image: url("chrome://userchrome/content/pages/preferences/images/check.svg"), linear-gradient(#fff, rgba(255, 255, 255, 0.8)) !important;
    -moz-context-properties: fill, stroke !important;
    fill: #2292d0 !important;
    stroke: none !important;
}

:root:is([echelon-style-4]) button,
:root:is([echelon-style-4]) menulist,
:root:is([echelon-style-4]) input[type="color"] {
    appearance: none !important;
    min-height: 145px !important;
    min-height: 30px !important;
    box-sizing: border-box !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    min-height: 30px !important;
    color: var(--in-content-text-color) !important;
    border: 1px solid var(--in-content-box-border-color) !important;
    border-radius: 2px !important;
    background-color: var(--in-content-page-background) !important;
}
:root:is([echelon-style-4]) button:not([disabled]):hover,
:root:is([echelon-style-4]) menulist:not([disabled]):hover,
:root:is([echelon-style-4]) input[type="color"]:hover {
    background-color: var(--in-content-box-background-hover) !important;
}
:root:is([echelon-style-4]) button:not([disabled]):active:hover,
:root:is([echelon-style-4]) menulist:not([disabled]):active:hover,
:root:is([echelon-style-4]) menulist:not([disabled])[open],
:root:is([echelon-style-4]) input[type="color"]:active:hover{
    background-color: var(--in-content-box-background-active) !important;
}
:root:is([echelon-style-4]) menulist:not([size]):not([multiple]) {
    background-image: url("chrome://userchrome/content/pages/preferences/images/dropdown.svg#dropdown") !important;
    background-position: right 3px center !important;
    background-repeat: no-repeat !important;
    background-size: auto 18px !important;
    font-size: inherit !important;
    padding-inline-start: 5px !important;
    padding-inline-end: 24px !important;
    text-overflow: ellipsis !important;
}
:root:is([echelon-style-4]) menulist::part(label-box) {
    color: inherit !important;
    background-color: transparent !important;
}
:root:is([echelon-style-4]) menulist::part(dropmarker) {
    display: none !important;
}

:root:is([echelon-style-4]) label {
    margin: 0;
}

:root:is([echelon-style-4]) menulist {
    margin: 5px 0;
}

:root:is([echelon-style-4]) .option-container > label,
:root:is([echelon-style-4]) .option-container > menulist {
    flex: 1;
}

:root:is([echelon-style-4]) input[type="text"] {
    color: var(--in-content-text-color) !important;
    border: 1px solid var(--in-content-box-border-color) !important;
    border-radius: 2px !important;
    background-color: var(--in-content-box-background) !important;
    font: message-box !important;
    padding: 8px;
}
:root:is([echelon-style-4]) input[type="text"]:focus {
    outline: 0 !important;
    border-color: var(--in-content-border-focus) !important;
}

:root:is([echelon-style-4]) input[type="color"] {
    width: 60px;
}

:root:is([echelon-style-4]) groupbox > p {
    margin-inline: 0;
}

:root:is([echelon-style-4]) checkbox[disabled="true"] {
    opacity: 0.5;
}

:root:is([echelon-style-4]) #ok-button, 
:root:is([echelon-style-4]) #cancel-button {
    display: none;
}

@media (max-width: 830px) {
    :root:is([echelon-style-4]) .tab-label {
        display: none;
    }
    :root:is([echelon-style-4]) #tabs {
        min-width: 52px;
        width: 52px;
    }
    :root:is([echelon-style-4]) .tab {
        padding-inline-end: unset !important;
    }
}