@-moz-document url("about:support"), url("about:profiles") {
    :root {
        font: message-box !important;
    }

    body {
        padding: 0 !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
        padding-top: 18px !important;
    }

    button {
        all: revert !important;
        appearance: button !important;
        font-size: 13px !important;
        font-family: "MS Shell Dlg", sans-serif !important;
        min-height: 24px !important;
        padding-inline: 10px !important;
    }

    h1 {
        font-size: revert !important;
        font-weight: revert !important;
    }

    h2 {
        font-weight: revert !important;
    }

    .action-box {
        background-color: #F0F0F0 !important;
        border: 1px solid #A0A0A0 !important;
        border-radius: 0 !important;
    }

    table {
        background-color: #F0F0F0 !important;
        color: #000 !important;
        border: 1px solid #A0A0A0 !important;
        border-radius: 0 !important;
    }

    th, td {
        border: 1px dotted #A0A0A0 !important;
        padding: 3px !important;
    }

    th {
        color: white !important;
        background-color: #0078D7 !important;
    }
}

@-moz-document url("about:profiles") {
    .action-box h3 {
        margin-top: 0 !important;
    }

    table {
        margin-bottom: 10px !important;
    }
}