@use 'sass:math';

$menu-panel-width: 22.35em;
$menu-panel-button-width: calc(math.div($menu-panel-width, 3) - 0.1px);
$panel-palette-icon-size: 32px;

// Note that the zoom reset button is handled slightly differently in newer
// versions, in that it's disabled when the state is inactive. I just added
// its selector to force the state to change, even when it's disabled.
$buttonStateHover: ":not(:is(:not(#zoom-reset-button)[disabled], :active)):is(:hover, :focus)";
$buttonStateActive: ":not(:not(#zoom-reset-button)[disabled]):is([open], :hover:active)";

// Grid items are considered all toolbarbuttons, except for a few wide items.
$wideItems: "#edit-controls, #zoom-controls";
$panelGridItem: "& > toolbarbutton, *:not(" + $wideItems + ", .panel-customization-placeholder) > toolbarbutton";