/* Fix Menu Bar */

@media not (-moz-windows-classic) {
    html:not([echelon-appearance-xp]) {
        #toolbar-menubar:not(:-moz-lwtheme) {
            text-shadow: 0 0 .5em white, 0 0 .5em white, 0 1px 0 rgba(255,255,255,.4);
        }
    
        #main-menubar:not(:-moz-lwtheme, :-moz-window-inactive) {
            background-color: rgba(255,255,255,.5);
            color: black;
            border-radius: 4px;
        }

        &[tabsintitlebar][sizemode="normal"] #navigator-toolbox:-moz-lwtheme {
            border-top: 1px solid var(--glass-active-border-color);
            padding-top: 1px;
            box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;

            &:-moz-window-inactive {
                border-top-color: var(--glass-inactive-border-color);
            }
        }

        &[sizemode="normal"]:not([tabsintitlebar]) #navigator-toolbox:-moz-lwtheme {
            border-top: 0 !important;
            box-shadow: none !important;
            padding-top: 0 !important;
        }
    }
}

#main-menubar > menu {
    appearance: menuitem !important;
}

:root[echelon-style-4] {
    #toolbar-context-echelonTabsOnTop, #tabsOnTopMenuSeparator {
        display: none;
    }
}

:root:not([echelon-style-4]) {
    #context-navigation {
        background: transparent !important;
        flex-direction: column !important;;
    
        & > .menuitem-iconic {
            width: unset !important;
    
            & > .menu-iconic-left {
                appearance: auto !important;
    
                & > .menu-iconic-icon {
                    display: none !important;
                }
            }
            
            .menu-iconic-text {
                display: block !important;
            }
        }
    }

    #context-sep-navigation {
        margin-inline-start: 0 !important;
    }
}

/* This is on default Firefox CSS, but only applies on -moz-windows-default-theme, which many users won't have. */
menubar > menu:-moz-lwtheme {
    appearance: auto !important;
    -moz-default-appearance: menuitem !important;
}

menubar > menu:-moz-lwtheme[_moz-menuactive="true"]:not([disabled="true"]) {
    color: inherit !important;
    text-shadow: inherit !important;
}