/* ::::: Aero blue style ::::: */

:root[echelon-appearance-blue] {
    &,
    &:is([default-light-theme]) {
        --toolbar-custom-color: hsl(214, 44%, 87%) !important;
    }

    #urlbar-input::placeholder,
    .searchbar-textbox::placeholder {
        font-style: italic !important;
    }
}

/* ::::: Hide Unified Extensions Button Tweak ::::: */

#main-window[echelon-option-hideunifiedextensions] {
    #unified-extensions-button {
        display: none !important;
    }
}

/* ::::: Firefox 5-9 Style (Echelon Style 1) ::::: */

@import "partials/tweaks/Echelon.tweaks.style1";

/* ::::: Firefox 9-13 Style (Echelon Style 2) ::::: */

@import "partials/tweaks/Echelon.tweaks.style2";

/* ::::: Firefox 14-28 (Echelon Style 3) ::::: */

@import "partials/tweaks/Echelon.tweaks.style3";

/** ECHELON STYLE 4 (Australis) **/

:root[echelon-style-4] {
    --inline-tab-padding: 9px !important;
    --toolbar-border-radius: 0 !important;
    --tab-width: 210px !important;
}

#main-window[echelon-style-4] toolbar:is(#nav-bar, #TabsToolbar) #bookmarks-button:hover+#bookmarks-menu-button {
    background-image: linear-gradient(hsla(0, 0%, 100%, .6), hsla(0, 0%, 100%, .1)) !important;
    border-color: hsla(210, 54%, 20%, .15) hsla(210, 54%, 20%, .2) hsla(210, 54%, 20%, .25) !important;
    box-shadow: 0 1px hsla(0, 0%, 100%, .3) inset,
        0 1px hsla(210, 54%, 20%, .03),
        0 0 2px hsla(210, 54%, 20%, .1) !important;
}

#main-window[echelon-style-4] #PanelUI-button {
    margin-inline-start: 7px !important;
    position: relative !important;

    #PanelUI-menu-button {
        width: 30px !important;
        height: 24px !important;
        padding: 0 !important;
        margin-inline: 3px !important;

        .toolbarbutton-badge-stack {
            width: 100% !important;
            height: 100% !important;
            padding: 2px 5px !important;
        }
    }

    &::before {
        content: "";
        display: inline-block;
        height: calc(100% + 14px);
        width: 3px;
        position: absolute;
        left: -4px !important;
        top: -7px;
        background-image: linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.3) 30%, hsla(0, 0%, 100%, 0.3) 70%, hsla(0, 0%, 100%, 0)), linear-gradient(hsla(210, 54%, 20%, 0), hsla(210, 54%, 20%, 0.3) 30%, hsla(210, 54%, 20%, 0.3) 70%, hsla(210, 54%, 20%, 0)), linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.3) 30%, hsla(0, 0%, 100%, 0.3) 70%, hsla(0, 0%, 100%, 0));
        background-size: 1px calc(100% - 1px), 1px calc(100% - 1px), 1px calc(100% - 1px) !important;
        background-position: 0px 0px, 1px 0px, 2px 0px;
        background-repeat: no-repeat;
    }
}

/* HACKY AND SHITY AUSTRALIS TABS FUCK MOZILLA */
#main-window[echelon-style-4] #TabsToolbar {
    --tab-stroke-background-size: auto 100%;
    --tab-curve-width: 30px;
    --tab-curve-half-width: 15px;
}

#main-window[echelon-style-4] .tabbrowser-tab {
    overflow: visible !important;
}

#main-window[echelon-style-4] .tab-background,
#main-window[echelon-style-4] #tabs-newtab-button {
    border-radius: 0 !important;
    background-position: unset !important;
    background-image: none !important;
    border: 0 !important;
    margin-inline-end: calc(-1 * var(--tab-curve-half-width)) !important;
    margin-inline-start: calc(-1 * var(--tab-curve-half-width)) !important;
    pointer-events: none !important;
}

/* Tab Separators */

#main-window[echelon-style-4] .tabbrowser-tab::before,
#main-window[echelon-style-4] .tabbrowser-tab::after,
#main-window[echelon-style-4] .tabbrowser-tab:hover+.tabbrowser-tab::before,
#main-window[echelon-style-4] #tabbrowser-arrowscrollbox-periphery::before,
#main-window[echelon-style-4] .tabbrowser-tab:hover+#tabbrowser-arrowscrollbox-periphery #tabs-newtab-button::before,
#main-window[echelon-style-4] .tabbrowser-tab[selected]+#tabbrowser-arrowscrollbox-periphery #tabs-newtab-button::before,
#main-window[echelon-style-4] .tabbrowser-tab[selected]+.tabbrowser-tab::before,
#main-window[echelon-style-4] #tabs-newtab-button::before {
    display: none !important;
    height: 100% !important;
    margin-inline-start: -3px !important;
    width: 3px !important;
    background-image: url('images/tab-separator.png') !important;
    background-size: 100% 100% !important;
    box-sizing: border-box !important;
}

#main-window[echelon-style-4] #tabs-newtab-button::before {
    position: absolute;
    left: var(--tab-curve-half-width) !important;
    margin-inline-start: 0 !important;
}

#main-window[echelon-style-4] .tabbrowser-tab:not([selected], :first-of-type, :hover)::before,
#main-window[echelon-style-4] #tabs-newtab-button:not(:hover)::before {
    content: '' !important;
    display: inline-block !important;
}

#main-window[echelon-style-4] .tabbrowser-tab:first-of-type {
    margin-inline-start: calc(var(--tab-curve-half-width) - 3px) !important;
}

#main-window[echelon-style-4] #tabs-newtab-button {
    width: 66px !important;
    z-index: 1 !important;
    padding: 0 !important;
    pointer-events: auto !important;
}

#main-window[echelon-style-4] .tab-background:is([selected], [multiselected]) {
    --tab-border: calc(var(--tab-curve-half-width) - 1px) !important;
    border-top: 0 !important;
    border-left: var(--tab-curve-width) solid transparent !important;
    border-right: var(--tab-curve-width) solid transparent !important;
    border-image: none !important;
    background-clip: padding-box, padding-box, content-box !important;
    background-color: var(--toolbar-custom-color) !important;
    background-image: url('images/tab-active-middle.png'),
        linear-gradient(transparent 2px, rgba(255, 255, 255, .4) 2px, rgba(255, 255, 255, .4)),
        none !important;
    background-repeat: repeat-x !important;
    background-size: var(--tab-stroke-background-size), auto 100% !important;
    background-position: unset !important;
    padding-top: 2px !important;

    &:-moz-lwtheme {
        background-color: var(--toolbar-bgcolor) !important;
    }
}

#main-window[echelon-style-4][lwtheme-image="true"] #tabbrowser-tabs:not([movingtab]) .tab-background:is([selected], [multiselected]):-moz-lwtheme {
    background-color: transparent !important;
    background-image: url('images/tab-active-middle.png'),
        linear-gradient(transparent 2px, rgba(255, 255, 255, .4) 2px, rgba(255, 255, 255, .4)),
        var(--lwt-header-image) !important;
    background-position: 0 0, 0 0, right top !important;
    background-repeat: repeat-x, repeat-x, no-repeat !important;
    background-size: var(--tab-stroke-background-size), auto 100%, auto auto !important;
    background-attachment: scroll, scroll, fixed !important;
}

#main-window[echelon-style-4][lwtheme-image="true"] #tabbrowser-tabs[movingtab] .tab-background:is([selected], [multiselected]):-moz-lwtheme {
    background-color: transparent !important;
}

#main-window[echelon-style-4] #tabbrowser-tabs,
#main-window[echelon-style-4] #tabbrowser-arrowscrollbox,
#main-window[echelon-style-4] #tabbrowser-tabs[positionpinnedtabs]>#tabbrowser-arrowscrollbox>.tabbrowser-tab[pinned] {
    min-height: 30px !important;
}

#main-window[echelon-style-4] .tab-background:is([selected], [multiselected]):before,
#main-window[echelon-style-4] .tab-background:is([selected], [multiselected]):after {
    content: '';
    display: inline-block;
    width: var(--tab-curve-width);
    height: 31px;
    background-image: url('images/tab-stroke-start.png') !important;
    background-size: 100% 100% !important;
    position: absolute !important;
    top: 0 !important;
    left: calc(-1 * var(--tab-curve-half-width)) !important;
}

#main-window[echelon-style-4] .tab-background:is([selected], [multiselected]):after {
    background-image: url('images/tab-stroke-end.png') !important;
    left: unset !important;
    right: calc(-1 * var(--tab-curve-half-width)) !important;
}

.tabbrowser-tab[usercontextid]>.tab-stack>.tab-background>.tab-context-line {
    z-index: 999 !important;
}

#main-window[echelon-style-4] .tab-background:is([selected], [multiselected]) .tab-context-line {

    &::before,
    &::after {
        content: '';
        display: inline-block;
        width: var(--tab-curve-width);
        height: 31px;
        background-color: var(--toolbar-custom-color) !important;
        background-image: linear-gradient(transparent 2px, rgba(255, 255, 255, .4) 2px, rgba(255, 255, 255, .4)), none !important;
        position: absolute !important;
        top: 0 !important;
        left: calc(-1 * var(--tab-curve-half-width)) !important;
        z-index: -1 !important;
        mask-image: url('images/tab-selected-start.svg') !important;
        mask-size: 100% 100% !important;
    }

    &:-moz-lwtheme {

        &::before,
        &::after {
            background-color: var(--toolbar-bgcolor) !important;
        }
    }
}

#main-window[echelon-style-4][lwtheme-image="true"] #tabbrowser-tabs:not([movingtab]) .tab-background:is([selected], [multiselected]) .tab-context-line:-moz-lwtheme {

    &::before,
    &::after {
        background-color: transparent !important;
        background-image: linear-gradient(transparent 2px, rgba(255, 255, 255, .4) 2px, rgba(255, 255, 255, .4)),
            var(--lwt-header-image) !important;
        background-position: 0 0, right top !important;
        background-repeat: repeat-x, no-repeat !important;
        background-attachment: scroll, fixed !important;
    }
}

#main-window[echelon-style-4][lwtheme-image="true"] #tabbrowser-tabs[movingtab] .tab-background:is([selected], [multiselected]) .tab-context-line:-moz-lwtheme {

    &::before,
    &::after {
        background-color: transparent !important;
    }
}

#main-window[echelon-style-4] .tab-background:is([selected], [multiselected]) .tab-context-line::after {
    left: unset !important;
    right: calc(-1 * var(--tab-curve-half-width)) !important;
    mask-image: url('images/tab-selected-end.svg') !important;
}

#main-window[echelon-style-4] .tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"]),
#main-window[echelon-style-4] #tabs-newtab-button:hover {
    background-image: url('images/tab-background-start.png'), url('images/tab-background-middle.png'), url('images/tab-background-end.png') !important;
    background-position: left bottom, var(--tab-curve-width) bottom, right bottom !important;
    background-repeat: no-repeat !important;
    background-size: var(--tab-curve-width) 100%, calc(100% - (2 * var(--tab-curve-width))) 100%, var(--tab-curve-width) 100% !important;
}

@media (min-resolution: 1.25dppx) {
    #main-window[echelon-style-4] {

        .tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"]),
        #tabs-newtab-button:hover {
            background-image: url('images/tab-background-start@2x.png'), url('images/tab-background-middle@2x.png'), url('images/tab-background-end@2x.png') !important;
        }

        .tab-background:is([selected], [multiselected]) {
            background-image: url('images/tab-active-middle@2x.png'),
                linear-gradient(transparent 2px, rgba(255, 255, 255, .4) 2px, rgba(255, 255, 255, .4)),
                none !important;
        }

        &[lwtheme-image="true"] #tabbrowser-tabs:not([movingtab]) .tab-background:is([selected], [multiselected]):-moz-lwtheme {
            background-image: url('images/tab-active-middle@2x.png'),
                linear-gradient(transparent 2px, rgba(255, 255, 255, .4) 2px, rgba(255, 255, 255, .4)),
                var(--lwt-header-image) !important;
        }

        .tab-background:is([selected], [multiselected]):before {
            background-image: url('images/tab-stroke-start@2x.png') !important;
        }

        .tab-background:is([selected], [multiselected]):after {
            background-image: url('images/tab-stroke-end@2x.png') !important;
        }
    }
}

#main-window[echelon-style-4] #appmenu-button-container {
    display: none !important;
}

#main-window[tabsintitlebar][echelon-style-4]:not([sizemode="maximized"]) #toolbar-menubar[autohide="true"][inactive="true"]:not([customizing="true"])+#TabsToolbar .toolbar-items {
    margin-top: 0 !important;
    padding-top: calc(var(--titlebar-height) - 5px) !important;
}

#main-window[sizemode="maximized"][tabsintitlebar][echelon-style-4] #toolbar-menubar[autohide="true"][inactive="true"]:not([customizing="true"])+#TabsToolbar .toolbar-items {
    padding-top: 0 !important;
}

#main-window[sizemode="maximized"][echelon-style-4][tabsintitlebar] #TabsToolbar,
#main-window[sizemode="maximized"][echelon-style-4][tabsintitlebar] #toolbar-menubar {
    padding-left: 0 !important;
}

#main-window[echelon-style-4] .tabbrowser-tab:not([pinned="true"])[label="New Tab"] .tab-icon-image {
    display: none !important;
}

#main-window[echelon-style-4] #tabbrowser-tabs:not([overflow])+#new-tab-button+#alltabs-button {
    display: none !important;
}

#main-window[echelon-style-4] .close-icon,
#main-window[echelon-style-4] .ghost-button {
    background-image: url('images/close_australis.png') !important;
}

#main-window[echelon-style-4] .tabbrowser-tab:not([visuallyselected="true"]) .close-icon {
    background-position-x: 0 !important;
}

#main-window[echelon-style-4] .tabbrowser-tab:not([visuallyselected="true"]) .close-icon:hover {
    background-position-x: -16px !important;
}

#main-window[echelon-style-4] .tabbrowser-tab:not([visuallyselected="true"]) .close-icon:hover:active {
    background-position-x: -32px !important;
}

#main-window[echelon-style-4] #nav-bar {
    height: 42px !important;
}

#main-window[echelon-style-4] #back-button {
    margin-inline-start: 5px !important;
}

#main-window[echelon-style-4] #bookmarks-menu-button::after {
    display: none !important;
}

#main-window[echelon-style-4] .tabbrowser-tab[fadein]:not([pinned]):not([style*="max-width"]) {
    max-width: 210px !important;
}

#main-window[echelon-style-4] #nav-bar {
    background-image: linear-gradient(rgba(253, 253, 253, 0.45), rgba(255, 255, 255, 0)) !important;
}

#main-window[echelon-style-4] toolbar #bookmarks-button {
    width: 31px !important;
    border-right: 0 !important;
    margin-inline-end: 0 !important;
}

#main-window[echelon-style-4]:not([customizing]) #TabsToolbar:not(:-moz-lwtheme) {
    background-image: linear-gradient(to top, hsla(209, 67%, 12%, 0.35) 1px, rgba(0, 0, 0, .05) 1px, transparent 50%) !important;
}

#main-window[privatebrowsingnewindicator][echelon-style-4] {
    .private-browsing-indicator {
        width: 40px !important;
        height: 20px !important;
        display: flex !important;
        margin-inline: 0 !important;
        background-image: url('images/privatebrowsing-mask-titlebar-XPVista7.png') !important;
    }

    &[tabsintitlebar]:not([sizemode="maximized"]) .private-browsing-indicator {
        position: fixed !important;
        top: 1px !important;
        right: calc(var(--caption-mask-width) + 4px) !important;
    }

    // Windows 8+
    &[echelon-appearance-australis-windows8] {
        .private-browsing-indicator {
            top: 0 !important;
            background-image: url('images/privatebrowsing-mask-titlebar.png') !important;
        }
    }

    // Titlebar Disabled
    &:not([tabsintitlebar]) {
        .private-browsing-indicator {
            width: 48px !important;
            height: 32px !important;
            background-image: url('images/privatebrowsing-mask-tabstrip-XPVista7.png') !important;
        }

        // Windows 8+
        &[echelon-appearance-australis-windows8] {
            .private-browsing-indicator {
                background-image: url('images/privatebrowsing-mask-tabstrip.png') !important;
            }
        }
    }

    // Basic Theme & XP 
    @media not (-moz-windows-compositor) {
        &[tabsintitlebar]:not([sizemode="maximized"]) .private-browsing-indicator {
            width: 48px !important;
            height: 32px !important;
            top: 0 !important;
            background-image: url('images/privatebrowsing-mask-titlebar-XPVista7-tall.png') !important;
        }
    }
}

/* Hide Add to Bookmarks button if the user is not using Style 4 */

#bookmarks-button {
    display: none !important;
}

#main-window:is([echelon-style-4]) #bookmarks-button {
    display: flex !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#main-window[echelon-style-4] toolbar #bookmarks-button+#bookmarks-menu-button {
    width: 30px !important;
    margin-inline-start: 0 !important;
    position: relative !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

#main-window[echelon-style-4] toolbar #bookmarks-button+#bookmarks-menu-button::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: calc(100% - 4px);
    background-color: #BDCAD9;
    outline: 1px solid rgb(255 255 255 / 25%);
    position: absolute;
    left: -1px;
    transition: all 250ms ease-in-out;
}

#main-window[echelon-style-4] toolbar #bookmarks-button:hover+#bookmarks-menu-button::before,
#main-window[echelon-style-4] toolbar #bookmarks-menu-button:hover::before {
    height: 100%;
    opacity: 0;
}

#main-window[echelon-style-4] .urlbarView-title {
    font-size: 105% !important;
}

#main-window[echelon-style-4] .urlbarView-row-inner strong {
    text-decoration: none !important;
}

#main-window[echelon-style-4] .tab-throbber:not([pinned]),
#main-window[echelon-style-4] .tab-icon-pending:not([pinned]),
#main-window[echelon-style-4] .tab-icon-image:not([pinned]),
#main-window[echelon-style-4] .tab-sharing-icon-overlay:not([pinned]) {
    margin-inline-end: 6px !important;
}

#main-window[echelon-style-4] #tabs-newtab-button .toolbarbutton-icon,
#main-window[echelon-style-4] .tab-icon-stack {
    margin-top: 1px !important;
}

#main-window[echelon-style-4] #star-button-box {
    display: none !important;
}

@media (-moz-windows-classic) {
    #main-window[echelon-style-4] #tabs-newtab-button .toolbarbutton-icon {
        background-image: url("images/newtab-inverted.png") !important;
        background-position-x: 0 !important;
    }

    #main-window[echelon-style-4] .tabbrowser-tab:not([visuallyselected=true]) .close-icon {
        background-position-x: -48px !important;
    }
}

/* Blue Style */
#main-window[echelon-appearance-blue] {
    &:not(:-moz-lwtheme) {

        &[echelon-style-4] .tab-background:is([selected], [multiselected]),
        &[echelon-style-4] .tab-background:is([selected], [multiselected]) .tab-context-line::before,
        &[echelon-style-4] .tab-background:is([selected], [multiselected]) .tab-context-line::after {
            background-color: var(--toolbar-custom-color) !important;
        }
    }

    &[echelon-style-4] toolbar #bookmarks-button+#bookmarks-menu-button::before {
        background-color: #BDCAD9;
        outline: 1px solid rgb(255 255 255 / 25%);
    }

    &[echelon-appearance-australis-enablefog] {

        &[tabsintitlebar][echelon-style-4] #TabsToolbar:not(:-moz-lwtheme)::after {
            content: '';
            display: flex;
            box-shadow: 0 0 30px 30px rgba(174, 189, 204, 0.85);
            height: 0;
            margin: 0 60px;
            position: absolute;
            pointer-events: none;
            top: 50%;
            width: -moz-available;
            z-index: -1;
            order: 1001;
        }

    }

}

/* Windows 8+ Style */
@media not (-moz-windows-classic) {
    #main-window:not([echelon-appearance-blue], [echelon-appearance-xp])[echelon-appearance-australis-windows8][echelon-style-4] {

        &[echelon-style-1] #urlbar-background,
        &[echelon-style-1] #searchbar,
        &[echelon-style-1] #stop-reload-button {
            border-radius: 0 !important;
        }

        toolbar:is(#nav-bar, #TabsToolbar) .toolbarbutton-1:not(#back-button, #forward-button, #tabs-newtab-button, #reload-button.unified, #stop-button.unified, #go-button.unified, #appmenu-button, #alltabs-button) {
            border-radius: 0 !important;
        }

        toolbar:is(#nav-bar, #TabsToolbar) .toolbarbutton-1:not(#back-button, #forward-button, #tabs-newtab-button, #reload-button.unified, #stop-button.unified, #go-button.unified, #appmenu-button, #alltabs-button):not([disabled]):hover,
        toolbar #bookmarks-button:hover+#bookmarks-menu-button,
        #bookmarks-button:has(+ #bookmarks-menu-button:hover) {
            background-color: hsla(210, 4%, 10%, .08) !important;
            background-image: none !important;
            box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .2) !important;
            border-color: hsla(210, 54%, 20%, .3) hsla(210, 54%, 20%, .35) hsla(210, 54%, 20%, .4) !important;
        }

        toolbar:is(#nav-bar, #TabsToolbar) .toolbarbutton-1:not(#back-button, #forward-button, #tabs-newtab-button, #reload-button.unified, #stop-button.unified, #go-button.unified, #appmenu-button, #alltabs-button):not([disabled]):hover:active,
        toolbar:is(#nav-bar, #TabsToolbar) .toolbarbutton-1:not(#back-button, #forward-button, #tabs-newtab-button, #reload-button.unified, #stop-button.unified, #go-button.unified, #appmenu-button, #alltabs-button):not([disabled])[open] {
            background-color: hsla(210, 4%, 10%, .12) !important;
            border-color: hsla(210, 54%, 20%, .15) hsla(210, 54%, 20%, .2) hsla(210, 54%, 20%, .25) !important;
            border-top-color: hsla(210, 4%, 10%, .2) !important;
            box-shadow: 0 1px 0 0 hsla(210, 4%, 10%, .1) inset !important;
            transition-duration: 10ms !important;
            background-image: none !important;
        }

        #back-button {
            width: 32px !important;
            min-width: 32px !important;
            height: 32px !important;
            border: 1px solid hsla(210, 4%, 10%, .25) !important;
            background-clip: padding-box !important;
            background-image: none !important;
            background-color: hsla(210, 25%, 98%, .08) !important;
            box-shadow: none !important;
            transition-property: background-color, border-color !important;
            transition-duration: 250ms !important;
        }

        #back-button:not([disabled="true"]):not([open="true"]):not(:active):hover {
            background-color: hsla(210, 4%, 10%, .08) !important;
            box-shadow: none !important;
        }

        #back-button:not([disabled="true"]):hover:active,
        #back-button[open="true"] {
            background-color: hsla(210, 4%, 10%, .12) !important;
            box-shadow: 0 1px 0 0 hsla(210, 80%, 20%, .1) inset !important;
        }

        #forward-button {
            box-shadow: none !important;
            background-image: none !important;
            border-color: hsla(210, 4%, 10%, .1) !important;
        }

        #forward-button:not([open="true"]):hover {
            background-color: hsla(210, 4%, 10%, .08) !important;
            border-color: hsla(210, 4%, 10%, .1) !important;
        }

        #forward-button:not([disabled="true"]):hover:active,
        #forward-button[open="true"] {
            background-image: none !important;
            background-color: hsla(210, 4%, 10%, .12) !important;
            box-shadow: 0 1px 0 0 hsla(210, 80%, 20%, .1) inset !important;
            border-color: hsla(210, 54%, 20%, .15) hsla(210, 54%, 20%, .2) hsla(210, 54%, 20%, .25) !important;
            border-top-color: hsla(210, 4%, 10%, .2) !important;
        }
    }
}

/** ECHELON STYLE 5 (Firefox 56) **/

#main-window[echelon-style-5] {
    #PlacesToolbar {
        padding-inline: 5px !important;
    }

    // I don't fw complex selectors heavy

    &[echelon-style-3] {
        #stop-reload-button {
            width: unset !important;
            border-radius: 0 !important;
        }

        #urlbar-background,
        #searchbar {
            border-radius: 0 !important;
            padding: 1px !important;
        }

        #urlbar:not([usertyping="true"]) #identity-box:not(.localResource).chromeUI {
            background-image: none !important;
        }

        #identity-box:not(.localResource).chromeUI {
            background-image: none !important;
            border-inline-end: 1px solid var(--urlbar-separator-color) !important;
            border-image: linear-gradient(transparent 15%, var(--urlbar-separator-color) 15%, var(--urlbar-separator-color) 85%, transparent 85%) !important;
            border-image-slice: 1 !important;
        }

        #identity-box:not(.chromeUI) #identity-icon {
            background-image: none !important;
            list-style-image: url('images/ff56/identity-icon.svg#normal') !important;
        }
    }

    #reload-button.unified,
    #stop-button.unified,
    #go-button.unified {
        width: unset !important;
        height: 100% !important;
        padding: 0 9px !important;
        margin-inline-start: 5px !important;
        border-inline-start: 1px solid var(--urlbar-separator-color) !important;
        border-image: linear-gradient(transparent 15%, var(--urlbar-separator-color) 15%, var(--urlbar-separator-color) 85%, transparent 85%) !important;
        border-image-slice: 1 !important;

        .toolbarbutton-icon {
            background-image: url('images/ff56/reload-stop-go.png') !important;
        }
    }

    #urlbar-input-container::after {
        background-image: url('images/ff56/urlbar-history-dropmarker.png') !important;
        transition: opacity 0.15s ease;
    }

    #urlbar:not(:hover, [breakout-extend]) #urlbar-input-container::after {
        opacity: 0 !important;
    }

    #page-action-buttons {
        display: none !important;
    }

    .searchbar-search-button {
        margin-inline-end: 2px !important;

        .searchbar-search-icon-overlay {
            display: none !important;
        }

        .searchbar-search-icon {
            width: 20px !important;
            height: 20px !important;
            list-style-image: none !important;
            background-image: url('images/ff56/search-indicator.png') !important;
        }

        &:hover {
            .searchbar-search-icon {
                background-position-x: -20px !important;
            }

            &:active .searchbar-search-icon {
                background-position-x: -40px !important;
            }
        }
    }

    .search-go-button {
        width: 14px !important;
        height: 14px !important;
        background-image: url('images/ff56/reload-stop-go.png') !important;
        background-position-x: -28px !important;

        &[hidden="true"] {
            display: none !important;
        }

        :hover {
            background-position-y: -14px !important;

            &:active {
                background-position-y: -28px !important;
            }
        }

    }

    .tabbrowser-tab:first-of-type:last-of-type .tab-close-button {
        display: flex !important;
    }

    .tabbrowser-tab::before,
    .tabbrowser-tab::after,
    .tabbrowser-tab:hover+.tabbrowser-tab::before,
    #tabbrowser-arrowscrollbox-periphery::before,
    .tabbrowser-tab:hover+#tabbrowser-arrowscrollbox-periphery::before {
        border-left: 1px solid !important;
        border-image: linear-gradient(transparent 6px,
                currentColor 6px,
                currentColor calc(100% - 5px),
                transparent calc(100% - 5px)) !important;
        background-image: none !important;
        border-image-slice: 1 !important;
        width: 1px !important;
        box-sizing: border-box !important;
        opacity: 0.2 !important;
        margin-inline-start: -1px !important;
    }
}

// Windows 8 and 10 Australis styles
@media not (-moz-windows-classic) {
    #main-window:not([echelon-appearance-blue], [echelon-appearance-xp]) {
        &[echelon-style-5] {
            #tabs-newtab-button .toolbarbutton-icon {
                width: 14px !important;
                height: 14px !important;
                fill: #000 !important;
                background-size: cover !important;
                background-image: url('images/ff56/newtab.svg') !important;
            }

            #tabs-newtab-button:hover:active .toolbarbutton-icon,
            #tabs-newtab-button[open] .toolbarbutton-icon {
                background-position-x: 0 !important;
            }

            .close-icon {
                width: 20px !important;
                height: 20px !important;
                background-image: url('images/ff56/close.png') !important;
            }

            .close-icon:hover,
            .tabbrowser-tab:not([visuallyselected="true"]) .close-icon:hover {
                background-position-x: -20px !important;
            }

            .close-icon:active,
            .tabbrowser-tab:not([visuallyselected="true"]) .close-icon:hover:active {
                background-position-x: -40px !important;
            }

            &[echelon-appearance-australis-windows10] {

                #urlbar,
                #searchbar {
                    --urlbar-height: 28px !important;
                    --urlbar-toolbar-height: 28px !important;
                }

                #back-button {
                    margin-inline-end: -8px !important;
                }

                #forward-button {
                    min-height: 28px !important;
                }

                #forward-button:not(:hover)[disabled="true"]+#urlbar-container #urlbar-background,
                #forward-button:not(:hover)[disabled="true"]+#urlbar-container #urlbar-input-container {
                    -webkit-mask: url('images/ff56/forward-button-url-mask.svg') !important;
                }

                #stop-reload-button {
                    height: 28px !important;

                    toolbarbutton {
                        align-self: center;
                    }
                }

                .searchbar-textbox,
                .urlbar-input-box {
                    font-size: 115% !important;
                }
            }
        }
    }
}

@media screen and (min-height: 600px) {
    #main-window[echelon-style-5] .urlbarView-results[wrap]>.urlbarView-row>.urlbarView-row-inner>.urlbarView-no-wrap {
        max-width: unset !important;
        flex-basis: 0 !important;
    }
}

/** BASIC THEME **/
@media not (-moz-windows-compositor) {
    #main-window:not([echelon-appearance-xp]) .titlebar-buttonbox-container {
        // I don't think this looks good on XP themes, so I disabled it.
        padding-top: calc(var(--padded-border) + 1px) !important;
    }

    #main-window[echelon-appearance-xp] .titlebar-buttonbox-container {
        // hack
        top: calc(var(--padded-border) + 5px) !important;
    }

    #main-window[echelon-appearance-xp][sizemode="maximized"] .titlebar-buttonbox-container {
        top: 4px !important;
    }

    #main-window:not([echelon-appearance-xp]) #appmenu-button-container {
        height: calc(var(--titlebar-height) + 6px) !important;
    }

    #nav-bar,
    :root[echelon-style-4] #nav-bar,
    #PersonalToolbar,
    #main-window[sizemode="normal"] #browser,
    #customization-container {
        border-left: 0 !important;
        border-right: 0 !important;
        border-bottom: 0 !important;
        border-radius: 0 !important;
    }

    #TabsToolbar {
        padding-inline: 0 !important;
    }

    #navigator-toolbox::after {
        width: 100% !important;
        left: 0 !important;
    }

    @media (-moz-windows-classic) {

        #main-window[echelon-appearance-xp] .titlebar-buttonbox-container,
        #main-window:not([echelon-appearance-xp]) .titlebar-buttonbox-container {
            top: calc(var(--padded-border) + 5px) !important;
        }
    }
}

/** APPEARANCE ON WINDOWS XP **/

#main-window[echelon-appearance-xp] {
    background-color: -moz-Dialog !important;

    ::placeholder {
        opacity: 1 !important;
    }

    #appmenu-button-container {
        border: 0 !important;
        margin-bottom: 5px !important;
        z-index: 1 !important;
    }

    #TabsToolbar:not(:-moz-lwtheme) {
        background-image: none !important;
    }

    &:not([lwtheme="true"]) {

        &:not([echelon-style-4], [sizemode="maximized"]) #TabsToolbar,
        &:not([echelon-style-4]) #toolbar-menubar {
            background-color: -moz-Dialog !important;
        }
    }

    &:not([echelon-style-4][tabsintitlebar]) #TabsToolbar:not(:-moz-lwtheme) {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.05) 1px, transparent 50%) !important;
    }

    .search-go-button,
    .textbox-search-sign {
        background-image: url('images/xp/Search-Glass.png') !important;
    }

    .tab-background,
    #tabs-newtab-button {
        background-image: linear-gradient(hsla(51, 34%, 89%, .9), hsla(51, 15%, 79%, .9) 1px, hsla(51, 9%, 68%, .9));
    }

    .tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"], [multiselected]),
    #tabs-newtab-button:hover,
    #tabs-newtab-button[open] {
        background-image: linear-gradient(hsla(51, 34%, 100%, .9), hsla(51, 15%, 94%, .9) 1px, hsla(51, 9%, 83%, .9));
    }

    #TabsToolbar {
        padding-inline: 2px !important;
    }

    .bookmark-item[container][query] .toolbarbutton-icon {
        background-image: url('images/xp/query.png') !important;
    }

    .bookmark-item[container] .toolbarbutton-icon,
    .menu-iconic[container] .menu-iconic-icon,
    &:not([echelon-style-3]) .tab-icon-image:not([src]),
    &:not([echelon-style-3]) .tab-icon-image:-moz-broken {
        background-image: url('images/xp/folder-item.png') !important;
    }

    treechildren::-moz-tree-image(container),
    treechildren::-moz-tree-image(title, query, hostContainer) {
        list-style-image: url(images/xp/bookmarksFolder.png) !important;
    }

    treechildren::-moz-tree-image(container, query) {
        list-style-image: url(images/xp/query.png) !important;
    }

    treechildren::-moz-tree-image(title, query, hostContainer) {
        list-style-image: url(images/xp/bookmarksFolder.png) !important;
    }

    treechildren::-moz-tree-image(container, queryFolder_toolbar_____) {
        list-style-image: url(images/xp/bookmarksToolbar.png) !important;
    }

    treechildren::-moz-tree-image(container, OrganizerQuery_BookmarksMenu),
    treechildren::-moz-tree-image(container, queryFolder_menu________) {
        list-style-image: url(images/bookmarksMenu.png) !important;
    }

    treechildren::-moz-tree-image(container, OrganizerQuery_UnfiledBookmarks),
    treechildren::-moz-tree-image(container, queryFolder_unfiled_____) {
        list-style-image: url(images/xp/unsortedBookmarks.png) !important;
    }

    treechildren::-moz-tree-image(query, OrganizerQuery_history____v),
    treechildren::-moz-tree-image(title, query, dayContainer) {
        list-style-image: url(images/xp/calendar.png) !important;
    }

    treechildren::-moz-tree-image(title, query, tagContainer),
    treechildren::-moz-tree-image(query, OrganizerQuery_tags_______v) {
        list-style-image: url("images/xp/tag.png") !important;
    }

    &:not([lwtheme="true"]) {

        &:not([tabs-on-top]) #PersonalToolbar,
        &:not([tabs-on-top]) #TabsToolbar,
        &:not([tabs-on-top]) #nav-bar {
            border-left: 0 !important;
            border-right: 0 !important;
            background-color: -moz-Dialog !important;
        }
    }

    &:not([echelon-style-4][tabsintitlebar]) #main-menubar>menu {
        color: WindowText !important;

        &[_moz-menuactive="true"] {
            color: HighlightText !important;
        }

        &:-moz-window-inactive {
            color: ThreeDShadow !important;
        }
    }

    &[echelon-style-4][tabsintitlebar] #tabs-newtab-button .toolbarbutton-icon {
        background-image: url("images/newtab-inverted.png") !important;
        background-position-x: 0 !important;
    }

    &[echelon-style-4][tabsintitlebar] .tabbrowser-tab:not([visuallyselected=true]) .close-icon {
        background-position-x: -48px !important;
    }

    &[echelon-style-4][tabsintitlebar] #toolbar-menubar:not([inactive="true"]) {
        padding-block: 4px !important;
    }

    /* Hack to have the titlebar image because the bottom part of it's image is hidden */
    &:not([echelon-style-4])[tabsintitlebar] #titlebar::before {
        content: '';
        display: inline-block;
        width: 100%;
        height: var(--titlebar-height);
        appearance: auto;
        pointer-events: none !important;
        -moz-default-appearance: -moz-window-titlebar;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        z-index: 0 !important;

        #toolbar-menubar {
            // Must display over the hack.
            z-index: 1 !important;
        }
    }
}

#main-window[echelon-style-4][tabsintitlebar] #toolbar-menubar:not([inactive="true"])+#TabsToolbar .toolbar-items {
    margin-top: 4px !important;
}

#main-window[sizemode="maximized"][echelon-appearance-xp][echelon-style-4][tabsintitlebar] #titlebar {
    margin-top: -4px;
}

#main-window[echelon-appearance-xp][sizemode="maximized"][echelon-style-4][tabsintitlebar] .titlebar-buttonbox-container {
    top: 0 !important;
}

/* 
  treechildren doesn't support being selected from HTML
*/

#main-window[echelon-appearance-xp] {
    treechildren::-moz-tree-twisty {
        list-style-image: url('images/xp/twisty-clsd.png') !important;
    }

    treechildren::-moz-tree-twisty(open) {
        list-style-image: url('images/xp/twisty-open.png') !important;
    }
}


/** TABS ON BOTTOM **/

#main-window:not([tabs-on-top]) #nav-bar {
    background-image: none !important;
    background-color: transparent !important;
    border: 0 !important;
}

#main-window:not([tabs-on-top], [echelon-appearance-xp]) #TabsToolbar {
    background-clip: padding-box !important;
    border-left: 1px solid rgba(10%, 10%, 10%, .4) !important;
    border-right: 1px solid rgba(10%, 10%, 10%, .4) !important;
    padding-inline: 2px !important;
}

#main-window:not([tabs-on-top], [echelon-appearance-xp], :-moz-lwtheme) #PersonalToolbar {
    border-top-left-radius: var(--toolbar-border-radius) !important;
    border-top-right-radius: var(--toolbar-border-radius) !important;
    border-top: 1px solid rgba(10%, 10%, 10%, .4) !important;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)) !important;
}

#main-window[tabsintitlebar][sizemode="normal"]:not([tabs-on-top]) #titlebar {
    appearance: none !important;
}

#main-window:not([tabs-on-top], [echelon-style-4]) #TabsToolbar:not(:-moz-lwtheme) {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.05) 1px, transparent 50%) !important;
}

#main-window:not([tabs-on-top], [echelon-style-4]) #TabsToolbar:not(:-moz-lwtheme)::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: rgb(0 0 0 / 35%);
    position: absolute;
    left: 0;
    bottom: 1px;
    z-index: 1;
}

#main-window:not([tabs-on-top], [echelon-style-4]) #PersonalToolbar[collapsed="true"]+#TabsToolbar:not(:-moz-lwtheme) {
    border: 0 !important;
    background-color: transparent !important;
}

#main-window:not([tabs-on-top]) #navigator-toolbox::after {
    display: none !important;
}

#main-window:not([tabs-on-top]) #back-button {
    margin-inline-start: 5px !important;
}

@media not (-moz-windows-compositor) {

    #main-window:not([tabs-on-top]) #PersonalToolbar,
    #main-window:not([tabs-on-top]) #TabsToolbar {
        background: transparent !important;
    }

    #main-window:not([tabs-on-top]) #PersonalToolbar {
        border: 0 !important;
    }
}

/* ::::: Classic Theme support ::::: */

@import "partials/tweaks/Echelon.tweaks.classic";

/* ::::: Firefox Channels (Dev Edition, Nightly) ::::: */

@import "partials/tweaks/Echeon.tweaks.fxchannels";

/* ::::: Browser Forks support (Waterfox)  ::::: */

@import "partials/tweaks/Echelon.tweaks.browserforks";

/* ::::: Dark Mode support ::::: */

@import "partials/tweaks/Echelon.tweaks.darkmode";

/* ::::: lwtheme support ::::: */

@import "partials/tweaks/Echelon.tweaks.lwtheme";

/* ::::: Windows eXPerience Mod Luna msstyles fixes ::::: */

:root,
#main-window {
    &[echelon-appearance-experiencelunamsstylesfixes] {

        // Caption buttons are positioned incorrectly when the window is not maximised.
        &[echelon-appearance-xp] .titlebar-buttonbox-container {
            // hack
            top: 0 !important;
        }

        &[echelon-appearance-xp][sizemode="maximized"] .titlebar-buttonbox-container {
            top: 4px !important;
        }

        // Menu sizing is completely fucked, so it must be disabled altogether. This doesn't
        // work on about:config at the moment, but other pages are flawless.
        @media not (-moz-windows-non-native-menus) {
            menupopup {
                appearance: none !important;
                padding: 1px !important;
            }
        }
    }
}