/** TOOLBAR ICONS **/

#main-window #back-button {
  list-style-image: url("images/icons/back_large.png") !important;
}

#context-back {
  list-style-image: url("images/icons/back_small.png") !important;
}

#main-window[echelon-style-4] #back-button {
  list-style-image: url("images/icons/australis/back_large-aero.png") !important;
}

#main-window #forward-button,
#context-forward {
  list-style-image: url("images/icons/forward.png") !important;
}

#stop-button:not(.unified) {
  list-style-image: url('images/icons/stop.png') !important;
}

#home-button {
  list-style-image: url("images/icons/home.png") !important;
}

#home-button {
  list-style-image: url("images/icons/home.png") !important;
}

#main-window[echelon-style-3] #home-button {
  list-style-image: url("images/icons/home_new.png") !important;
}

#bookmarks-menu-button {
  list-style-image: url("images/icons/bookmarks.png") !important;
}

#main-window[echelon-style-4] #bookmarks-menu-button {
  list-style-image: url("images/icons/bookmarks_australis.png") !important;
}

#bookmarks-button,
#context-bookmarkpage {
  list-style-image: url("images/icons/add-to-bookmarks_australis.png") !important;
}

#context-bookmarkpage[starred="true"] {
  list-style-image: url("images/icons/add-to-bookmarks_starred_australis.png") !important;
}

#history-panelmenu {
  list-style-image: url("images/icons/history.png") !important;
}

#print-button {
  list-style-image: url("images/icons/print.png") !important;
}

#new-window-button {
  list-style-image: url("images/icons/new-window.png") !important;
}

:not(#TabsToolbar-customization-target, toolbarpaletteitem) > #new-tab-button {
  list-style-image: url("images/icons/new-tab.png") !important;

  #main-window[echelon-style-4] & {
    list-style-image: url("images/icons/new-tab-australis.png") !important;
  }
}

#zoom-out-button {
  list-style-image: url("images/icons/zoom-out.png") !important;
}

#zoom-in-button {
  list-style-image: url("images/icons/zoom-in.png") !important;
}

#panic-button {
  list-style-image: url("images/icons/refresh.png") !important;
}

#cut-button {
  list-style-image: url("images/icons/cut.png") !important;
}

#copy-button {
  list-style-image: url("images/icons/copy.png") !important;
}

#paste-button {
  list-style-image: url("images/icons/paste.png") !important;
}

#unified-extensions-button {
  list-style-image: url("images/icons/extensions.png") !important;
}

#downloads-indicator-anchor {
  list-style-image: url("images/icons/downloads.png") !important;
}

#downloads-button[attention] #downloads-indicator-anchor {
  list-style-image: url("images/icons/download-glow.png") !important;
}

#context-reload {
  list-style-image: url("images/icons/reload.png") !important;
}

#context-stop {
  list-style-image: url("images/icons/stop.png") !important;
}

#save-to-pocket-button {
  list-style-image: url("images/icons/pocket.png") !important;

  &[open] {
    list-style-image: url("images/icons/pocket_active.png") !important;
  }

  // Pre-load the fucking open state icon
  &::before {
    content: '';
    display: inline-block;
    background-image: url("images/icons/pocket_active.png"),
                      url("images/icons/inverted/pocket_active.png");
  }
}

#developer-button {
  list-style-image: url("images/icons/developer.png") !important;
}

#preferences-button {
  list-style-image: url("images/icons/settings.png") !important;
}

#fullscreen-button {
  list-style-image: url("images/icons/fullscreen.png") !important;
}

#characterencoding-button {
  list-style-image: url("images/icons/encoding.png") !important;
}

#email-link-button {
  list-style-image: url("images/icons/email.png") !important;
}

#open-file-button {
  list-style-image: url("images/icons/open.png") !important;
}

#find-button {
  list-style-image: url("images/icons/search.png") !important;
}

#save-page-button {
  list-style-image: url("images/icons/save.png") !important;
}

#sidebar-button {
  list-style-image: url("images/icons/sidebar.png") !important;
}

#privatebrowsing-button {
  list-style-image: url("images/icons/private_browsing.png") !important;
}

#PlacesChevron, #nav-bar-overflow-button {
  list-style-image: url("images/icons/chevron.png") !important;
}

#logins-button {
  list-style-image: url("images/icons/login.png") !important;
}

#screenshot-button {
  list-style-image: url("images/icons/screenshot.png") !important;
}

#import-button {
  list-style-image: url("images/icons/import.png") !important;
}

#library-button {
  list-style-image: url("images/icons/library.png") !important;
}

#sync-button {
  list-style-image: url("images/icons/sync_tabs.png") !important;
}

#PanelUI-menu-button {
  list-style-image: url("images/icons/hamburger.png") !important;
}

#echelon-button {
  list-style-image: url("images/icons/echelon.png") !important;
}

:root[fxastatus="not_configured"] {
  --avatar-image-url: url("chrome://userchrome/content/images/icons/avatar-empty.png") !important;
}

/* Windows 8+ Icons for Australis Style. */
@media not (-moz-windows-classic) {
  #main-window:not([echelon-appearance-blue], [echelon-appearance-xp])[echelon-appearance-australis-windows8][echelon-style-4] {
    #back-button,
    #context-back {
      list-style-image: url("images/icons/australis/back_large.png") !important;
    }

    #forward-button,
    #context-forward {
      list-style-image: url("images/icons/australis/forward.png") !important;
    }

    #stop-button:not(.unified) {
      list-style-image: url('images/icons/australis/stop.png') !important;
    }
  
    #home-button {
      list-style-image: url("images/icons/australis/home.png") !important;
    }

    #home-button {
      list-style-image: url("images/icons/australis/home.png") !important;
    }

    #bookmarks-menu-button {
      list-style-image: url("images/icons/australis/bookmarks.png") !important;
    }

    #bookmarks-button,
    #context-bookmarkpage {
      list-style-image: url("images/icons/australis/add-to-bookmarks.png") !important;
    }
    
    #context-bookmarkpage[starred="true"] {
      list-style-image: url("images/icons/australis/add-to-bookmarks_starred.png") !important;
    }

    #history-panelmenu {
      list-style-image: url("images/icons/australis/history.png") !important;
    }

    #print-button {
      list-style-image: url("images/icons/australis/print.png") !important;
    }

    #new-window-button {
      list-style-image: url("images/icons/australis/new-window.png") !important;
    }
    
    :not(#TabsToolbar-customization-target, toolbarpaletteitem) > #new-tab-button {
      list-style-image: url("images/icons/australis/new-tab.png") !important;
    }

    #zoom-out-button {
      list-style-image: url("images/icons/australis/zoom-out.png") !important;
    }

    #zoom-in-button {
      list-style-image: url("images/icons/australis/zoom-in.png") !important;
    }

    #panic-button {
      list-style-image: url("images/icons/australis/refresh.png") !important;
    }

    #cut-button {
      list-style-image: url("images/icons/australis/cut.png") !important;
    }

    #copy-button {
      list-style-image: url("images/icons/australis/copy.png") !important;
    }

    #paste-button {
      list-style-image: url("images/icons/australis/paste.png") !important;
    }

    #unified-extensions-button {
      list-style-image: url("images/icons/australis/extensions.png") !important;
    }

    #downloads-indicator-anchor {
      list-style-image: url("images/icons/australis/downloads.png") !important;
    }
    
    #context-reload {
      list-style-image: url("images/icons/australis/reload.png") !important;
    }
    
    #context-stop {
      list-style-image: url("images/icons/australis/stop.png") !important;
    }
    
    #save-to-pocket-button {
      fill: #797C80 !important;
      list-style-image: url("images/icons/australis/pocket.svg") !important;
      
      &[open] {
        fill: #ED4255 !important;
      }
    }
    
    #developer-button {
      list-style-image: url("images/icons/australis/developer.png") !important;
    }

    #preferences-button {
      list-style-image: url("images/icons/australis/settings.png") !important;
    }

    #fullscreen-button {
      list-style-image: url("images/icons/australis/fullscreen.png") !important;
    }

    #characterencoding-button {
      list-style-image: url("images/icons/australis/encoding.png") !important;
    }

    #email-link-button {
      list-style-image: url("images/icons/australis/email.png") !important;
    }

    #open-file-button {
      list-style-image: url("images/icons/australis/open.png") !important;
    }

    #find-button {
      list-style-image: url("images/icons/australis/search.png") !important;
    }

    #save-page-button {
      list-style-image: url("images/icons/australis/save.png") !important;
    }

    #sidebar-button {
      list-style-image: url("images/icons/australis/sidebar.png") !important;
    }
    
    #privatebrowsing-button {
      list-style-image: url("images/icons/australis/private_browsing.png") !important;
    }
    
    #PlacesChevron,
    #nav-bar-overflow-button {
      list-style-image: url("images/icons/australis/chevron.png") !important;
    }
    
    #logins-button {
      list-style-image: url("images/icons/australis/login.png") !important;
    }

    #screenshot-button {
      list-style-image: url("images/icons/australis/screenshot.png") !important;
    }

    #import-button {
      list-style-image: url("images/icons/australis/import.png") !important;
    }

    #library-button {
      list-style-image: url("images/icons/australis/library.png") !important;
    }
    
    #sync-button {
      list-style-image: url("images/icons/australis/sync_tabs.png") !important;
    }

    #PanelUI-menu-button {
      list-style-image: url("images/icons/australis/hamburger.png") !important;
    }

    #echelon-button {
      list-style-image: url("images/icons/australis/echelon.png") !important;
    }

    &[fxastatus="not_configured"] {
      --avatar-image-url: url("chrome://userchrome/content/images/icons/avatar-empty.png") !important;
    }
  }
}

/* Inverted icons: Used for dark themes and nav bar with tabs on bottom on FF14 */
#main-window[echelon-style-3]:not([tabs-on-top="true"]) #nav-bar,
#main-window[lwtheme-brighttext="true"] {
  #back-button {
    list-style-image: url("images/icons/inverted/back_large.png") !important;
  }

  #forward-button {
    list-style-image: url("images/icons/inverted/forward.png") !important;
  }

  #reload-button:not(.unified) {
    list-style-image: url('images/icons/inverted/reload.png') !important;
  }

  #stop-button:not(.unified) {
    list-style-image: url('images/icons/inverted/stop.png') !important;
  }

  #home-button {
    list-style-image: url("images/icons/inverted/home.png") !important;
  }

  #bookmarks-menu-button {
    list-style-image: url("images/icons/inverted/bookmarks.png") !important;
  }

  #bookmarks-button {
    list-style-image: url("images/icons/inverted/add-to-bookmarks.png") !important;
  }

  #history-panelmenu {
    list-style-image: url("images/icons/inverted/history.png") !important;
  }

  #print-button {
    list-style-image: url("images/icons/inverted/print.png") !important;
  }
  
  #new-window-button {
    list-style-image: url("images/icons/inverted/new-window.png") !important;
  }

  :not(#TabsToolbar-customization-target, toolbarpaletteitem) > #new-tab-button {
    list-style-image: url("images/icons/inverted/new-tab.png") !important;
  }

  #zoom-out-button {
    list-style-image: url("images/icons/inverted/zoom-out.png") !important;
  }

  #zoom-in-button {
    list-style-image: url("images/icons/inverted/zoom-in.png") !important;
  }

  #panic-button {
    list-style-image: url("images/icons/inverted/refresh.png") !important;
  }

  #cut-button {
    list-style-image: url("images/icons/inverted/cut.png") !important;
  }

  #copy-button {
    list-style-image: url("images/icons/inverted/copy.png") !important;
  }

  #paste-button {
    list-style-image: url("images/icons/inverted/paste.png") !important;
  }

  #unified-extensions-button {
    list-style-image: url("images/icons/inverted/extensions.png") !important;
  }

  #downloads-indicator-anchor {
    list-style-image: url("images/icons/inverted/downloads.png") !important;
  }

  #downloads-button[attention] #downloads-indicator-anchor {
    list-style-image: url("images/icons/download-glow.png") !important;
  }

  #save-to-pocket-button {
    list-style-image: url("images/icons/inverted/pocket.png") !important;
    
    &[open] {
      list-style-image: url("images/icons/inverted/pocket_active.png") !important;
    }
  }

  #developer-button {
    list-style-image: url("images/icons/inverted/developer.png") !important;
  }

  #preferences-button {
    list-style-image: url("images/icons/inverted/settings.png") !important;
  }

  #fullscreen-button {
    list-style-image: url("images/icons/inverted/fullscreen.png") !important;
  }

  #characterencoding-button {
    list-style-image: url("images/icons/inverted/encoding.png") !important;
  }

  #email-link-button {
    list-style-image: url("images/icons/inverted/email.png") !important;
  }

  #open-file-button {
    list-style-image: url("images/icons/inverted/open.png") !important;
  }

  #find-button {
    list-style-image: url("images/icons/inverted/search.png") !important;
  }

  #save-page-button {
    list-style-image: url("images/icons/inverted/save.png") !important;
  }

  #sidebar-button {
    list-style-image: url("images/icons/inverted/sidebar.png") !important;
  }

  #privatebrowsing-button {
    list-style-image: url("images/icons/inverted/print.png") !important;
  }

  #PlacesChevron, #nav-bar-overflow-button {
    list-style-image: url("images/icons/inverted/chevron.png") !important;
  }

  #logins-button {
    list-style-image: url("images/icons/inverted/login.png") !important;
  }
  
  #screenshot-button {
    list-style-image: url("images/icons/inverted/screenshot.png") !important;
  }
  
  #import-button {
    list-style-image: url("images/icons/inverted/import.png") !important;
  }
  
  #library-button {
    list-style-image: url("images/icons/inverted/library.png") !important;
  }
  
  #sync-button {
    list-style-image: url("images/icons/inverted/sync_tabs.png") !important;
  }
  
  #PanelUI-menu-button {
    list-style-image: url("images/icons/inverted/hamburger.png") !important;
  }

  #echelon-button {
    list-style-image: url("images/icons/inverted/echelon.png") !important;
  }
}

#main-window[echelon-style-4][lwtheme-brighttext="true"] #bookmarks-menu-button {
  list-style-image: url("images/icons/inverted/bookmarks_australis.png") !important;
}

#main-window[echelon-style-4][lwtheme-brighttext="true"] #back-button {
  list-style-image: url("images/icons/inverted/back_large_australis.png") !important;
}

#main-window[echelon-style-4][lwtheme-brighttext="true"] :not(#TabsToolbar-customization-target, toolbarpaletteitem) > #new-tab-button {
  list-style-image: url("images/icons/inverted/new-tab-australis.png") !important;
}

#main-window[echelon-style-3]:not([tabs-on-top="true"])[fxastatus="not_configured"] #nav-bar,
#main-window[lwtheme-brighttext="true"][fxastatus="not_configured"] {
  --avatar-image-url: url("chrome://userchrome/content/images/icons/inverted/avatar-empty.png") !important;
}

/* On Australis, different colored toolbar icons were used when using Windows XP. */

#main-window[echelon-style-4][echelon-appearance-xp]:not([echelon-appearance-blue]) {
  #back-button,
  #context-back {
    list-style-image: url("images/icons/xp/back_large.png") !important;
  }

  #forward-button,
  #context-forward {
    list-style-image: url("images/icons/xp/forward.png") !important;
  }

  #stop-button:not(.unified) {
    list-style-image: url('images/icons/xp/stop.png') !important;
  }

  #home-button {
    list-style-image: url("images/icons/xp/home.png") !important;
  }

  #home-button {
    list-style-image: url("images/icons/xp/home.png") !important;
  }

  #bookmarks-menu-button {
    list-style-image: url("images/icons/xp/bookmarks.png") !important;
  }

  #bookmarks-button,
  #context-bookmarkpage {
    list-style-image: url("images/icons/xp/add-to-bookmarks.png") !important;
  }
  
  #context-bookmarkpage[starred="true"] {
    list-style-image: url("images/icons/xp/add-to-bookmarks_starred.png") !important;
  }

  #history-panelmenu {
    list-style-image: url("images/icons/xp/history.png") !important;
  }

  #print-button {
    list-style-image: url("images/icons/xp/print.png") !important;
  }

  #new-window-button {
    list-style-image: url("images/icons/xp/new-window.png") !important;
  }

  :not(#TabsToolbar-customization-target, toolbarpaletteitem) > #new-tab-button {
    list-style-image: url("images/icons/xp/new-tab.png") !important;
  }

  #zoom-out-button {
    list-style-image: url("images/icons/xp/zoom-out.png") !important;
  }

  #zoom-in-button {
    list-style-image: url("images/icons/xp/zoom-in.png") !important;
  }

  #panic-button {
    list-style-image: url("images/icons/xp/refresh.png") !important;
  }

  #cut-button {
    list-style-image: url("images/icons/xp/cut.png") !important;
  }

  #copy-button {
    list-style-image: url("images/icons/xp/copy.png") !important;
  }

  #paste-button {
    list-style-image: url("images/icons/xp/paste.png") !important;
  }

  #unified-extensions-button {
    list-style-image: url("images/icons/xp/extensions.png") !important;
  }

  #downloads-indicator-anchor {
    list-style-image: url("images/icons/xp/downloads.png") !important;
  }
  
  #context-reload {
    list-style-image: url("images/icons/xp/reload.png") !important;
  }
  
  #context-stop {
    list-style-image: url("images/icons/xp/stop.png") !important;
  }
  
  #save-to-pocket-button {
    list-style-image: url("images/icons/xp/pocket.png") !important;
  }
  
  #developer-button {
    list-style-image: url("images/icons/xp/developer.png") !important;
  }

  #preferences-button {
    list-style-image: url("images/icons/xp/settings.png") !important;
  }

  #fullscreen-button {
    list-style-image: url("images/icons/xp/fullscreen.png") !important;
  }

  #characterencoding-button {
    list-style-image: url("images/icons/xp/encoding.png") !important;
  }

  #email-link-button {
    list-style-image: url("images/icons/xp/email.png") !important;
  }

  #open-file-button {
    list-style-image: url("images/icons/xp/open.png") !important;
  }

  #find-button {
    list-style-image: url("images/icons/xp/search.png") !important;
  }

  #save-page-button {
    list-style-image: url("images/icons/xp/save.png") !important;
  }

  #sidebar-button {
    list-style-image: url("images/icons/xp/sidebar.png") !important;
  }
  
  #privatebrowsing-button {
    list-style-image: url("images/icons/xp/private_browsing.png") !important;
  }
  
  #PlacesChevron,
  #nav-bar-overflow-button {
    list-style-image: url("images/icons/xp/chevron.png") !important;
  }
  
  #logins-button {
    list-style-image: url("images/icons/xp/login.png") !important;
  }

  #screenshot-button {
    list-style-image: url("images/icons/xp/screenshot.png") !important;
  }

  #import-button {
    list-style-image: url("images/icons/xp/import.png") !important;
  }

  #library-button {
    list-style-image: url("images/icons/xp/library.png") !important;
  }
  
  #sync-button {
    list-style-image: url("images/icons/xp/sync_tabs.png") !important;
  }

  #PanelUI-menu-button {
    list-style-image: url("images/icons/xp/hamburger.png") !important;
  }

  #echelon-button {
    list-style-image: url("images/icons/xp/echelon.png") !important;
  }

  &[fxastatus="not_configured"] {
    --avatar-image-url: url("chrome://userchrome/content/images/icons/avatar-empty.png") !important;
  }
}