$unified-refresh-buttons: "#reload-button.unified, #stop-button.unified, #go-button.unified";

#navigator-toolbox {
  position: relative !important;
  border-bottom: 0 !important;
  -moz-window-dragging: drag !important;
}

#navigator-toolbox::after {
  content: '';
  display: inline-block;
  width: calc(100% - 2px);
  height: 1px;
  background-color: ThreeDShadow !important;
  position: absolute !important;
  left: 1px !important;
  bottom: 0 !important;
}

#nav-bar {
  background-color: transparent !important;
  background-image: linear-gradient(var(--toolbar-highlight-top) 15%, var(--toolbar-highlight-bottom)) !important;
  height: 38px !important;  
  box-shadow: none !important;
  :root:not([lwtheme-image]) &,
  :root[echelon-style-4] & {
    border-top: 1px solid rgba(10%,10%,10%,.4) !important;
    border-left: 1px solid rgba(10%,10%,10%,.4) !important;
    border-right: 1px solid rgba(10%,10%,10%,.4) !important;
    border-top-left-radius: var(--toolbar-border-radius);
    border-top-right-radius: var(--toolbar-border-radius);
  }
  padding-right: 2px !important;
  padding-bottom: 1px !important;
  align-items: center !important;
}

:root[echelon-style-4] #nav-bar:-moz-lwtheme {
  margin-top: -2px !important;
}

/** TOOLBAR BUTTONS **/

#nav-bar .toolbarbutton-1:not(#back-button, #forward-button, #zoom-out-button, #PanelUI-menu-button, #zoom-in-button, #{$unified-refresh-buttons}, #edit-controls > *, #appmenu-button),
#nav-bar .toolbaritem-combined-buttons:not(.unified-extensions-item) {
  padding: 0 !important;
}

toolbar .toolbarbutton-icon,
toolbar .toolbarbutton-1 > .toolbarbutton-badge-stack {
  padding: 0 !important;
  background-color: transparent !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-text {
  background-color: transparent !important;
}

#nav-bar[mode="icons"] .toolbarbutton-1:not(#back-button, #forward-button, #PanelUI-menu-button, #alltabs-button, #{$unified-refresh-buttons}, #appmenu-button, #bookmarks-menu-button) {
  min-width: 30px !important;
  width: 30px !important;
  height: 24px !important;
}

.toolbarbutton-1 > .toolbarbutton-badge-stack > .toolbarbutton-icon {
  width: revert !important;
}

#main-window #forward-button > .toolbarbutton-icon {
  width: 18px !important;
  height: 18px !important;
}

#nav-bar .toolbarbutton-1:not(#back-button, #forward-button, #tabs-newtab-button, #PanelUI-menu-button, #{$unified-refresh-buttons}, #appmenu-button, .toolbarbutton-combined) {
  margin-inline: 3px !important;

  #main-window[echelon-style-4] &#bookmarks-button {
    margin-inline-end: -1px !important;
  }

  .toolbarbutton-badge-stack {
    width: 100% !important;
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
  }

  & > .toolbarbutton-icon {
    width: 100% !important;
    height: 100% !important;
    padding: 2px 5px !important;
  }
}

.unified-extensions-item-action-button {
  overflow: visible !important;
}

#nav-bar .toolbarbutton-1:not(#tabs-newtab-button, #PanelUI-menu-button, #appmenu-button, #{$unified-refresh-buttons}, #alltabs-button) {
  background: rgba(151,152,153,.05) linear-gradient(rgba(251,252,253,.95), rgba(246,247,248,.47) 49%, rgba(231,232,233,.45) 51%, rgba(225,226,229,.3));
  background-clip: padding-box;
  border-radius: var(--toolbarbutton-border-radius);
  border: 1px solid;
  border-color: rgba(0,0,0,.12) rgba(0,0,0,.19) rgba(0,0,0,.38);
  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset, 0 0 0 2px rgba(255,255,255,.1) inset, 0 1px 0 rgba(0,0,0,.15);
  color: var(--lwt-text-color, black);
  text-shadow: 0 0 2px white;
  align-self: center !important;
  transition: background-color var(--toolbarbutton-transition-duration) var(--toolbarbutton-transition-timingfunction), 
              border-color var(--toolbarbutton-transition-duration) var(--toolbarbutton-transition-timingfunction), 
              box-shadow var(--toolbarbutton-transition-duration) var(--toolbarbutton-transition-timingfunction);
}

.browser-toolbar:not(.titlebar-color) {
  color: var(--lwt-text-color, black) !important;
}

#nav-bar .toolbarbutton-1:not([open], [disabled="true"], #back-button, #PanelUI-menu-button, #tabs-newtab-button, #{$unified-refresh-buttons}, #appmenu-button, #alltabs-button):hover {
  background-color: hsla(190,60%,70%,.5) !important;
  border-color: hsla(190,50%,65%,.8) hsla(190,50%,50%,.8) hsla(190,50%,40%,.8) !important;
  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset, 0 0 0 1.5px rgba(255,255,255,.1) inset, 0 1px 0 rgba(0,0,0,.1), 0 0 3.5px hsl(190,90%,80%) !important;
}

#nav-bar .toolbarbutton-1:not([disabled="true"], #back-button, #PanelUI-menu-button, #tabs-newtab-button, #{$unified-refresh-buttons}, #appmenu-button, #alltabs-button):hover:active,
#nav-bar .toolbarbutton-1:not([disabled="true"], #back-button, #PanelUI-menu-button, #tabs-newtab-button, #alltabs-button)[open],
#main-window #forward-button:not([disabled="true"]):active {
  background-color: transparent !important;
  border-color: rgba(0,0,0,.65) rgba(0,0,0,.55) rgba(0,0,0,.5) !important;
  box-shadow: 0 0 6.5px rgba(0,0,0,.4) inset, 0 0 2px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.4) !important;
  text-shadow: none !important;
}

.toolbarbutton-1[disabled="true"] {
  opacity: 0.8 !important;
}

.toolbarbutton-1[disabled="true"] .toolbarbutton-icon {
  opacity: 0.5 !important;
}

#nav-bar .toolbarbutton-1:not([disabled="true"]):hover:active,
#nav-bar .toolbarbutton-1[open] {
  transition: none !important;
}

#main-window:not([echelon-style-3]) #nav-bar #bookmarks-menu-button {
  width: 35px !important;
  min-width: 35px !important;
  height: 24px !important;
  position: relative !important;

  .toolbarbutton-icon {
    width: 100% !important;
    height: 100% !important;
    padding: 2px 5px !important;
    padding-right: 10px !important;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 3px;
    background-image: url('images/dropdown.png') !important;
    position: absolute;
    top: 10px;
    left: 23px;
  }
}

#main-window[lwtheme-brighttext="true"]:not([echelon-style-3]) #nav-bar #bookmarks-menu-button::after {
  background-image: url('images/dropdown-inverted.png') !important;
}

dropmarker:hover:active:not([disabled="true"]) {
  padding-top: 2px;
  padding-bottom: 0px;
  padding-inline-start: 2px;
  padding-inline-end: 0px;
}

toolbar:not(#nav-bar, #TabsToolbar) .toolbarbutton-1 {
  --toolbarbutton-inner-padding: 3px !important;
  --toolbarbutton-outer-padding: 3px !important;
  align-items: center !important;
  appearance: toolbarbutton !important;
  border: 0 !important;
  background-image: none !important;
  box-shadow: none !important;
  margin-block: 0 !important;
  padding: 0 !important;
  &:not(#zoom-reset-button) {
    min-width: 24px !important;
    width: 24px !important;
  }
  height: 26px !important;
  position: relative;
  overflow: visible !important;

  .toolbarbutton-badge-stack {
    width: calc(100% + 4px) !important;
    height: 100% !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 4px 5px !important;
    position: absolute;
    top: 0;
    left: -2px;
  }

  & > .toolbarbutton-icon {
    width: 28px !important;
    height: 100% !important;
    padding: 4px 5px !important;
    position: absolute;
    top: 0;
    left: -2px;
  }
}

#zoom-reset-button {
  padding: 3px !important;
}

:root[echelon-appearance-blue] toolbar .toolbaritem-combined-buttons > separator {
  appearance: none !important;
  -moz-appearance: none !important;
  width: 3px !important;
  justify-self: stretch !important;
  background-image: linear-gradient(to bottom, hsla(0,0%,100%,0), hsla(0,0%,100%,.3) 40%, hsla(0,0%,100%,.3) 60%, hsla(0,0%,100%,0)),
                    linear-gradient(to bottom, hsla(210,54%,20%,0), hsla(210,54%,20%,.15) 40%, hsla(210,54%,20%,.15) 60%, hsla(210,54%,20%,0)),
                    linear-gradient(to bottom, hsla(0,0%,100%,0), hsla(0,0%,100%,.3) 40%, hsla(0,0%,100%,.3) 60%, hsla(0,0%,100%,0)) !important;
  background-size: 1px, 1px, 1px !important;
  background-position: 0 0, 1px 0, 2px 0 !important;
  background-repeat: no-repeat !important;
  margin-inline-end: 0 !important;
  height: 1.5em !important;
  opacity: 1 !important;
}

/* UNIFIED BACK & FORWARD BUTTONS */

#main-window #back-button {
  min-width: 30px !important;
  min-height: 30px !important;
  border-radius: 10000px !important;
  padding: 0 !important;
  border: none !important;
  background-image: linear-gradient(rgba(251,252,253,.97), rgba(246,247,248,.5) 49%, rgba(231,232,233,.45) 51%, rgba(225,226,229,.2)) !important;
  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset, 0 0 0 2px rgba(255,255,255,.1) inset, 0 0 0 1px rgba(0,0,0,.15), 0 1px 0 rgba(0,0,0,.4), 0 1px 1px rgba(0,0,0,.3), 1px 2px 1px rgba(0,0,0,.2) !important;
  padding: 0 !important;
  position: relative !important;
  z-index: 999 !important;
  margin-inline-start: 4px !important;
}

#main-window #back-button:not([disabled="true"], [open], :active):hover {
  background-color: hsla(190,60%,70%,.5) !important;
  box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset, 0 0 0 2px rgba(255,255,255,.1) inset, 0 0 0 1px hsla(190,50%,40%,.3), 0 1px 0 rgba(0,0,0,.4), 0 1px 1px rgba(0,0,0,.3), 1px 2px 1px rgba(0,0,0,.2), 0 0 5px 1px hsl(190,90%,80%) !important;
}

#main-window #back-button:not([disabled="true"]):hover:active,
#main-window #back-button:not([disabled="true"])[open] {
  box-shadow: 0 0 6.5px rgba(0,0,0,.4) inset, 0 0 2px rgba(0,0,0,.4) inset, 0 0 0 1px rgba(0,0,0,.65), 0 2px 0 rgba(255,255,255,.4) !important;
}

#main-window #back-button .toolbarbutton-icon {
  width: 20px !important;
  height: 20px !important;
}

#main-window #forward-button {
  clip-path: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3CclipPath id='windows-keyhole-forward-clip-path' clipPathUnits='objectBoundingBox'%3E%3Cpath d='M 0,0 C 0.16,0.11 0.28,0.29 0.28,0.5 0.28,0.71 0.16,0.89 0,1 L 1,1 1,0 0,0 z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#windows-keyhole-forward-clip-path") !important;
  min-width: 31px !important;
  min-height: 24px !important;
  padding: 0 !important;
  margin-inline-start: -8px !important;
  border-top-right-radius: var(--toolbarbutton-border-radius) !important;
  border-bottom-right-radius: var(--toolbarbutton-border-radius) !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-left-style: none !important;
  background-image: linear-gradient(rgba(251,252,253,.97), rgba(246,247,248,.5) 49%, rgba(231,232,233,.45) 51%, rgba(225,226,229,.2)) !important;
}

#main-window #forward-button .toolbarbutton-icon {
  margin-inline-start: 6px !important;
}

/* COMBINED TOOLBAR BUTTONS */
/* ZOOM BUTTONS */
#main-window:not([echelon-style-4]) #zoom-controls > :not(#zoom-out-button, #zoom-in-button) {
  display: none !important;
}

toolbar .toolbaritem-combined-buttons {
  margin: 0 !important;
}

:root:not([echelon-appearance-blue]) toolbar .toolbaritem-combined-buttons separator {
  display: none !important;
}

toolbar .toolbaritem-combined-buttons > .toolbarbutton-combined:first-of-type {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: 0 !important;
}

toolbar .toolbaritem-combined-buttons > .toolbarbutton-combined:not(:first-of-type, :last-of-type) {
  border-radius: 0 !important;
  border-right: 0 !important;
}

toolbar .toolbaritem-combined-buttons > .toolbarbutton-combined:last-of-type {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

toolbar .toolbaritem-combined-buttons > .toolbarbutton-combined > .toolbarbutton-icon {
  width: 18px !important;
  height: 18px !important;
}

/* HIDE PANEL UI */

// We can't hide the parent element normally due to the Firefox update
// pop-up not being able to find the button and causes problems.

#main-window:not([echelon-style-4]) {
  #PanelUI-menu-button {
    list-style-image: none !important;
    background-color: transparent !important;
    padding: 0 !important;
  }

  #PanelUI-menu-button .toolbarbutton-badge-stack {
    padding: 0 !important;
    background-color: transparent !important;
  }

  #PanelUI-menu-button .toolbarbutton-icon {
    width: 0 !important;
  }

  #PanelUI-menu-button .toolbarbutton-badge {
    display: none !important;
  }
}

/* DOWNLOADS BUTTON */
#nav-bar:not([urlbar-exceeds-toolbar-bounds]) {
  overflow: visible !important;
}

#downloads-animation-container {
  min-height: 1px;
  min-width: 1px;
  height: 1px;
  margin-bottom: -1px;
  position: relative;
  z-index: 5;
}

/*** Main indicator icon ***/

#downloads-indicator-icon-echelon {
  min-width: 18px;
  min-height: 18px;
}

#downloads-button:not([counter])[attention] > #downloads-indicator-anchor-echelon > #downloads-indicator-progress-area > #downloads-indicator-counter {
  background-image: url("images/icons/download-glow.png") !important;
}

/*** Download notifications ***/

#downloads-indicator-notification {
  opacity: 0;
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  left: -8px;
  top: -8px;
  pointer-events: none;
}

@keyframes downloadsIndicatorNotificationStartRight {
  from { opacity: 0; transform: translate(-128px, 128px) scale(8); }
  20%  { opacity: .85; animation-timing-function: ease-out; }
  to   { opacity: 0; transform: translate(0) scale(1); }
}

@keyframes downloadsIndicatorNotificationStartLeft {
  from { opacity: 0; transform: translate(128px, 128px) scale(8); }
  20%  { opacity: .85; animation-timing-function: ease-out; }
  to   { opacity: 0; transform: translate(0) scale(1); }
}

#downloads-notification-anchor[notification="start"] > #downloads-indicator-notification {
  background-image: url("images/download-notification-start.png");
  animation-name: downloadsIndicatorNotificationStartRight;
  animation-duration: 1s;
}

#downloads-notification-anchor[notification="start"]:-moz-locale-dir(rtl) > #downloads-indicator-notification {
  animation-name: downloadsIndicatorNotificationStartLeft;
}

@keyframes downloadsIndicatorNotificationFinish {
  from { opacity: 0; transform: scale(1); }
  20%  { opacity: .65; animation-timing-function: ease-in; }
  to   { opacity: 0; transform: scale(8); }
}

#downloads-notification-anchor[notification="finish"] > #downloads-indicator-notification {
  background-image: url("images/download-notification-finish.png");
  animation-name: downloadsIndicatorNotificationFinish;
  animation-duration: 1s;
}

/*** Progress bar and text ***/

#downloads-indicator-counter {
  height: 9px;
  margin: -3px 0px 0px 0px;
  color: hsl(0,0%,30%);
  text-shadow: hsla(0,0%,100%,.5) 0 1px;
  font-size: 9px;
  line-height: 9px;
  text-align: center;
}

#downloads-indicator-counter:-moz-lwtheme-brighttext {
  color: white;
  text-shadow: 0 0 1px rgba(0,0,0,.7),
               0 1px 1.5px rgba(0,0,0,.5);
}

#downloads-indicator-progress {
  width: 16px;
  height: 5px;
  min-width: 0;
  min-height: 0;
  margin-top: 1px;
  margin-bottom: 2px;
  border-radius: 2px;
  box-shadow: 0 1px 0 hsla(0,0%,100%,.4);
}

#downloads-indicator-progress > .progress-bar {
  background-clip: padding-box, border-box;
  background-color: rgb(90, 201, 66);
  background-image: linear-gradient(transparent 1px, rgba(255, 255, 255, 0.4) 1px, rgba(255, 255, 255, 0.4) 2px, transparent 2px), none;
  border: 1px solid;
  border-color: rgba(0,43,86,.6) rgba(0,43,86,.4) rgba(0,43,86,.4);
  border-radius: 2px 0 0 2px;
}

#downloads-indicator-progress > .progress-remainder {
  -moz-appearance: none;
  min-width: 0;
  min-height: 0;
  background-image: linear-gradient(#505050, #575757);
  border: 1px solid;
  border-color: hsla(0,0%,0%,.6) hsla(0,0%,0%,.4) hsla(0,0%,0%,.4);
  -moz-border-start: none;
  border-radius: 0 2px 2px 0;
}

#downloads-button:not([progress="true"]) #downloads-indicator-progress-area,
#downloads-button[progress="true"] #downloads-indicator-icon-echelon {
  display: none !important;
}

.bookmark-item:not([container]) {
  list-style-image: url("chrome://userchrome/content/images/defaultFavicon.png") !important;

  :root[echelon-appearance-xp] & {
    list-style-image: url("chrome://userchrome/content/images/xp/defaultFavicon.png") !important;
  }
  
  :root[echelon-style-3] & {
    list-style-image: url("chrome://userchrome/content/images/defaultFavicon-new.png") !important;
  }

  :root[echelon-style-5] & {
    list-style-image: url("chrome://userchrome/content/images/ff56/defaultFavicon.png") !important;
  }
}

.urlbarView-favicon[src="chrome://global/skin/icons/defaultFavicon.svg"],
.urlbarView-favicon.default-favicon {
  content: url("chrome://userchrome/content/images/defaultFavicon.png") !important;

  :root[echelon-appearance-xp] & {
    content: url("chrome://userchrome/content/images/xp/defaultFavicon.png") !important;
  }

  :root[echelon-style-3] & {
    content: url("chrome://userchrome/content/images/defaultFavicon-new.png") !important;
  }

  :root[echelon-style-5] & {
    content: url("chrome://userchrome/content/images/ff56/defaultFavicon.png") !important;
  }
}

.toolbarbutton-badge-stack,
#PersonalToolbar {
  overflow: visible !important;
}

.toolbarbutton-badge {
  position: absolute;
  top: -3px;
  right: -1px;
  margin: 0 !important;
  margin-inline-end: 0 !important;
  max-width: 28px !important;
  border-radius: 0 !important;
  line-height: 14px !important;
  height: 15px !important;

  toolbar:not(#nav-bar, #TabsToolbar) & {
    transform: translate(2px, -2px) !important;
  }
}