:root {
    --arrowpanel-border-radius: 4px !important;
    --arrowpanel-border-color: hsla(210,4%,10%,.2) !important;

    --arrowpanel-background: #fff !important;
    --arrowpanel-color: #000 !important;

    &:not([echelon-appearance-xp], [echelon-appearance-blue])[echelon-style-4],
    &[echelon-style-5] {
        --arrowpanel-border-radius: 0 !important;
    }
}

panelview {
    border-radius: var(--arrowpanel-border-radius) !important;
}

:is(panel, menupopup):not(#PlacesChevronPopup, #OtherBookmarksPopup)[type="arrow"] {
    &:not([animate="false"]) {
        opacity: 0 !important;
        transform: translateY(-20px) !important;
        transition-property: transform, opacity !important;
        transition-duration: 200ms !important;
        transition-timing-function: ease-out !important;
        will-change: transition, opacity !important;
    
        &[arrowposition^="before"], &[side="bottom"] {
            transform: translateY(20px) !important;
        }

        &[animate="open"], &[animate="cancel"] {
            opacity: 1.0 !important;
            transform: none !important;
        }
    }

    --panel-shadow: 0 0 0 1px var(--arrowpanel-border-color), 0 0 5px rgba(0, 0, 0, .65) !important;
    --panel-shadow-margin: 5px !important;

    :root[echelon-style-4] & {
        --panel-shadow: 0 0 0 1px var(--arrowpanel-border-color), 0 0 5px rgba(0, 0, 0, .35) !important;
    }
}

:root[echelon-style-4]
{
    :is(panel, menupopup):not(#PlacesChevronPopup, #OtherBookmarksPopup)[type="arrow"] {
        &:not([animate="false"]) {
            transform: scale(.4) !important;
            opacity: 0 !important;
            transition-property: transform, opacity !important;
            transition-duration: 0.15s !important;
            transition-timing-function: ease-out !important;
        }

        &[animate="open"],
        &[animate="cancel"] {
            transform: none !important;
        }
        
        &[animate="open"] {
            opacity: 1.0 !important;
        }
    }

    :is(panel, menupopup):not(#PlacesChevronPopup, #OtherBookmarksPopup) {
        &[arrowposition="after_start"]:-moz-locale-dir(ltr),
        &[arrowposition="after_end"]:-moz-locale-dir(rtl) {
            transform-origin: 20px top !important;
        }
    
        &[arrowposition="after_end"]:-moz-locale-dir(ltr),
        &[arrowposition="after_start"]:-moz-locale-dir(rtl) {
            transform-origin: calc(100% - 20px) top !important;
        }
    
        &[arrowposition="before_start"]:-moz-locale-dir(ltr),
        &[arrowposition="before_end"]:-moz-locale-dir(rtl) {
            transform-origin: 20px bottom !important;
        }
    
        &[arrowposition="before_end"]:-moz-locale-dir(ltr),
        &[arrowposition="before_start"]:-moz-locale-dir(rtl) {
            transform-origin: calc(100% - 20px) bottom !important;
        }
    
        &[arrowposition="start_before"]:-moz-locale-dir(ltr),
        &[arrowposition="end_before"]:-moz-locale-dir(rtl) {
            transform-origin: right 20px !important;
        }
    
        &[arrowposition="start_after"]:-moz-locale-dir(ltr),
        &[arrowposition="end_after"]:-moz-locale-dir(rtl) {
            transform-origin: right calc(100% - 20px) !important;
        }
    
        &[arrowposition="end_before"]:-moz-locale-dir(ltr),
        &[arrowposition="start_before"]:-moz-locale-dir(rtl) {
            transform-origin: left 20px !important;
        }
    
        &[arrowposition="end_after"]:-moz-locale-dir(ltr),
        &[arrowposition="start_after"]:-moz-locale-dir(rtl) {
            transform-origin: left calc(100% - 20px) !important;
        }
    }
}

#downloadsPanel-mainView {
    font: revert !important;
    padding: 0 !important;
    min-width: unset !important;
}

#downloadsListBox,
#unified-extensions-view .panel-subview-body {
    padding: 4px !important;
}

#downloadsFooterButtons toolbarseparator,
#unified-extensions-view toolbarseparator,
#unified-extensions-view .panel-header,
#emptyDownloads {
    display: none !important;
}

.downloadsPanelFooterButton,
#unified-extensions-manage-extensions {
    min-height: 44px !important;
    background-color: transparent !important;
    color: -moz-nativehyperlinktext !important;
    cursor: pointer !important;
    transition-duration: 150ms !important;
    transition-property: background-color !important;
    border-radius: 0 !important;
    border-bottom-left-radius: var(--arrowpanel-border-radius) !important;
    border-bottom-right-radius: var(--arrowpanel-border-radius) !important;
    &,
    .button-box {
        justify-content: center !important;
    }
    .button-text {
        display: inline-block !important;
        flex: 1 !important;
    }
}

#downloadsPanel[hasdownloads="true"] .downloadsPanelFooterButton,
#unified-extensions-manage-extensions {
    background-color: #f1f5fb !important;
    box-shadow: 0px 1px 2px rgb(204,214,234) inset !important;
}

:root:not([echelon-appearance-blue], [echelon-appearance-xp])[echelon-style-4]
{
    #downloadsPanel[hasdownloads="true"] .downloadsPanelFooterButton,
    #unified-extensions-manage-extensions {
        background-color: hsla(210,4%,10%,.04) !important;
        box-shadow: 0 1px 0 hsla(210,4%,10%,.08) inset !important;
        &:hover {
            background-color: hsla(210,4%,10%,.05) !important;
        }
        &:hover:active {
            background-color: hsla(210,4%,10%,.1) !important;
            box-shadow: 0 2px 0 0 hsla(210,4%,10%,.1) inset !important;
        }
    }
    
}

:root[echelon-appearance-xp] {
    #downloadsPanel[hasdownloads="true"] .downloadsPanelFooterButton,
    #unified-extensions-manage-extensions {
        background-color: -moz-Dialog !important;
        box-shadow: none !important;
    }
}

#downloadsListBox > richlistitem,
#unified-extensions-area toolbaritem {
    border-radius: 3px !important;
    min-height: 84px !important;
    border: 1px solid transparent !important;
    margin: 0 !important;
    cursor: pointer !important;

    &:hover,
    &[state="1"][exists]:hover,
    &[state="1"][exists].hoveringMainArea:hover {
        background-color: transparent !important;
        border: 1px solid hsl(213,45%,65%) !important;
        box-shadow: 0 0 0 1px hsla(0,0%,100%,.5) inset,
                    0 1px 0 hsla(0,0%,100%,.3) inset !important;
        background-image: linear-gradient(hsl(212,86%,92%), hsl(212,91%,86%)) !important;
    }

    &:not(:last-of-type, :hover) {
        border-radius: 0 !important;
        border-bottom: 1px solid hsla(220,18%,51%,.25) !important;
    }
}

.unified-extensions-list > unified-extensions-item {
    border-top: 1px solid hsla(220,18%,51%,.25) !important;
}

:root:not([echelon-appearance-blue], [echelon-appearance-xp])[echelon-style-4]
{
    #downloadsListBox > richlistitem,
    #unified-extensions-area toolbaritem {
        border-radius: 0 !important;
        border: 0 !important;
    
        &:hover,
        &[state="1"][exists]:hover,
        &[state="1"][exists].hoveringMainArea:hover {
            border: 0 !important;
            background-image: none !important;
            background-color: hsla(210,4%,10%,.08) !important;
            outline: 1px solid hsla(210,4%,10%,.1) !important;
            outline-offset: -1px !important;
        }

        &:hover:active,
        &[state="1"][exists]:hover:active,
        &[state="1"][exists].hoveringMainArea:hover:active {
            background-color: hsla(210,4%,10%,.15) !important;
            outline: 1px solid hsla(210,4%,10%,.15) !important;
            box-shadow: 0 1px 0 0 hsla(210,4%,10%,.05) inset !important;
        }
    
    }
}

:root[echelon-appearance-xp]
{
    #downloadsListBox > richlistitem,
    #unified-extensions-area toolbaritem {
        border-radius: 3px !important;
    
        &:hover,
        &[state="1"][exists]:hover,
        &[state="1"][exists].hoveringMainArea:hover {
            color: HighlightText !important;
            background-color: Highlight !important;
            border: 1px solid Highlight !important;
            box-shadow: none !important;
            background-image: none !important;
        }
    
        &:not(:last-of-type, :hover) {
            border-radius: 0 !important;
            border-bottom: 1px solid hsla(220,18%,51%,.25) !important;
        }
    }

    #downloadsPanel-mainView,
    #downloadsListBox {
        max-width: 348px !important;
    }
}

.downloadMainArea {
    cursor: pointer !important;
    padding-inline-start: 8px !important;
}    

.downloadButton {
    border-radius: 0 !important;
    background-color: transparent !important;
    border: 0 !important;
    margin-inline-end: 5px !important;
    & > .button-box > .button-icon {
        list-style-image: none !important;
        background-image: url('images/buttons.png') !important;
    }
}

#downloadsListBox > richlistitem[state="1"][exists]:hover .downloadButton .button-icon,
#downloadsListBox > richlistitem[state="1"][exists].hoveringMainArea:hover .downloadButton .button-icon,
.downloadButton:hover .button-icon,
#unified-extensions-panel .unified-extensions-item:hover .unified-extensions-item-menu-button > .toolbarbutton-icon {
    background-position-x: -16px !important;
}

#downloadsListBox > richlistitem[state="1"][exists]:hover .downloadButton:hover .button-icon,
#unified-extensions-panel .unified-extensions-item:hover .unified-extensions-item-menu-button:hover > .toolbarbutton-icon {
    background-position-x: -32px !important;
}

.downloadButton:hover:active .button-icon,
#unified-extensions-panel .unified-extensions-item:hover .unified-extensions-item-menu-button:hover:active > .toolbarbutton-icon {
    background-position-x: -48px !important;
}

.downloadIconShow > .button-box > .button-icon {
    background-position-y: -16px !important;
}

.downloadIconRetry > .button-box > .button-icon {
    background-position-y: -32px !important;
}

#unified-extensions-area, .unified-extensions-list {
    toolbaritem, unified-extensions-item {
        min-height: 64px !important;
        margin: 0 !important;
    }
}

#unified-extensions-manage-extensions {
    margin: 0 !important;
    .toolbarbutton-text {
        text-align: center !important;
    }
}
  
.unified-extensions-item-action-button,
.unified-extensions-item-menu-button > .toolbarbutton-icon {
    background-color: transparent !important;
}

.unified-extensions-item-menu-button {
    margin-inline-end: 17px !important;
}

.unified-extensions-item-menu-button > .toolbarbutton-icon {
    padding: 0 !important;
    border: 0 !important;
    list-style-image: none !important;
    background-image: url('images/extension_options.png');
}

.unified-extensions-item-message {
    font-size: calc(100% * 0.9) !important;    
}

/* Search bar popup */
panel[type="autocomplete-richlistbox"] {
    --panel-background: Field !important;
    --panel-border-color: ThreeDShadow !important;
    --panel-shadow: none !important;
}

.searchbar-separator {
    display: none !important;
}

.search-panel-current-engine, .search-one-offs {
    background-color: hsla(0, 0%, 80%, .3) !important;
}

.search-panel-header {
    border-top: 1px solid hsla(210, 4%, 10%, .14) !important;
    border-bottom: 1px solid hsla(210, 4%, 10%, .14) !important;
    color: GrayText !important;

    & > label {
        opacity: 1 !important;
    }
    
    .autocomplete-richlistbox[collapsed="true"] + .searchbar-separator + .search-one-offs & {
        border-top: 0 !important;
    }
}

.search-panel-current-engine {
    margin-top: -8px !important;
    border-top: 0 !important;
    padding-inline-start: 0 !important;
    padding: 3px 6px !important;
}
.search-panel-one-offs-header {
    padding: 3px 6px !important;

    &-label {
        margin-block: 0 !important;
        margin-inline: 0 !important;
    }
}

.searchbar-engine-one-off-item {
    min-width: 48px !important;
    margin-inline: 0 !important;
    border-radius: 0 !important;

    &:hover {
        background-color: hsla(0, 0%, 80%, .45) !important;
    }
}

.search-one-offs {
    margin-bottom: -8px !important;
}

.search-panel-one-offs-container {
    flex-direction: column !important;
}

.search-setting-button {
    align-self: stretch !important;
    border-top: 1px solid hsla(210, 4%, 10%, .14) !important;
    color: GrayText !important;
    
    &::before {
        content: attr(tooltiptext);
        line-height: 32px;
        text-align: center;
        display: block;
        width: 100%;
    }

    &:hover {
        background-color: hsla(0, 0%, 80%, .3) !important;
    }

    .button-icon {
        display: none !important;
    }
}

#PopupSearchAutoComplete {
    .autocomplete-richlistbox[collapsed="true"] {
        display: none !important;
    }

    .ac-type-icon {
        opacity: 0 !important;   
    }

    .ac-site-icon, .ac-type-icon {
        margin-inline-start: 2px !important;
    }

    .autocomplete-richlistitem {
        border: 1px solid transparent !important;
        box-sizing: border-box !important;

        &:hover:not([selected="true"]) {
            background-color: hsla(0, 0%, 80%, .3) !important;
            border-color: hsla(210, 4%, 10%, .14) !important;
        }

        &[selected="true"] {
            background: Highlight !important;
            color: HighlightText !important;
        }
    }
}

/* Bookmarks menu */
menupopup[type="arrow"]:not(#PlacesChevronPopup, #OtherBookmarksPopup) {
    &, menupopup[placespopup] {
        --panel-border-color: transparent !important;
        --panel-padding: 4px 0 0 !important;
        --panel-separator-color: hsla(210, 4%, 10%, .14) !important;
        --arrowpanel-menuitem-margin: 0 4px !important;
        --arrowpanel-menuitem-padding: 0 6px !important;
        --arrowpanel-menuitem-border-radius: 2px !important;

        --panel-shadow: 0 0 5px rgba(0, 0, 0, .65) !important;
        --panel-shadow-margin: 5px !important;

        :root[echelon-style-4] & {
            --panel-shadow: 0 0 5px rgba(0, 0, 0, .35) !important;
        }

        & > :is(menu, menuitem) {
            min-height: 22px !important;
            border: 1px solid transparent !important;

            & > .menu-accel-container > :is(.menu-accel, .menu-iconic-accel) {
                margin-inline-start: .74em !important;
                margin-inline-end: 1.35em !important;
                color: GrayText !important;
            }

            &[_moz-menuactive="true"] {
                border-color: var(--panel-separator-color) !important;
                background-color: hsla(0, 0%, 80%, .3) !important;

                &:active {
                    background-color: hsla(0, 0%, 80%, .45) !important;
                }
            }

            & + menuseparator[hidden="true"]:last-child {
                display: flex !important;
                padding: 0 !important;
                height: 4px !important;
    
                &::before {
                    content: unset !important;
                }
            }
        }

        & > menu > .menu-right {
            fill-opacity: 1 !important;
            fill: MenuText !important;
            list-style-image: url("chrome://userchrome/content/images/menu-arrow.svg") !important;
        }

        & > :is(.menu-iconic, .menuitem-iconic) > .menu-iconic-left {
            margin-inline-end: 3px !important;
        }

        & > :not(.menu-iconic, .menuitem-iconic) > .menu-text {
            margin-inline-start: calc(1.45em + 3px) !important;
        }

        menuseparator {
            margin: 0 !important;
            
            &.bookmarks-actions-menuseparator {
                display: none !important;
            }
        }

        & > menuitem:last-child {
            border: 0 !important;
            border-top: 1px solid var(--panel-separator-color) !important;
            align-items: center !important;
            margin: 4px 0 0 !important;
            min-height: 41px !important;
            padding: 11px 12px !important;

            background-color: hsla(0, 0%, 80%, .3) !important;

            &[_moz-menuactive="true"] {
                background-color: hsla(0, 0%, 80%, .45) !important;

                &:active {
                    background-color: hsla(0, 0%, 80%, .8) !important;
                }
            }
        }
    }
}

menupopup[type="arrow"] menupopup[placespopup] {
    margin-top: -5px !important;
    margin-inline-start: 0 !important;

    &[side="right"] {
        margin-left: -1px !important;
    }

    &[side="left"] {
        margin-right: -999px !important;
    }
}