/* Fix Menu Bar */

@media not (-moz-windows-classic) {
    html:not([echelon-appearance-xp]) {
        #toolbar-menubar:not(:-moz-lwtheme) {
        text-shadow: 0 0 .5em white, 0 0 .5em white, 0 1px 0 rgba(255,255,255,.4);
        }
    
        #main-menubar:not(:-moz-lwtheme, :-moz-window-inactive) {
        background-color: rgba(255,255,255,.5);
        color: black;
        border-radius: 4px;
        }

        &[sizemode="normal"] #navigator-toolbox:-moz-lwtheme {
        border-top: 1px solid var(--glass-active-border-color);
        padding-top: 1px;
        box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
        }
    
        &[sizemode="normal"] #navigator-toolbox:-moz-lwtheme:-moz-window-inactive {
        border-top-color: var(--glass-inactive-border-color);
        }
    }
}

#main-menubar > menu {
    appearance: menuitem !important;
}

:root[echelon-style-4] {
    #menu_echelonTabsOnTop, #tabsOnTopMenuSeparator {
        display: none;
    }
}