/** THEME WILL USE DEFAULT BROWSER IMAGES IF THERE ISN'T AVAILABLE STYLES FOR THE BROWSER NAME **/

@mixin replace-favicon($old, $new, $urlbar: true) {
    .tab-icon-image[src="#{$old}"] {
        content: url($new) !important;
    }

    @if ($urlbar) {
        #identity-icon[style="list-style-image: url('#{$old}');"] {
            list-style-image: url($new) !important;
        }
    }
}

@mixin default-favicon($url, $maxStyle: 5) {
    @include replace-favicon($url, "images/defaultFavicon.png");

    &[echelon-appearance-xp] {
        @include replace-favicon($url, "images/xp/defaultFavicon.png");
    }

    @if ($maxStyle >= 3) {
        &[echelon-style-3] {
            @include replace-favicon($url, "images/defaultFavicon-new.png", false);
        }
    }

    @if ($maxStyle >= 4) {
        .tab-icon-image[src="#{$url}"]:not([pinned]) {
            display: none !important;
        }
    }
}

#main-window {
    @include replace-favicon("chrome://branding/content/icon32.png", "images/icon16.png");
    @include replace-favicon("chrome://browser/skin/customize.svg", "images/customizeFavicon.ico");
    @include default-favicon("chrome://global/skin/icons/settings.svg", 3);

    &[echelon-appearance-newlogo] {
        @include replace-favicon(
            "chrome://branding/content/icon32.png",
            "images/icon16-new.png"
        );
    }    

    &[echelon-style-4] {
        @include replace-favicon(
            "chrome://global/skin/icons/settings.svg",
            "images/preferences.ico",
            false
        );
    }

    @include replace-favicon("chrome://global/skin/icons/info.svg", "images/warning-16.png");
    @include replace-favicon("chrome://global/skin/icons/warning.svg", "images/warning-16.png");
    &[echelon-appearance-xp] {
        @include replace-favicon("chrome://global/skin/icons/info.svg", "images/xp/warning-16.png");
        @include replace-favicon("chrome://global/skin/icons/warning.svg", "images/xp/warning-16.png");
    }

    @include replace-favicon("chrome://mozapps/skin/extensions/extension.svg", "images/extensionGeneric-16.png");

    &[browser-name="Waterfox"] {
        @include replace-favicon("chrome://branding/content/icon32.png", "images/icons/alt/waterfox/old/info16.png");

        &[echelon-appearance-newlogo] {
            @include replace-favicon("chrome://branding/content/icon32.png", "images/icons/alt/waterfox/info16.png");
        }
    }

    &[browser-name="Superfox"] {
        @include replace-favicon("chrome://branding/content/icon32.png", "images/icons/alt/superfox/info16.png");
    }

    &[update-channel="aurora"] {
        @include replace-favicon("chrome://branding/content/icon32.png", "images/icons/alt/aurora/old/icon16.png");

        &[echelon-appearance-newlogo] {
            @include replace-favicon("chrome://branding/content/icon32.png", "images/icons/alt/aurora/icon16.png");
        }
    }

    &[update-channel="nightly"] {
        @include replace-favicon("chrome://branding/content/icon32.png", "images/icons/alt/aurora/old/icon16.png");

        &[echelon-appearance-newlogo] {
            @include replace-favicon("chrome://branding/content/icon32.png", "images/icons/alt/aurora/icon16.png");
        }
    }

    &[echelon-appearance-xp] {
        @include replace-favicon("chrome://userchrome/content/pages/privatebrowsing/images/Privacy-16.png", "chrome://userchrome/content/pages/privatebrowsing/images/Privacy-16-xp.png");
        @include replace-favicon("chrome://userchrome/content/pages/privatebrowsing/images/question-16.png", "chrome://userchrome/content/pages/privatebrowsing/images/question-16-xp.png");
    }
}