:root {
    --arrowpanel-border-radius: 4px !important;

    &[echelon-style-5] {
        --arrowpanel-border-radius: 0 !important;
    }
}

panel[type="arrow"] {
    &:not([animate="false"]) {
        opacity: 0 !important;
        transform: translateY(-20px) !important;
        transition-property: transform, opacity !important;
        transition-duration: 200ms !important;
        transition-timing-function: ease-out !important;
        will-change: transition, opacity !important;
    
        &[arrowposition*="before"], &[side="bottom"] {
            transform: translateY(20px) !important;
        }

        &[animate="open"], &[animate="cancel"] {
            opacity: 1.0 !important;
            transform: none !important;
        }
    }

    
}

:root[echelon-style-4]
{
    panel[type="arrow"] {
        &:not([animate="false"]) {
            transform: scale(.4) !important;
            opacity: 0 !important;
            transition-property: transform, opacity !important;
            transition-duration: 0.15s !important;
            transition-timing-function: ease-out !important;
        }

        &[animate="open"],
        &[animate="cancel"] {
            transform: none !important;
        }
        
        &[animate="open"] {
            opacity: 1.0 !important;
        }
    }

    panel[arrowposition="after_start"]:-moz-locale-dir(ltr),
    panel[arrowposition="after_end"]:-moz-locale-dir(rtl) {
        transform-origin: 20px top !important;
    }

    panel[arrowposition="after_end"]:-moz-locale-dir(ltr),
    panel[arrowposition="after_start"]:-moz-locale-dir(rtl) {
        transform-origin: calc(100% - 20px) top !important;
    }

    panel[arrowposition="before_start"]:-moz-locale-dir(ltr),
    panel[arrowposition="before_end"]:-moz-locale-dir(rtl) {
        transform-origin: 20px bottom !important;
    }

    panel[arrowposition="before_end"]:-moz-locale-dir(ltr),
    panel[arrowposition="before_start"]:-moz-locale-dir(rtl) {
        transform-origin: calc(100% - 20px) bottom !important;
    }

    panel[arrowposition="start_before"]:-moz-locale-dir(ltr),
    panel[arrowposition="end_before"]:-moz-locale-dir(rtl) {
        transform-origin: right 20px !important;
    }

    panel[arrowposition="start_after"]:-moz-locale-dir(ltr),
    panel[arrowposition="end_after"]:-moz-locale-dir(rtl) {
        transform-origin: right calc(100% - 20px) !important;
    }

    panel[arrowposition="end_before"]:-moz-locale-dir(ltr),
    panel[arrowposition="start_before"]:-moz-locale-dir(rtl) {
        transform-origin: left 20px !important;
    }

    panel[arrowposition="end_after"]:-moz-locale-dir(ltr),
    panel[arrowposition="start_after"]:-moz-locale-dir(rtl) {
        transform-origin: left calc(100% - 20px) !important;
    }
}