:root {
    --identity-icons-brand: url("chrome://branding/content/identity-icons-brand.png") !important;

    &[echelon-style-7] {
        --identity-icons-brand: url("chrome://branding/content/identity-icons-brand.svg") !important;
        --identity-color-brand: rgb(229, 115, 0) !important;
    }
}   