/* ==UserScript==
// @stylemode		author_sheet
// @description		Styles certain Shadow DOM elements for Echelon.
// @usefileuri
// @name  			Echelon :: Extras
// ==/UserScript==*/

/* Default to xul namespace */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

panel[type="autocomplete-richlistbox"]::part(content) {
	position: relative;

	&::after {
		content: "" !important;
		display: inline-block !important;
		width: calc(100% - 3px) !important;
		height: calc(100% - 2px) !important;
		position: absolute !important;
		left: 6px !important;
		top: 5px !important;
		z-index: -99999999999 !important;
		background-color: rgb(0 0 0 / 35%) !important;
		filter: blur(1px) !important;
	}
}

/* Bookmarks menus */
toolbarbutton:is(.bookmark-item, #PlacesChevron) menupopup[placespopup]:not([type="arrow"]),
toolbarbutton:is(.bookmark-item, #PlacesChevron) menupopup[placespopup]#PlacesChevronPopup {
	--panel-shadow-margin: 0 !important;
	appearance: auto !important;
	-moz-default-appearance: menupopup !important;
	transition: none !important;
	border: 1px solid ThreeDShadow !important;
	background-color: TheeDHighlight !important;
	--panel-background: transparent !important;
	--panel-border-color: transparent !important;
	--nested-margin: -3px !important;
	--panel-shadow-margin: 0 !important;
	--panel-border-radius: 0 !important;
	--panel-padding: 0 !important;

	&::part(content) {
		padding: 0 !important;
		margin: 0 !important;
		box-shadow: none !important;
		border: 0 !important;
		background-color: transparent !important;
	}	

	& > :is(menu, menuitem) {
		margin: 0 !important;
		padding: 0 !important;
		min-height: unset !important;

		&, :is(.menu-text, .menu-iconic-text, .menu-iconic-icon, .menu-iconic-left, .menu-iconic-accel, .menu-accel-container, .menu-accel, .menu-right) {
			appearance: auto !important;
		}

		:is(.menu-accel) {
			margin-inline: 0.74em 1.35em !important;
		}

		& > .menu-accel-container > :is(.menu-accel, .menu-iconic-accel) {
			color: unset !important;
		}
	}

	menuseparator {
		appearance: auto !important;
		margin: 0 !important;
	}

	& > :is(.menu-iconic, .menuitem-iconic) > .menu-iconic-left {
		margin: 0 !important;
	}

	menuseparator::before {
		display: none !important;
	}

	& > menu > .menu-right {
		list-style-image: none !important;
	}
}

/* Popout arrows */
panel[type="arrow"],
menupopup[type="arrow"]:not(#PlacesChevronPopup) {
	&::part(content) {
		position: relative;
		overflow: visible !important;
		border: 0 !important;
		background-clip: padding-box !important;

		&::before {
			content: "";
			display: block;
			width: 20px;
			height: 10px;
			position: absolute;
			z-index: 99999999;
			background-image: var(--panel-arrow-image-vertical, url("chrome://userchrome/content/images/panelarrow-vertical.svg"));
		}
	}

	&[arrowposition*="after"]::part(content) {
		margin-top: calc(var(--panel-shadow-margin) + 10px) !important;

		&::before {
			top: -10px;
		}
	}

	&[arrowposition*="end"]::part(content)::before {
		right: 4px;
	}

	&[arrowposition*="before"]::part(content) {
		margin-bottom: calc(var(--panel-shadow-margin) + 10px) !important;

		&::before {
			bottom: -10px;
			transform: scaleY(-1);
		}
	}

	&[arrowposition*="start"]::part(content)::before {
		left: 3px;
	}
}

.autoscroller {
	width: 29px !important;
	height: 29px !important;
	margin: -14px !important;
	
	&::part(content) {
		background-color: transparent !important;
		border-color: transparent !important;
		box-shadow: none !important;
		background-image: url("chrome://userchrome/content/images/autoscroll.png") !important;
		background-position: right top !important;
		margin: 1px !important;
		max-width: 29px !important;
		max-height: 29px !important;
		background-clip: border-box !important;
	}

	&[scrolldir="NS"]::part(content) {
		background-position: right center !important;
	}

	&[scrolldir="EW"]::part(content) {
		background-position: right bottom !important;
	}
}