@-moz-document url("about:addons") {
	:root:not([echelon-style-4]) {
		--section-width: 100% !important;
		--card-padding: 20px !important;
		
		color: #000 !important;
		font: message-box !important;
		background-color: rgb(204, 217, 234) !important;
		background-image: linear-gradient(to bottom, rgb(231,237,246) 3px, rgba(231,237,246,0) 156px),
											linear-gradient(to left, rgba(255,255,255,0.2), rgba(255,255,255,0) 40%, rgba(255,255,255,0) 60%, rgba(255,255,255,0.2)),
											linear-gradient(32deg, rgba(255,255,255,0) 19.5%, rgba(255,255,255,0.1) 20%,
																 rgba(255,255,255,0.1) 21.5%, rgba(255,255,255,0.2) 22%,
																 rgba(255,255,255,0.2) 25.5%, rgba(255,255,255,0.1) 26%,
																 rgba(255,255,255,0.1) 27.5%, rgba(255,255,255,0) 28%,
																 rgba(255,255,255,0) 49.5%, rgba(255,255,255,0.1) 50%,
																 rgba(255,255,255,0.1) 52.5%, rgba(255,255,255,0.2) 53%,
																 rgba(255,255,255,0.2) 54.5%, rgba(255,255,255,0.1) 55%,
																 rgba(255,255,255,0.1) 57.5%, rgba(255,255,255,0) 58%,
																 rgba(255,255,255,0) 87%, rgba(255,255,255,0.2) 90%),
						          url("chrome://userchrome/content/pages/preferences/images/background-texture.png") !important;
	}
	:root:not([echelon-style-4]) h1 {
		font-size: 150% !important;
		font-weight: bold !important;
		color: #3F3F3F !important;
	}
	:root:not([echelon-style-4]) #full {
		display: flex !important;
	}
	:root:not([echelon-style-4]) #sidebar {
		position: static !important;
		overflow: visible !important;
		z-index: 999 !important;
	}
	:root:not([echelon-style-4]) #content {
		flex: 1 !important;
		padding: 40px 28px !important;
		padding-inline-start: 0 !important;
		padding-block-start: 0 !important;
		height: calc(100vh - 40px) !important;
	}
	:root:not([echelon-style-4]) #categories {
		padding: 0 !important;
		margin-inline-end: -1px !important;
		margin-top: 100px !important;
		z-index: 999 !important;
		width: 246px !important;
	}
	:root:not([echelon-style-4]) .category {
		appearance: none !important;
		background-color: transparent !important;
		color: #252F3B !important;
		padding: 0 8px !important;
		padding-top: 2px !important;
		border-width: 1px !important;
		border-style: solid !important;
		border-color: transparent !important;
		overflow: visible !important;
		border-radius: 5px !important;
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		z-index: 999 !important;
		padding-inline-start: 48px !important;
		margin-inline-start: 22px !important;
		margin-inline-end: 0 !important;
		position: relative !important;
		background-size: 32px !important;
		background-position-x: 10px !important;
		background-position-y: center !important;
	}
	:root:not([echelon-style-4]) .category:not([disabled]) {
		height: 52px !important;
		transition-property: height, opacity !important;
		transition-duration: 1s, 0.8s !important;
	}
	:root:not([echelon-style-4]) #categories > .category[selected] {
		background-color: rgba(255, 255, 255, 0.4) !important;
		color: #252F3B !important;
		border-color: #C3CEDF !important;
		-moz-border-end-color: #E2E9F2 !important;
	}
	:root:not([echelon-style-4]) .category-icon {
		width: 32px !important;
		height: 32px !important;
		list-style-image: none !important;
	}
	:root:not([echelon-style-4]) .category-name {
		display: flex !important;
		font-size: 150% !important;
		padding-inline-start: 6px !important;
	}
	:root:not([echelon-style-4]) .sticky-container {
		display: flex !important;
		position: static !important;
		width: 100% !important;
		background-color: transparent !important;
		padding-inline: 0 !important;
		margin-inline: 0 !important;
	}
	:root:not([echelon-style-4]) .sticky-inner-container {
		max-width: 100% !important;
	}
	:root:not([echelon-style-4]) .main-heading {
		flex: 1 !important;
		order: -1 !important;
		margin: 0 !important;
		padding: 0 !important;
		background-color: transparent !important;
		align-items: center !important;
	}
	:root:not([echelon-style-4]) .main-search {
		padding: 0 !important;
		background-color: transparent !important;
	}
	:root:not([echelon-style-4]) .main-content {
		z-index: -1 !important;
		padding-inline-start: 0 !important;
		overflow: hidden !important;
	}
	:root:not([echelon-style-4]) #main {
		height: calc(100% - 60px) !important;
		overflow-x: hidden !important;
		overflow-y: auto !important;
		background-color: rgba(255, 255, 255, 0.35) !important;
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75)) !important;
		border: 1px solid #C3CEDF;
		border-radius: 5px;
		padding: 30px !important;
		margin: 0 !important;
		box-sizing: border-box !important;
	}
	:root:not([echelon-style-4]) search-textbox {
		width: 264px !important;
		min-height: 25px !important;
		color: black !important;
		border: 1px solid !important;
		border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.32) rgba(0, 0, 0, 0.37) !important;
		border-radius: 4px !important;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset,
			0 1px 0 rgba(255, 255, 255, 0.4) !important;
		padding: 3px !important;
		background-color: rgba(255, 255, 255, 0.8) !important;
		margin: 18px 0 !important;
	}
	:root:not([echelon-style-4]) search-textbox:focus {
		outline: none !important;
	}
	:root:not([echelon-style-4]) .textbox-search-icon {
		width: 16px !important;
		height: 16px !important;
		list-style-image: none !important;
    	background-image: url("chrome://userchrome/content/images/search-glass.png") !important;
		margin-inline-end: 0 !important;
		order: 1001 !important;
	}
	:root:not([echelon-style-4]) .checkbox-check:not([native]) {
		appearance: auto !important;
		-moz-default-appearance: checkbox !important;
	}
	:root:not([echelon-style-4]) input[type="radio"],
	:root:not([echelon-style-4]) .radio-check {
		appearance: radio !important;
	}
	:root:not([echelon-style-4]) #label-box:not([native]) {
		font-weight: revert !important;
	}
	:root:not([echelon-style-4]) .actionContainer {
		padding-inline: 20px !important;
	}
	:root:not([echelon-style-4]) button {
		appearance: auto !important;
		font-weight: revert !important;
	}
	:root:not([echelon-style-4]) .sidebar-footer-list,
	:root:not([echelon-style-4]) .search-label,
	:root:not([echelon-style-4]) .header-name,
	:root:not([echelon-style-4]) .addon-badge {
		display: none !important;
	}
	:root:not([echelon-style-4]) .back-button {
		display: flex !important;
		width: 28px !important;
		min-height: 26px !important;
		padding: 0 !important;
		margin-inline-end: 18px !important;
		align-items: center !important;
		justify-content: center !important;
		position: absolute !important;
		left: 28px !important;
		z-index: 9999 !important;
	}
	:root:not([echelon-style-4]) .more-options-button {
		width: 49px !important;
		height: 26px !important;
		margin-inline-start: 0 !important;
		margin-inline-end: 18px !important;
		display: flex !important;
		justify-content: space-between !important;
    padding-top: 3px !important;
		padding-inline: 8px !important;
		padding-inline-end: 10px !important;
	}
	:root:not([echelon-style-4]) .back-button,
	:root:not([echelon-style-4]) .theme-enable-button,
	:root:not([echelon-style-4]) .extension-enable-button,
	:root:not([echelon-style-4]) .more-options-button,
	:root:not([echelon-style-4]) button[action="open-amo"],
	:root:not([echelon-style-4]) .disco-cta-button {
		appearance: none !important;
		background: rgba(151,152,153,.05)
								-moz-linear-gradient(rgba(251, 252, 253, 0.95), rgba(246, 247, 248, 0.47) 49%, 
																		 rgba(231, 232, 233, 0.45) 51%, rgba(225, 226, 229, 0.3)) !important;
		background-clip: padding-box !important;
		border-radius: 4.5px !important;
		border: 1px solid !important;
		border-color: rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.19) rgba(0, 0, 0, 0.38) !important;
		box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset,
								0 0 0 2px rgba(255, 255, 255, 0.1) inset !important;
		font: message-box !important;
		color: #000 !important;
	}
	:root:not([echelon-style-4]) .back-button:hover,
	:root:not([echelon-style-4]) .extension-enable-button:hover,
	:root:not([echelon-style-4]) .theme-enable-button:hover,
	:root:not([echelon-style-4]) .disco-cta-button:hover,
	:root:not([echelon-style-4]) button[action="open-amo"]:hover,
	:root:not([echelon-style-4]) .more-options-button:not([aria-expanded="true"]):not([disabled="true"]):not(:active):hover {
		background-color: hsla(190, 60%, 70%, 0.5) !important;
		border-color: hsla(190, 50%, 65%, 0.8) hsla(190, 50%, 50%, 0.8) hsla(190, 50%, 40%, 0.8) !important;
		box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset,
								0 0 0 1.5px rgba(255, 255, 255, 0.1) inset,
								0 1px 0 rgba(0, 0, 0, 0.1),
								0 0 3.5px hsl(190, 90%, 80%) !important;
		transition: background-color .4s ease-in,
										 border-color .3s ease-in,
										 box-shadow .3s ease-in !important;
	}
	:root:not([echelon-style-4]) .back-button:active:hover,
	:root:not([echelon-style-4]) .extension-enable-button:active:hover,
	:root:not([echelon-style-4]) .theme-enable-button:active:hover,
	:root:not([echelon-style-4]) .disco-cta-button:active:hover,
	:root:not([echelon-style-4]) button[action="open-amo"]:active:hover,
	:root:not([echelon-style-4]) .more-options-button:not([disabled="true"]):active:hover,
	:root:not([echelon-style-4]) .more-options-button[aria-expanded="true"] {
		background-color: transparent !important;
		border-color: rgba(0, 0, 0, 0.65) rgba(0, 0, 0, 0.55) rgba(0, 0, 0, 0.5) !important;
		box-shadow: 0 0 6.5px rgba(0, 0, 0, 0.4) inset,
								0 0 2px rgba(0, 0, 0, 0.4) inset !important;
	}
	:root:not([echelon-style-4]) .more-options-button::before {
		content: url("chrome://userchrome/content/pages/addons/images/utilities.png") !important;
	}
	:root:not([echelon-style-4]) .more-options-button::after {
		content: url("chrome://userchrome/content/images/dropdown.png") !important;
	}
	:root:not([echelon-style-4]) .back-button::before {
		margin-top: 2px !important;
		content: url("chrome://userchrome/content/images/icons/back_small.png") !important;
	}
	.category[name="discover"] {
		background-image: url("chrome://userchrome/content/pages/addons/images/category-discover.png") !important;
	}
	.category[name="extension"] {
		background-image: url("chrome://userchrome/content/pages/addons/images/category-extensions.png") !important;
	}
	.category[name="theme"] {
		background-image: url("chrome://userchrome/content/pages/addons/images/category-themes.png") !important;
	}
	.category[name="plugin"] {
		background-image: url("chrome://userchrome/content/pages/addons/images/category-plugins.png") !important;
	}
	.category[name="locale"] {
		background-image: url("chrome://userchrome/content/pages/addons/images/category-languages.png") !important;
	}
	:root:not([echelon-style-4]) #main[current-view="list"],
	:root:not([echelon-style-4]) #main[current-view="detail"],
	:root:not([echelon-style-4]) #main[current-view="discover"] {
		padding: 0 !important;
	}
	:root:not([echelon-style-4]) #main[current-view="list"] h2,
	:root:not([echelon-style-4]) #main[current-view="list"] .view-footer,
	:root:not([echelon-style-4]) .toggle-button::before,
	:root:not([echelon-style-4]) .card-heading-image {
		display: none !important;
	}
	:root:not([echelon-style-4]) .addon.card {
		display: flex !important;
		flex-direction: column !important;
		background-color: transparent !important;
		border-radius: 0 !important;
		box-shadow: none !important;
		margin-bottom: 0 !important;
		border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
		opacity: 1 !important;
		padding-block: 12px !important;
		cursor: default !important;
	}
	:root:not([echelon-style-4]) recommended-addon-list[type="extension"],
	:root:not([echelon-style-4]) recommended-addon-list[type="theme"] {
		display: none !important;
	}
	:root:not([echelon-style-4]) .update-postponed-bar + .addon-card-message {
		position: relative !important;
		margin-block: 12px !important;
		margin-block-start: -13px !important;
		margin-inline: calc(calc(var(--card-padding) * -1) - 4px) !important;
		order: -1 !important;
	}
	:root:not([echelon-style-4]) button[data-l10n-id="details-notification-unsigned-and-disabled-link"] {
		padding: 0 !important;
		min-height: unset !important;
		background-color: transparent !important;
		border-radius: 0 !important;
		font-weight: 600 !important;
		text-decoration: underline !important;
		color: Highlight !important;
		cursor: pointer !important;
	}
	:root:not([echelon-style-4]) .addon-card-message[type="error"]::before {
		position: absolute !important;
		content: '' !important;
		display: inline-block;
		width: 16px;
		height: 15px;
		background-image: url("chrome://userchrome/content/pages/addons/images/alerticon-info-negative.png") !important;
		z-index: 9999 !important;
		top: 8px !important;
		left: 60px !important;
	}
	:root:not([echelon-style-4]) .container .icon,
	:root:not([echelon-style-4]) .addon-detail-description-wrapper {
		display: none !important;
	}
	:root:not([echelon-style-4]) .container {
		padding-inline-start: 75px !important;
		color: #62666E !important;
		font-weight: 600 !important;
		border-radius: 0 !important;
		background-color: transparent !important;
		box-shadow: inset 0 1px 0 rgb(0 0 0 / 10%) !important;
		background-image: url("chrome://userchrome/content/pages/addons/images/stripes-info-negative.png"), 
											linear-gradient(color-mix(in srgb, var(--message-bar-background-color), transparent 60%), transparent) !important;
		background-size: contain !important;
		background-repeat: repeat-x !important;
	}
	:root:not([echelon-style-4]) .extension-enable-button {
		display: flex !important;
		justify-content: center !important;
		min-width: 70px !important;
		min-height: 21px !important;
		background-color: transparent !important;
		box-sizing: border-box !important;
	}
	:root:not([echelon-style-4]) #moz-toggle-button {
		width: 100% !important;
		border-radius: 0 !important;
		border: 0 !important;
		background: none !important;
		appearance: none !important;
	}
	:root:not([echelon-style-4]) .extension-enable-button::after {
		content: '' !important;
		font: message-box !important;
		text-align: center !important;
	}
	:root:not([echelon-style-4]) .extension-enable-button::after {
		width: 100% !important;
		content: 'Enable' !important;
	}
	:root:not([echelon-style-4]) .extension-enable-button[pressed=""]::after {
		content: 'Disable' !important;
	}
	:root:not([echelon-style-4]) .addon-name-container .more-options-button {
		width: unset !important;
		min-width: 70px !important;
		margin-inline-end: 0 !important;
		height: 21px !important;
		padding-block-start: 1px !important;
		align-items: center !important;
		justify-content: center !important;
		padding-inline-end: 8px !important;
		margin-inline-start: 10px !important;
	}
	:root:not([echelon-style-4]) .addon-name-container .more-options-button::before {
		content: 'Settings' !important;
	}
	:root:not([echelon-style-4]) .addon-name-container .more-options-button::after {
		display: none !important;
	}
	:root:not([echelon-style-4]) .addon-description {
		font-size: revert !important;
		line-height: unset !important;
	}
	:root:not([echelon-style-4]) .theme-enable-button {
		min-width: 70px !important;
		max-height: 21px !important;
	}
	:root:not([echelon-style-4]) .card-heading-icon {
		margin-inline-end: 20px !important;
	}
	:root:not([echelon-style-4]) .addon-name,
	:root:not([echelon-style-4]) .disco-addon-name {
		font-size: 150% !important;
		font-weight: bold !important;
		color: #3F3F3F !important;
	}
	:root:not([echelon-style-4]) .tab-group,
	:root:not([echelon-style-4]) .addon-detail-sitepermissions, 
	:root:not([echelon-style-4]) .addon-detail-row {
		margin-inline: 0 !important;
	}
	:root:not([echelon-style-4]) addon-card[expanded] .addon.card {
		border-bottom: 0 !important;
	}
	:root:not([echelon-style-4]) addon-card[expanded] .addon-description {
		margin-block: 12px !important;
	}
	:root:not([echelon-style-4]) .addon-detail-row:first-of-type {
		border-top: 0 !important;
	}
	:root:not([echelon-style-4]) .tab-group {
		border: 0 !important;
		margin-block-end: -1px !important;
		margin-inline: 5px !important;
	}
	:root:not([echelon-style-4]) .tab-group button {
		font-size: revert !important;
		font-weight: 600 !important;
		border-top-left-radius: 5px !important;
		border-top-right-radius: 5px !important;
		color: #252F3B !important;
		border: 1px solid transparent !important;
		background-color: transparent !important;
	}
	:root:not([echelon-style-4]) .tab-group button[aria-selected="true"] {
		background-color: rgba(255, 255, 255, 0.4) !important;
		border-color: #C3CEDF !important;
		border-bottom-color: #E2E9F2 !important;
	}
	:root:not([echelon-style-4]) addon-card[expanded] section,
	:root:not([echelon-style-4]) .addon-permissions-required {
		background-color: rgba(255, 255, 255, 0.35) !important;
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75)) !important;
		border: 1px solid #C3CEDF !important;
		border-radius: 5px !important;
		padding: 15px !important;
	}
	:root:not([echelon-style-4]) .addon-detail-row-updates {
		border-top: 0 !important;
	}
	:root:not([echelon-style-4]) .addon-description {
		margin-top: 10px !important;
	}
	:root:not([echelon-style-4]) addon-list[type="theme"] .addon.card {
		flex-direction: row !important;
	}
	:root:not([echelon-style-4]) addon-list[type="theme"] .addon-card-collapsed {
		flex: 1 !important;
	}
	:root:not([echelon-style-4]) addon-list[type="theme"] .addon.card::before {
		margin-inline-end: 20px !important;
		content: url("chrome://userchrome/content/pages/addons/images/category-themes.png") !important;
	}
	:root:not([echelon-style-4]) img[src="chrome://global/skin/icons/plugin.svg"] {
		content: url("chrome://userchrome/content/pages/addons/images/category-plugins.png") !important;
	}
	:root:not([echelon-style-4]) #main[current-view="discover"] header,
	:root:not([echelon-style-4]) #main[current-view="discover"] .view-footer-item:not(.amo-link-container) {
		display: none !important;
	}
	:root:not([echelon-style-4]) .disco-cta-button {
		min-width: 87px !important;
		min-height: 21px !important;
		padding: 0 8px !important;
	}
	:root:not([echelon-style-4]) .disco-addon-author {
		font-size: revert !important;
		margin-block: 4px !important;
		margin-block-end: 10px !important;
	}
	:root:not([echelon-style-4]) #main[current-view="discover"] .addon-description {
		margin-top: 0 !important;
	}
    @media (max-width: 830px) {
        #categories {
            width: unset !important;
        }
        .category-name {
            display: none !important;
        }
	}

	:root:not([echelon-style-4]) addon-card:not([expanded]) .addon-name, addon-card:not([expanded]) .addon-description {
		overflow-y: hidden !important;
	}

	:root:not([echelon-style-4]) img[src="https://addons.mozilla.org/static-server/img/addon-icons/default-32.2b26add4b394.png"] {
		content: url("chrome://userchrome/content/pages/addons/images/category-extensions.png") !important;
	}
}

/** AUSTRALIS STYLING **/
@-moz-document url("about:addons") {
	
	:root:is([echelon-style-4]) {
		background-color: var(--in-content-page-background) !important;
   		color: var(--in-content-page-color) !important;
		
		--in-content-page-color: #424e5a !important;
		--in-content-page-background: #fbfbfb !important;
		--in-content-text-color: #333 !important;
		--in-content-selected-text: #fff !important;
		--in-content-header-border-color: #c8c8c8 !important;
		--in-content-box-background: #fff !important;
		--in-content-box-background-odd: #f3f6fa !important;
		--in-content-box-background-hover: #ebebeb !important;
		--in-content-box-background-active: #dadada !important;
		--in-content-box-border-color: #c1c1c1 !important;
		--in-content-item-hover: rgba(0,149,221,0.25) !important;
		--in-content-item-selected: #0a84ff !important;
		--in-content-border-highlight: #ff9500 !important;
		--in-content-border-focus: #0a84ff !important;
		--in-content-border-color: #c1c1c1 !important;
		--in-content-category-text: #c1c1c1 !important;
		--in-content-category-border-focus: 1px dotted #fff !important;
		--in-content-category-text-selected: #f2f2f2 !important;
		--in-content-category-background: #424f5a !important;
		--in-content-category-background-hover: #5e6972 !important;
		--in-content-category-background-active: #343f48 !important;
		--in-content-tab-color: #424f5a !important;
		--in-content-link-color: #0a84ff !important;
		--in-content-link-color-hover: #0060df !important;
		--in-content-link-color-active: #ff9500 !important;
		--in-content-link-color-visited: #551a8b !important;
		--in-content-primary-button-background: #0a84ff !important;
		--in-content-primary-button-background-hover: #0060df !important;
		--in-content-primary-button-background-active: #003EAA !important;
		--in-content-table-border-dark-color: #d1d1d1 !important;
		--in-content-table-header-background: #0a84ff !important;
		--sidebar-width: 181px !important;
		--in-content-sidebar-width: var(--sidebar-width) !important;
	}
	
	:root:is([echelon-style-4]) body {
		font-size: 14px !important;
	}
	
	:root:is([echelon-style-4]) h1 {
		font-size: 23px !important;
		font-weight: lighter !important;
		line-height: 1.2 !important;
		color: #424E5A !important;
		margin: 0 !important;
		margin-bottom: .5em !important;
	}
	
	:root:is([echelon-style-4]) #sidebar {
		background-color: var(--in-content-category-background) !important;
  }

	:root:is([echelon-style-4]) #categories {
		border-radius: 0 !important;
		background-color: var(--in-content-category-background) !important;
		padding-top: 39px !important;
		padding-inline-end: 0 !important;
		margin: 0 !important;
	}
	
	:root:is([echelon-style-4]) a[is="moz-support-link"]:not(.sidebar-footer-link, :hover) {
		text-decoration: none !important;
	}
	
	:root:is([echelon-style-4]) #categories > .category,
	:root:is([echelon-style-4]) .sidebar-footer-link {
		color: var(--in-content-category-text) !important;
	}
	 
	:root:is([echelon-style-4]) #categories > .category,
	:root:is([echelon-style-4]) .sidebar-footer-list {
		margin: 0 !important;
	}
	
	:root:is([echelon-style-4]) #categories > .category {
		border: 0 !important;
		padding-inline-start: 36px !important;
		padding-inline-end: 21px !important;
		min-height: 40px !important;
		transition: background-color 150ms !important;
		border-radius: 0 !important;
		background-color: transparent !important;
		background-size: 24px !important;
		background-position-x: 15px !important;
		background-position-y: center !important;
	}
	
	:root:is([echelon-style-4]) #categories > .category:hover {
		background-color: var(--in-content-category-background-hover) !important;
	}
	
	:root:is([echelon-style-4]) #categories > .category[selected] {
		background-color: var(--in-content-category-background-active) !important;
		color: var(--in-content-category-text-selected) !important;
		padding-inline-start: 32px !important;
		background-position-x: 11px !important;
		border-inline-start: solid 4px var(--in-content-border-highlight) !important;
		color: var(--in-content-category-text-selected) !important;
	}
	
	:root:is([echelon-style-4]) .category-name {
		font-size: 13.5px !important;
		padding-inline-start: 7px !important;
	}
	
	:root:is([echelon-style-4]) search-addons > search-textbox {
		width: 230px !important;
	}
	
	#main-window:is([echelon-style-4])::placeholder {
		font-style: italic !important;
	}
	
	:root:is([echelon-style-4]) search-textbox,
	:root:is([echelon-style-4]) #downloadFolder {
		color: var(--in-content-text-color) !important;
		border: 1px solid var(--in-content-box-border-color) !important;
		border-radius: 2px !important;
		background-color: var(--in-content-box-background) !important;
		font: message-box !important;
	}
	
	:root:is([echelon-style-4]) search-textbox:focus,
	:root:is([echelon-style-4]) #downloadFolder:focus {
		outline: 0 !important;
		border-color: var(--in-content-border-focus) !important;
	}
	
	:root:is([echelon-style-4]) .textbox-search-icon, 
	:root:is([echelon-style-4]) .textbox-search-sign, 
	:root:is([echelon-style-4]) .textbox-search-clear {
		width: 12px !important;
	}
	
	:root:is([echelon-style-4]) .checkbox-check,
	:root:is([echelon-style-4]) #moz-toggle-button {
		width: 23px !important;
		height: 23px !important;
		min-height: 23px !important;
		border: 1px solid var(--in-content-box-border-color) !important;
		border-radius: 2px !important;
		margin: 0 !important;
		margin-inline-end: 10px !important;
		background-color: #f1f1f1 !important;
		background-image: linear-gradient(#fff, rgba(255,255,255,0.8)) !important;
		background-position: center center !important;
		background-repeat: no-repeat !important;
		box-shadow: 0 1px 1px 0 #fff, inset 0 2px 0 0 rgba(0,0,0,0.03) !important;
	}
	
	:root:is([echelon-style-4]) checkbox:not([disabled]):hover .checkbox-check,
	:root:is([echelon-style-4]) .checkbox-check:not([disabled]):hover,
	:root:is([echelon-style-4]) #moz-toggle-button:hover {
		border-color: var(--in-content-border-focus) !important;
	}
	
	:root:is([echelon-style-4]) .checkbox-check[checked],
	:root:is([echelon-style-4]) #moz-toggle-button[aria-pressed="true"] {
		background-image: url("chrome://userchrome/content/pages/preferences/images/check.svg"), linear-gradient(#fff, rgba(255,255,255,0.8)) !important;
		-moz-context-properties: fill, stroke !important;
		fill: #2292d0 !important;
		stroke: none !important;
	}
	
	:root:is([echelon-style-4]) input[type="radio"] {
		width: 23px !important;
		height: 23px !important;
		border: 1px solid var(--in-content-box-border-color) !important;
		border-radius: 50% !important;
		margin-inline-end: 10px !important;
		background-color: #f1f1f1 !important;
		background-image: linear-gradient(#fff, rgba(255,255,255,0.80)) !important;
		box-shadow: 0 1px 1px 0 #fff, inset 0 2px 0 0 rgba(0,0,0,0.03) !important;
	}
	
	:root:is([echelon-style-4]) input[type="radio"]:hover {
		border-color: var(--in-content-border-focus) !important;
	}

	:root:is([echelon-style-4]) input[type="radio"]:checked {
		background-image: url("chrome://userchrome/content/pages/preferences/images/radio.svg"), linear-gradient(#fff, rgba(255,255,255,0.80)) !important;
		-moz-context-properties: fill !important;
		fill: #2292d0 !important;
	}
	
	:root:is([echelon-style-4]) .toggle-button::before {
		display: none !important;
	}
	
	:root:is([echelon-style-4]) button:not([data-l10n-id="details-notification-unsigned-and-disabled-link"], .tab-button),
	:root:is([echelon-style-4]) menulist,
	:root:is([echelon-style-4]) .extension-enable-button {
		min-height: 145px !important;
		min-height: 30px !important;
		box-sizing: border-box !important;
		font-size: 14px !important;
		font-weight: 500 !important;
		min-height: 30px !important;
		color: var(--in-content-text-color) !important;
		border: 1px solid var(--in-content-box-border-color) !important;
		border-radius: 2px !important;
		background-color: var(--in-content-page-background) !important;
	}
	
	:root:is([echelon-style-4]) button:not([data-l10n-id="details-notification-unsigned-and-disabled-link"], .tab-button):not([disabled]):hover,
	:root:is([echelon-style-4]) menulist:not([disabled]):hover,
	:root:is([echelon-style-4]) .extension-enable-button:hover {
		background-color: var(--in-content-box-background-hover) !important;
	}
	
	:root:is([echelon-style-4]) button:not([data-l10n-id="details-notification-unsigned-and-disabled-link"], .tab-button):not([disabled]):active:hover,
	:root:is([echelon-style-4]) menulist:not([disabled]):active:hover,
	:root:is([echelon-style-4]) menulist:not([disabled])[open],
	:root:is([echelon-style-4]) .extension-enable-button:active:hover {
		background-color: var(--in-content-box-background-active) !important;
  	}
	
	  :root:is([echelon-style-4]) menulist:not([size]):not([multiple]) {
		background-image: url("chrome://userchrome/content/pages/preferences/images/dropdown.svg#dropdown") !important;
		background-position: right 3px center !important;
		background-repeat: no-repeat !important;
		background-size: auto 18px !important;
		font-size: inherit !important;
		padding-inline-start: 5px !important;
		padding-inline-end: 24px !important;
		text-overflow: ellipsis !important;	
	}
	
	:root:is([echelon-style-4]) dropmarker:not([native]) {
		display: none !important;
	}
	
	:root:is([echelon-style-4]) #downloadFolder {
		max-height: 30px !important;
		font-size: 13px !important;
		box-sizing: border-box !important;
		margin-inline-end: 0 !important;
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		font-size: 14px !important;
	}
	
	:root:is([echelon-style-4]) #chooseFolder {
		min-width: 87px !important;
		border-left: 0 !important;
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
		max-height: 30px !important;
	}
	
	:root:is([echelon-style-4]) #label-box:not([native]) {
		font-size: 14px !important;
		font-weight: 500 !important;
	}
	
	:root:is([echelon-style-4]) #filter {
		font-size: 14px !important;
	}
	
	:root:is([echelon-style-4]) listheader,
	:root:is([echelon-style-4]) listheader + richlistbox {
		border-radius: 0 !important;
	}
	
	:root:is([echelon-style-4]) treecol:not([hideheader="true"]) {
		max-height: 30px !important;
	}
	
	:root:is([echelon-style-4]) .treecol-text {
		color: #808080 !important;
		font-size: 14px !important;
	}
	
	:root:is([echelon-style-4]) treecol:hover .treecol-text {
		color: #333333 !important;
	}
	
	:root:is([echelon-style-4]) .updateSettingCrossUserWarningContainer {
		background-color: transparent !important;
		padding: 0 !important;
	}
	
	:root:is([echelon-style-4]) .indent {
		margin-inline-start: 30px !important;
	}
	
	:root:is([echelon-style-4]) .web-appearance-choice {
		background-color: transparent !important;
		border: 0 !important;
	}
	
	:root:is([echelon-style-4]) .web-appearance-choice-image-container {
		display: none !important;
	}
	
	:root:is([echelon-style-4]) .web-appearance-choice-footer {
		color: var(--in-content-page-color) !important;
		align-items: center !important;
		font-size: 14px !important;
		padding: 0 !important;
		border: 0 !important;
	}
	
	:root:is([echelon-style-4]) #web-appearance-chooser {
		gap: 0 !important;
		flex-direction: column !important;
	}
	
	:root:is([echelon-style-4]) #homeContentsGroup .checkbox-icon[src],
	:root:is([echelon-style-4]) #trackingProtectionShield,
	:root:is([echelon-style-4]) .content-blocking-warning-image {
		display: none !important;
	}
	
	:root:is([echelon-style-4]) .privacy-detailedoption {
		border: 0 !important;
		background-color: transparent !important;
	}
	
	:root:is([echelon-style-4]) .content-blocking-warning {
		padding: 0 !important;
		background-color: transparent !important;
	}
	
	:root:is([echelon-style-4]) .arrowhead {
		min-width: 23px !important;
		min-height: 23px !important;
    	list-style-image: url("chrome://userchrome/content/pages/preferences/images/dropdown.svg#dropdown") !important;
		-moz-context-properties: fill !important;
		fill: var(--in-content-page-color) !important;
	}
	
	:root:is([echelon-style-4]) .arrowhead[aria-expanded="true"] .button-icon {
		transform: translateY(-1) !important;
	}
	
	:root:is([echelon-style-4]) #category-general > .category-icon {
		list-style-image: url("chrome://userchrome/content/pages/preferences/images/icons.svg#general") !important;
  	}
	
	:root:is([echelon-style-4]) #category-home > .category-icon {
		list-style-image: url("chrome://userchrome/content/pages/preferences/images/home.svg") !important;
	}
	
	:root:is([echelon-style-4]) #category-search > .category-icon {
		list-style-image: url("chrome://userchrome/content/pages/preferences/images/icons.svg#search") !important;
	}

	:root:is([echelon-style-4]) #category-privacy > .category-icon {
		list-style-image: url("chrome://userchrome/content/pages/preferences/images/icons.svg#security") !important;
	}

	:root:is([echelon-style-4]) #category-sync > .category-icon {
		list-style-image: url("chrome://userchrome/content/pages/preferences/images/icons.svg#sync") !important;
	}
	
	:root:is([echelon-style-4]) .sidebar-footer-link {
		height: unset !important;
		padding: 0 !important;
		border: 0 !important;
		background-color: transparent !important;
		cursor: pointer !important;
	}
	
	:root:is([echelon-style-4]) .sidebar-footer-link .sidebar-footer-icon {
		margin: 0 !important;
	}
	
	:root:is([echelon-style-4]) #preferencesButton {
		display: none !important;
	}
	
	:root:is([echelon-style-4]) .sidebar-footer-link .sidebar-footer-label {
		line-height: unset !important;
		cursor: pointer !important;
	}
	
	:root:is([echelon-style-4]) #help-button {
		padding-inline-start: 15px !important;
		margin-block-end: 22px !important;
	}
	
	:root:is([echelon-style-4]) .sidebar-footer-icon {
		width: 14px !important;
		height: 14px !important;
		list-style-image: none !important;
		background-image: url("chrome://userchrome/content/pages/preferences/images/help-glyph.svg") !important;
		-moz-context-properties: fill, stroke, stroke-opacity !important;
		fill: #999 !important;
		stroke: #999 !important;
		stroke-opacity: 0 !important;
		background-repeat: no-repeat !important;
		background-position: center center !important;
		background-size: contain !important;
	}
	
	:root:is([echelon-style-4]) #help-button:hover .sidebar-footer-icon {
		fill: white !important;
		stroke: #808080 !important;
		stroke-opacity: 1 !important;
	}
	
	:root:is([echelon-style-4]) #help-button:hover:active .sidebar-footer-icon {
		stroke: #666 !important;
	}

	.main-heading h1,
	.search-label {
		display: none !important;
	}
	
	.sticky-container {
		display: flex !important;
		min-height: 72px !important;
		max-width: 100% !important;
		padding-inline-end: 48px !important;
		box-sizing: border-box !important;
	}
	
	.main-search {
		order: 1001 !important;
		padding-inline-start: 0 !important;
		padding: 0 !important;
	}
	
	.main-heading {
		padding: 0 !important;
		flex: 1 !important;
		padding-inline-end: 20px !important;
		max-width: 100% !important;
	}
	
	.textbox-search-icon, .textbox-search-sign, .textbox-search-clear {
		margin-inline-end: 5px !important;
	}
	
	:root:is([echelon-style-4]) .more-options-button {
		display: flex !important;
	}
	
	:root:is([echelon-style-4]) .more-options-button,
	:root:is([echelon-style-4]) .back-button {
		width: 48px !important;
		max-height: 32px !important;
    align-self: center !important;
		justify-content: center !important;
		align-items: center !important;
		background-image: none !important;
		gap: 5px !important;
	}
	
	:root:is([echelon-style-4]) .back-button::before {
		content: url("chrome://userchrome/content/pages/addons/images/back.svg") !important;
	}

	:root:is([echelon-style-4]) .more-options-button::before {
		content: url("chrome://userchrome/content/pages/addons/images/utilities.svg") !important;
	}
	
	:root:is([echelon-style-4]) .more-options-button::after {
		margin-bottom: 8px !important;
		content: url("chrome://userchrome/content/images/dropdown.png") !important;
	}
	
	:root:is([echelon-style-4]) .category[name="extension"] {
		background-image: url("chrome://userchrome/content/pages/addons/images/category-extensions.svg") !important;
	}
	
	#main {
		max-width: 100% !important;
		padding-inline: 48px !important;
		margin: 0 !important;
	}
	
	addon-list[type="extension"] h2,
	addon-list[type="theme"] h2,
	addon-list[type="plugin"] h2 {
		display: none !important;
	}
	
	addon-list[type="extension"] + recommended-extensions-section,
	addon-list[type="theme"] + recommended-themes-section {
		display: none !important;
	}
	
	.addon.card {
		color: rgb(68, 68, 68) !important;
		border-radius: 0 !important;
		margin: 0 !important;
		box-shadow: none !important;
		background-color: transparent !important;
		border-bottom: 1px solid rgb(193, 193, 193) !important;
		opacity: 1 !important;
		display: flex !important;
		flex-direction: column !important;
		padding-block: 10px !important;
		cursor: default !important;
	}
	
	.addon-name {
		font-size: 14px !important;
	}
	
	.container {
		padding: 0 !important;
		color: #898989 !important;
		border-radius: 0 !important;
		--view-highlight-color: transparent !important;
		background-color: transparent !important;
    background-image: radial-gradient(at 50% 0%,
                                    var(--view-highlight-color) 0%,
                                    transparent 75%) !important;
	}
	
	.addon-card-message {
		order: -1 !important;
		margin-top: -10px !important;
		margin-bottom: 0 !important;
		padding-block: 2px !important;
		padding-inline-start: 75px !important;
		position: relative !important;
	}
	
	span[data-l10n-id="details-notification-unsigned-and-disabled"] {
		font: message-box !important;
		font-weight: 600 !important;
	}
	
	:root:is([echelon-style-4]) button[data-l10n-id="details-notification-unsigned-and-disabled-link"] {
		padding: 0 !important;
		border: 0 !important;
		min-height: unset !important;
		background-color: transparent !important;
		border-radius: 0 !important;
		cursor: pointer !important;
		font: message-box !important;
		font-weight: 600 !important;
		color: #0095DD !important;
		margin-inline-start: 20px !important;
	}
	
	:root:is([echelon-style-4]) button[data-l10n-id="details-notification-unsigned-and-disabled-link"]:hover {
		text-decoration: underline !important;
	}
	
	:root:is([echelon-style-4]) .addon-card-message[type="error"]::before {
		position: absolute !important;
		content: '' !important;
		display: inline-block;
		width: 16px;
		height: 15px;
		background-image: url("chrome://userchrome/content/pages/addons/images/alerticon-info-negative.svg") !important;
		z-index: 9999 !important;
		top: 4px !important;
		left: 55px !important;
	}
	
	.container .icon,
	#moz-toggle-button {
		display: none !important;
	}
	
	.extension-enable-button:not([hidden=""]) {
		display: flex !important;
		justify-content: center !important;
		min-width: 70px !important;
	}
	
	:root:is([echelon-style-4]) .extension-enable-button::after {
		content: '' !important;
		font: message-box !important;
		text-align: center !important;
	}
	:root:is([echelon-style-4]) .extension-enable-button::after {
		width: 100% !important;
		content: 'Disable' !important;
	}
	:root:is([echelon-style-4]) .extension-enable-button[pressed=""]::after {
		content: 'Enable' !important;
	}
	
	.card-heading-image {
		display: none !important;
	}

	:root:is([echelon-style-4]) addon-list[type="theme"] .addon.card {
		flex-direction: row !important;
	}
	:root:is([echelon-style-4]) addon-list[type="theme"] .addon-card-collapsed {
		flex: 1 !important;
	}
	:root:is([echelon-style-4]) addon-list[type="theme"] .addon.card::before {
		margin-inline-end: 20px !important;
		content: url("chrome://userchrome/content/pages/addons/images/category-themes.png") !important;
	}
	
	:root:is([echelon-style-4]) img[src="chrome://global/skin/icons/plugin.svg"] {
		content: url("chrome://userchrome/content/pages/addons/images/category-plugins.png") !important;
	}
	
	span[data-l10n-id="discopane-intro"],
	.view-footer-item:not(.amo-link-container),
	.disco-description-statistics {
		display: none !important;
	}
	
	
	@media (max-width: 830px) {
		:root:is([echelon-style-4]) #categories > .category {
			padding-inline-end: unset !important;
		}
	}
	
}