@import "toolbars";
@import "icons";
@import "urlbar-search";
@import "tabs";
@import "places";
@import "appmenu";
@import "titlebar";

&[echelon-system-style="winxp"] {
    @import "tweaks/winxp/style";
}

&[echelon-system-style="win8"],
&[echelon-system-style="win10"] {
    @import "tweaks/win8/style";
}

@import "lwtheme";