& {
    #titlebar-content {
        visibility: collapse !important;
    } 

    &[tabsintitlebar][sizemode="normal"] {
        #titlebar {
            appearance: none !important;
        }
    }

    &[tabsintitlebar][sizemode="normal"][chromehidden~="menubar"] #toolbar-menubar ~ #TabsToolbar .toolbar-items,
    &[tabsintitlebar][sizemode="normal"] #toolbar-menubar[autohide="true"][inactive] ~ #TabsToolbar .toolbar-items {
        margin-top: 15px !important;
    }
}