& {
    #titlebar-content {
        visibility: collapse !important;
    } 

    @media (-moz-windows-compositor) { 
        &[tabsintitlebar][sizemode="normal"] {
            #titlebar {
                appearance: none !important;
            }
        }
    }

    @media not (-moz-windows-compositor) { 
        &[tabsintitlebar][sizemode="normal"] {
            #titlebar {
                appearance: auto !important;
                -moz-default-appearance: -moz-window-titlebar !important;
            }
        }
    }

    &[tabsintitlebar][sizemode="normal"][chromehidden~="menubar"] #toolbar-menubar ~ #TabsToolbar .toolbar-items,
    &[tabsintitlebar][sizemode="normal"] #toolbar-menubar[autohide="true"][inactive] ~ #TabsToolbar .toolbar-items {
        margin-top: 15px !important;
    }

    .private-browsing-indicator {
        pointer-events: none !important;
        display: none !important;
    }

    
    &[privatebrowsingmode="temporary"][tabsintitlebar] #private-browsing-indicator-titlebar > .private-browsing-indicator {
        display: block !important;
        width: 40px !important;
        height: 20px !important;
        margin-inline-end: 4px !important;
        background: url("chrome://echelon/content/firefox-29/privatebrowsing/privatebrowsing-mask-titlebar-XPVista7.png") no-repeat center 0px !important;
    }

    &[privatebrowsingmode="temporary"]:not([tabsintitlebar]) #TabsToolbar > .private-browsing-indicator {
        display: flex !important;
        width: 48px !important;
        height: 32px !important;
        margin-inline-end: 4px !important;
        background: url("chrome://echelon/content/firefox-29/privatebrowsing/privatebrowsing-mask-tabstrip-XPVista7.png") no-repeat center 0 !important;
    }

    @media not (-moz-windows-compositor) { 
        &[privatebrowsingmode="temporary"][tabsintitlebar] #private-browsing-indicator-titlebar > .private-browsing-indicator {
            background-image: url("chrome://echelon/content/firefox-29/privatebrowsing/privatebrowsing-mask-titlebar-XPVista7-tall.png") !important;
            height: 28px !important;
        }
    }
}