& {
    --arrowscrollbox-image: url("chrome://echelon/content/firefox-29/tabbrowser/tab-arrow-left.png") !important;

    &[echelon-system-style="winxp"] {
        --arrowscrollbox-image: url("chrome://echelon/content/firefox-8/tabbrowser/tab-arrow-left-inverted.png") !important;
    }
    
    --tabbrowser-arrowbox-inline-padding: 15px !important;
}