*, ::before, ::after {
	box-sizing: border-box;
	border: 0;
	padding: 0;
	margin: 0;
}

[vbox="1"] {
	flex-direction: column;
}

[hbox="1"] {
	flex-direction: row;
}

[flex="1"] {
	flex: 1;
}

[hidden] {
	visibility: collapse;
}

h1 {
	display: block;
    margin: 0px 0px 0.6em;
    border-bottom: 1px solid #E3E3E3;
    font-size: 160%;
}

body {
	background-color: #F0F0F0;
	padding: 0px 1em;
	color: #000;
	font: message-box;
	display: flex;
}

body.private .showNormal,
body.normal .showPrivate {
	display: none;
}

#errorPageContainer {
	display: flex;
	min-width: 13em;
	max-width: 52em;
	margin: 4em auto;
	border: 1px solid #A0A0A0;
	border-radius: 10px;
	padding: 3em;
	background-color: #FFF;
}

.errorPageIcon {
	width: 48px;
	min-width: 48px;
	height: 48px;
	background-image: url('chrome://userchrome/content/pages/privatebrowsing/images/question-48.png');
}

:root[echelon-system-style="winxp"] .errorPageIcon {
	background-image: url('chrome://userchrome/content/pages/privatebrowsing/images/question-48-xp.png');
}

.private .errorPageIcon {
	background-image: url('chrome://userchrome/content/pages/privatebrowsing/images/Privacy-48.png');
}

:root[echelon-system-style="winxp"] .private .errorPageIcon {
	background-image: url('chrome://userchrome/content/pages/privatebrowsing/images/Privacy-48-xp.png');
}

.errorPageContentContainer {
	margin-inline-start: 32px;
}

#errorLongContent p,
#errorShortDesc,
#startprivatebrowsingDesc {
	padding-bottom: 1em;
}

#errorShortDesc > p {
	overflow: auto;
	border-bottom: 1px solid ThreeDLightShadow;
	font-size: 130%;
	white-space: pre-wrap;
}

#errorLongDesc {
    padding-inline-end: 3em;
    font-size: 110%;
}

#footerDesc > p {
    font-size: 110%;
}

#moreInfo {
    font-size: 110%;
    padding-inline-start: 25px;
    background: url('chrome://echelon/content/firefox-4/icons/information-16.png') no-repeat scroll left top transparent;
}

:root[echelon-system-style="winxp"] #moreInfo {
	background-image: url("chrome://echelon/content/firefox-4/xp/icons/information-16.png");
}