& {
    --toolbarbutton-border-radius: 2.5px !important;

    --forwardbutton-inline-outer-padding: calc(var(--backbutton-urlbar-overlap) * -1) 0 !important;
    --forwardbutton-unified-border-radius: 0 !important;
}