& {
    --urlbar-container-padding: 0 !important;
    --default-favicon: url("chrome://userchrome/content/assets/images/firefox-10/defaultFavicon.png") !important;

    --urlbar-shadow-normal: none !important;
    --urlbar-border-color: ThreeDShadow !important;

    &:not([echelon-appearance-xp]) {
        &[echelon-appearance-blue] {
            --urlbar-border-color: rgba(0,0,0,.32) !important;
        }
    }
}

#urlbar-container {
    margin-inline-start: 0 !important;
    pointer-events: none !important;
}

#urlbar {
    pointer-events: all !important;

    .urlbar-input-box {
        padding-inline-start: 3px !important;
    }
}

#urlbar-background, #searchbar {
    border-radius: 2.5px !important;
}

#urlbar {
    .urlbar-input-container {
        &::after {
            @include set-background("firefox-10/urlbar/urlbar-history-dropmarker.png");

            width: 11px !important;
            height: 14px !important;
            margin-inline-start: 4px !important;
            margin-inline-end: 2px !important;
        }
    }
}

&:not([echelon-style-3]) {
    #urlbar {
        & #identity-box {
            background-image: linear-gradient(hsl(0,0%,98%), hsl(0,0%,92%)) !important;
            box-shadow: 0 1px 0 hsla(0,0%,0%,.05) inset !important;
            border-inline-end: 1px solid hsla(0,0%,0%,.1) !important;
            padding: 2px !important;
            border-radius: 0 !important;
            order: -1 !important;
            margin-inline-end: 0 !important;
    
            &:hover {
                background-image: linear-gradient(hsl(0,0%,95%), hsl(0,0%,87%)) !important;
            }
    
            &[open="true"],
            &:hover:active {
                background-image: linear-gradient(hsl(0,0%,92%), hsl(0,0%,82%)) !important;
                box-shadow: 0 1px 1px hsla(0,0%,0%,.3) inset,
                            0 1px 3px hsla(0,0%,0%,.3) inset !important;
            }
    
            &[pageproxystate="invalid"] {
                #identity-icon {
                    opacity: 0.5 !important;
                }
            }
    
            &.verifiedDomain {
                background-image: linear-gradient(hsl(215,60%,92%), hsl(215,58%,88%)) !important;
                box-shadow: 0 1px 0 hsla(215,54%,33%,.05) inset !important;
                border-inline-end-color: hsla(215,54%,33%,.2) !important;
                color: hsl(215,54%,33%) !important;
    
                &:hover {
                    background-image: linear-gradient(hsl(215,85%,85%), hsl(215,70%,68%)) !important;
                }
        
                &[open="true"],
                &:hover:active {
                    background-image: linear-gradient(hsl(215,80%,80%), hsl(215,67%,65%)) !important;
                    box-shadow: 0 1px 1px hsla(215,54%,33%,.7) inset,
                                0 1px 3px 1px hsla(215,54%,33%,.5) inset !important;
                }
            }

            &.verifiedIdentity {
                background-image: linear-gradient(hsl(91,70%,90%), hsl(93,60%,81%)) !important;
                box-shadow: 0 1px 0 hsla(92,81%,16%,.05) inset;
                border-inline-end-color: hsla(92,81%,16%,.2);
                color: hsl(92,100%,20%);

                &:hover {
                    background-image: linear-gradient(hsl(92,69%,77%), hsl(92,44%,51%)) !important;
                }

                &[open="true"],
                &:hover:active {
                    background-image: linear-gradient(hsl(92,65%,70%), hsl(92,40%,48%)) !important;
                    box-shadow: 0 1px 1px hsla(92,81%,16%,.6) inset,
                                0 1px 3px 1px hsla(92,81%,16%,.5) inset !important;
                }
            }
    
            &.chromeUI {
                #identity-icon-label {
                    visibility: collapse !important;
                }
            }
    
            #identity-icon {
                margin-block: 1px !important;
                margin-inline: 4px !important;
            }
            
            #identity-icon-label {
                padding-inline: 0 !important;
                margin-inline-start: 1px !important;
                margin-inline-end: 3px !important;
            }
    
            #identity-icon-box {
                padding: 0 !important;
                border-radius: 0 !important;
                background-color: transparent !important;
                outline: 0 !important;
                color: inherit !important;
            }
        }
    }
}

// unified refresh/go/stop
#stop-reload-button {
    &.unified {
        padding-inline-end: 2px !important;

        .toolbarbutton-1 {
            padding: 0 2px !important;
            border-inline-start: 0 !important;
            box-shadow: none !important;

            .toolbarbutton-icon {
                @include set-background("firefox-10/reload-stop-go.png");
            }

            &:not([disabled]):hover {
                .toolbarbutton-icon {
                    background-position-y: -14px !important;
                }

                &:active {
                    .toolbarbutton-icon {
                        background-position-y: -28px !important;
                    }
                }
            }
        }

        #reload-button {
            &:not([disabled]):hover {
                background-image: -moz-radial-gradient(center, circle closest-side, hsla(200,100%,70%,.2), hsla(200,100%,70%,0)) !important;
                
                &:active {
                    background-image: -moz-radial-gradient(center, circle closest-side, hsla(200,100%,60%,.1), hsla(200,100%,60%,0)) !important;
                }
            }
        }

        #stop-button {
            .toolbarbutton-icon {
                background-position-x: -14px !important;
            }

            &:not([disabled]):hover {
                background-image: -moz-radial-gradient(center, circle closest-side, hsla(5,100%,75%,.3), hsla(5,100%,75%,0)) !important;

                &:active {
                    background-image: -moz-radial-gradient(center, circle closest-side, hsla(5,100%,75%,.1), hsla(5,100%,75%,0)) !important;
                }
            }
        }

        #go-button {
            .toolbarbutton-icon {
                background-position-x: -28px !important;
            }

            &:not([disabled]):hover {
                background-image: -moz-radial-gradient(center, circle closest-side, hsla(110,70%,50%,.2), hsla(110,70%,50%,0)) !important;
                
                &:active {
                    background-image: -moz-radial-gradient(center, circle closest-side, hsla(110,70%,50%,.1), hsla(110,70%,50%,0)) !important   ;
                }
            }
        }
    }
}

// unified urlbar behavior

&:not([chromehidden~="toolbar"]) {
    #nav-bar {
        #forward-button:not(:hover)[disabled] {
            opacity: 0 !important;

            & + #urlbar-container {            
                & > #urlbar {
                    margin-left: -27px !important;
                }
    
                #urlbar-background,
                .urlbar-input-container {
                    mask: url("chrome://userchrome/content/assets/images/firefox-10/urlbar/winstripe-urlbar-back-button-mask.svg") !important;
                    mask-repeat: no-repeat !important;
                    mask-position-x: -1px !important;
                }

                #identity-box {
                    padding-inline-start: 5px !important;
                }
            }
        }

        #forward-button {
            & + #urlbar-container {
                padding-inline-start: 27px !important;
                margin-inline-start: -27px !important;

                #urlbar-background,
                .urlbar-input-container {
                    border-top-left-radius: 0 !important;
                    border-bottom-left-radius: 0 !important;
                    border-inline-start: 0 !important;
                }
            }
        }
    }

    &:not([echelon-tabchanging="true"]) {
        #nav-bar {
            #forward-button {
                transition: opacity 150ms ease-out !important;

                &:not(:hover)[disabled] {
                    #identity-box {
                        transition: padding-inline-start !important;
                    }
                }

                & + #urlbar-container > #urlbar {
                    transition: margin-inline-start 150ms ease-out !important;
                }
            }
        }
    }
}