:root {
    --browser-area-z-index-toolbox: 1 !important;
    --browser-area-z-index-tabbox: 0 !important;
    --browser-area-z-index-sidebar-splitter: 1 !important;

    --arrowpanel-dimmed: hsla(210,4%,10%,.05) !important;
    --arrowpanel-dimmed-further: hsla(210,4%,10%,.15) !important;
    --panel-separator-color: hsla(210,4%,10%,.11) !important;

    --tab-curve-clip-path-start: url("chrome://echelon/content/firefox-4/tabbrowser/browser-masks.svg#tab-curve-clip-path-start") !important;
    --tab-curve-clip-path-end: url("chrome://echelon/content/firefox-4/tabbrowser/browser-masks.svg#tab-curve-clip-path-end") !important;
    --urlbar-back-button-clip-path: url("chrome://echelon/content/firefox-4/tabbrowser/browser-masks.svg#urlbar-back-button-clip-path") !important;
    --urlbar-back-button-clip-path-win10: url("chrome://echelon/content/firefox-4/tabbrowser/browser-masks.svg#urlbar-back-button-clip-path-win10") !important;
}

window {
    color-scheme: light !important;
}

// hide unified extensions
:root:not([customizing])[echelon-option-hideunifiedextensions] {
    #unified-extensions-button {
        display: none !important;
    }
}