#navigator-toolbox,
#browser,
#customization-container,
.titlebar-buttonbox-container {
    transition-property: margin-left, margin-right !important;
    transition-duration: 150ms !important;
    transition-timing-function: ease-out !important;
}

:root[customizing] {
    background-image: url('chrome://userchrome/content/assets/images/firefox-29/customizableui/customizeMode-gridTexture.png') !important;
    background-attachment: fixed !important;
  
    &:-moz-lwtheme {
        background-image: url('chrome://userchrome/content/assets/images/firefox-29/customizableui/customizeMode-gridTexture.png'), var(--lwt-header-image) !important;
    }

    #navigator-toolbox,
    #browser,
    #customization-container {
        margin-inline: 2em !important;
    }

    .titlebar-buttonbox-container {
        margin-inline-end: -2em !important;
    }

    #browser,
    #customization-container {
        margin-block-end: 2em !important;
    }

    #nav-bar-customization-target,
    #TabsToolbar,
    #toolbar-menubar,
    #PersonalToolbar {
        padding-inline: 10px !important;
    }
}

:root:not([customizing]) #customization-container {
    display: grid !important;
    min-height: 0 !important;
    visibility: collapse !important;
}

#customization-panel-container {
    grid-area: 1 / 2 / 3 / 3;
    overflow-y: hidden !important;
    padding: 15px 25px 25px !important;
    background-image: url("chrome://userchrome/content/assets/images/firefox-29/customizableui/customizeMode-separatorHorizontal.png"),
                      url("chrome://userchrome/content/assets/images/firefox-29/customizableui/customizeMode-separatorVertical.png"),
                      url("chrome://userchrome/content/assets/images/firefox-29/customizableui/customizeMode-gridTexture.png"),
                      url("chrome://userchrome/content/assets/images/firefox-29/customizableui/background-noise-toolbar.png"),
                      linear-gradient(to bottom, #3e86ce, #3878ba) !important;
    background-position: center top, left center, left top, left top, left top !important;
    background-repeat: no-repeat, no-repeat, repeat, repeat, no-repeat !important;
    background-size: auto 12px, 12px 100%, auto, auto, auto !important;
    background-attachment: scroll, scroll, fixed, fixed, scroll !important;

    .panel-arrowcontent {
        flex: 1 !important;

        #PanelUI-mainView {
            height: 100% !important;
        }
    }
}

#customization-container {
    grid-template-columns: 1fr auto !important;
    grid-template-rows: 1fr auto !important;

    &:not([hidden]) {
        display: grid !important;
    }

    #customization-content-container {
        grid-area: 1 / 1 / 2 / 2 !important;
    }
    
    toolbarpaletteitem[place="palette"] {
        width: 10em !important;
        max-width: 10em !important;
        height: calc(40px + 2em) !important;
        display: inline-flex !important;
        margin: 0 !important;
        margin-block-end: 5px !important;
    }

    #customization-header {
        font-size: 18px !important;
        line-height: 18px !important;
        color: rgb(64,100,128) !important;
        font-weight: lighter !important;
        margin: 0 !important;
        margin-bottom: 1em !important;
        padding: 25px 25px 0 !important;
    }

    #customization-palette {
        padding: 0 25px 25px !important;

        &:not([hidden]) {
            margin-bottom: 25px !important;
        }
    }

    #customization-footer {
        grid-area: 2 / 1 / 3 / 2 !important;
        background-color: rgb(236,236,236) !important;
        border-top: 1px solid rgb(221,221,221) !important;
        padding: 15px !important;
    }

    .footer-button,
    #customization-titlebar-visibility-checkbox {
        appearance: none !important;
        border: 1px solid rgb(192,192,192) !important;
        border-radius: 3px !important;
        margin: 0 !important;
        padding: 2px 12px !important;
        background-color: rgb(251,251,251) !important;
        color: rgb(71,71,71) !important;
        box-shadow: 0 1px rgba(255, 255, 255, 0.5),
                    inset 0 1px rgba(255, 255, 255, 0.5) !important;
        font-weight: normal !important;
        min-height: 35px !important;
        margin-inline-end: 10px !important;

        &[disabled="true"] {
            opacity: .5 !important;
        }

        .button-box {
            margin-inline-start: 3px !important;
            margin-inline-end: 4px !important;
            padding-block-start: 1px !important;
            padding-block-end: 2px !important;
        }

        &[type="menu"] {
            .button-menu-dropmarker {
                margin: 1px !important;
                width: 11px !important;
                height: 11px !important;
                content: none !important;
                background-image: url("chrome://userchrome/content/assets/images/firefox-4/arrow-dn.gif") !important;
                background-repeat: no-repeat !important;
                background-position: center center !important;
            }
        }
    }

    #customization-titlebar-visibility-checkbox {
        padding: 2px 7px !important;
        
        .checkbox-check {
            visibility: collapse !important;
        }

        .checkbox-label-box {
            margin-inline-start: 3px !important;
            margin-inline-end: 4px !important;
            padding-block-start: 1px !important;
            padding-block-end: 2px !important;
            align-items: center !important;
        }

        .checkbox-icon {
            display: flex !important;
            width: 24px !important;
            height: 24px !important;
            background-image: url("chrome://userchrome/content/assets/images/firefox-29/customizableui/customize-titleBar-toggle.png") !important;
        }

        .checkbox-label {
            margin-inline-start: 6px !important;
        }

        &[checked] {
            background-color: rgb(218, 218, 218) !important;
            border-color: rgb(168, 168, 168) !important;
            text-shadow: 0 1px rgb(236, 236, 236) !important;
            box-shadow: 0 1px rgba(255, 255, 255, 0.5),
                        inset 0 1px rgb(196, 196, 196) !important;

            .checkbox-icon {
                background-position-x: -24px !important;
            }
        }
        
        :root:not([echelon-style-4]) & {
            visibility: collapse !important;
        }
    }

    #customization-reset-button {
        margin-inline-end: 0 !important;
    }

    #customization-done-button {
        visibility: collapse !important;
    }
}