@import "_mixins.scss";

:root {
    --toolbarbutton-icon-width: 18px;
    --toolbarbutton-icon-height: 18px;
    --icon16: url("chrome://branding/content/icon32.png") !important;
    --identity-icons-brand: url("chrome://branding/content/icon32.png") !important;
    --identity-color-brand: rgb(229,115,0) !important;
    --identity-background-brand: linear-gradient(rgba(229,114,0,0),
                                 rgba(229,114,0,.5) 35%,
                                 rgba(229,114,0,.5) 65%,
                                 rgba(229,114,0,0)) !important;

    @include toolbar-icons((    
        "back-button": "firefox-4/toolbar/back.png",
        "forward-button": "firefox-4/toolbar/forward.png",
        "stop-button": "firefox-4/toolbar/stop.png",
        "reload-button": "firefox-4/toolbar/reload.png",
        "home-button": "firefox-4/toolbar/home.png",
        "downloads-button": "firefox-4/toolbar/downloads.png",
        "downloads-indicator-anchor": "firefox-4/toolbar/downloads.png",
        "history-button": "firefox-4/toolbar/history.png",
        "bookmarks-button": "firefox-4/toolbar/bookmarks.png",
        "bookmarks-menu-button": "firefox-4/toolbar/bookmarks.png",
        "print-button": "firefox-4/toolbar/print.png",
        "new-tab-button": "firefox-4/toolbar/new-tab.png",
        "new-window-button": "firefox-4/toolbar/new-window.png",
        "cut-button": "firefox-4/toolbar/cut.png",
        "copy-button": "firefox-4/toolbar/copy.png",
        "paste-button": "firefox-4/toolbar/paste.png",
        "fullscreen-button": "firefox-4/toolbar/fullscreen.png",
        "zoom-out-button": "firefox-4/toolbar/zoom-out.png",
        "zoom-in-button": "firefox-4/toolbar/zoom-in.png",
        "PanelUI-menu-button": "firefox-29/toolbar/panelui.png",
        "save-to-pocket-button": "firefox-29/toolbar/pocket.png",
        "save-to-pocket-button[open]": "firefox-29/toolbar/pocket_active.png",
        "unified-extensions-button": "firefox-29/toolbar/addons.png",
        "fxa-toolbar-menu-button": "firefox-4/toolbar/sync.png",
        "fxa-toolbar-menu-button[status="active"]": "firefox-4/toolbar/sync-throbber.png",
    ));

    @include toolbar-icons-inverted((    
        "back-button": "firefox-4/toolbar/inverted/back.png",
        "forward-button": "firefox-4/toolbar/inverted/forward.png",
        "stop-button": "firefox-4/toolbar/inverted/stop.png",
        "reload-button": "firefox-4/toolbar/inverted/reload.png",
        "home-button": "firefox-4/toolbarinverted//home.png",
        "downloads-button": "firefox-4/toolbar/inverted/downloads.png",
        "downloads-indicator-anchor": "firefox-4/toolbar/inverted/downloads.png",
        "history-button": "firefox-4/toolbar/inverted/history.png",
        "print-button": "firefox-4/toolbar/inverted/print.png",
        "new-tab-button": "firefox-4/toolbar/inverted/new-tab.png",
        "new-window-button": "firefox-4/toolbar/inverted/new-window.png",
        "cut-button": "firefox-4/toolbar/inverted/cut.png",
        "copy-button": "firefox-4/toolbar/inverted/copy.png",
        "paste-button": "firefox-4/toolbar/inverted/paste.png",
        "fullscreen-button": "firefox-4/toolbar/inverted/fullscreen.png",
        "zoom-out-button": "firefox-4/toolbar/inverted/zoom-out.png",
        "zoom-in-button": "firefox-4/toolbar/inverted/zoom-in.png",
        "PanelUI-menu-button": "firefox-29/toolbar/inverted/panelui.png",
        "save-to-pocket-button": "firefox-29/toolbar/inverted/pocket.png",
        "save-to-pocket-button[open]": "firefox-29/toolbar/inverted/pocket_active.png",
        "unified-extensions-button": "firefox-29/toolbar/inverted/addons.png"
    ));

    &[titleShortName="firefox"] {
        --identity-icons-brand: url("chrome://userchrome/content/assets/images/firefox-4/branding/firefox/new/identity-icons-brand.png") !important;
        
        @include replace-favicon("chrome://branding/content/icon32.png", "chrome://userchrome/content/assets/images/firefox-4/branding/firefox/icon16.png");
        &[echelon-appearance-newlogo] {
            @include replace-favicon("chrome://branding/content/icon32.png", "chrome://userchrome/content/assets/images/firefox-4/branding/firefox/new/icon16.png");
        }
    }

    &[titleShortName="nightly"] {
        --identity-icons-brand: url("chrome://userchrome/content/assets/images/firefox-4/branding/nightly/new/identity-icons-brand.png") !important;
        --identity-color-brand: rgb(0,33,71) !important;
        --identity-background-brand: linear-gradient(rgba(0,33,71,0),
                                   rgba(0,33,71,.5) 35%,
                                   rgba(0,33,71,.5) 65%,
                                   rgba(0,33,71,0)) !important;

        @include replace-favicon("chrome://branding/content/icon32.png", "chrome://userchrome/content/assets/images/firefox-4/branding/nightly/icon16.png");
        &[echelon-appearance-newlogo] {
            @include replace-favicon("chrome://branding/content/icon32.png", "chrome://userchrome/content/assets/images/firefox-4/branding/nightly/new/icon16.png");
        }
    }

    &[titleShortName="aurora"] {
        --identity-icons-brand: url("chrome://userchrome/content/assets/images/firefox-4/branding/aurora/new/identity-icons-brand.png") !important;
        --identity-color-brand: rgb(51,30,84) !important;
        --identity-background-brand: linear-gradient(rgba(51,30,84,0),
                                   rgba(51,30,84,.5) 35%,
                                   rgba(51,30,84,.5) 65%,
                                   rgba(51,30,84,0)) !important;

        @include replace-favicon("chrome://branding/content/icon32.png", "chrome://userchrome/content/assets/images/firefox-4/branding/aurora/icon16.png");
        &[echelon-appearance-newlogo] {
            @include replace-favicon("chrome://branding/content/icon32.png", "chrome://userchrome/content/assets/images/firefox-4/branding/aurora/new/icon16.png");
        }
    }

    &[titleShortName="echelon"] {
        --identity-icons-brand: url("chrome://userchrome/content/assets/images/firefox-4/branding/echelon/identity-icons-brand.png") !important;

        @include replace-favicon("chrome://branding/content/icon32.png", "chrome://userchrome/content/assets/images/firefox-4/branding/echelon/icon16.png");
    }

    @include replace-favicon("chrome://mozapps/skin/extensions/extension.svg", "chrome://userchrome/content/assets/images/firefox-4/extensions/extensionGeneric-16.png");
    &[echelon-appearance-xp] {
        @include replace-favicon("chrome://mozapps/skin/extensions/extension.svg", "chrome://userchrome/content/assets/images/firefox-4/xp/extensions/extensionGeneric-16.png");
    }

    #page-action-buttons {
        .urlbar-page-action {
            all: revert !important;
            padding: 0 2px !important;
        }

        // travis: star button bullshit
        #star-button {
            @include set-background("firefox-4/bookmark.png");

            @include set-horizontal-states(0, 16px, 32px);
            
            &[starred="true"] {
                @include set-background("firefox-4/editBookmark.png");
            }
        }
    }

    // remove dog ass account picture from sync button
    #fxa-toolbar-menu-button {
        #fxa-avatar-image {
            display: none !important;
        }
    }

    .close-icon {
        @include set-size(16px, 16px);
        @include set-background("firefox-4/close.png");
        @include set-horizontal-states(0, 16px, 32px);
    }
}