:root {
	--inactive-titlebar-opacity: 1 !important; // remove the shit inactive titlebar transparency
	
	// Fix titlebar background in Firefox 133+
	#TabsToolbar {
		background-color: transparent !important;
	}

	#titlebar {
		-moz-window-dragging: drag !important;
	}

	// maximized behavior
	#toolbar-menubar,
	&:not([sizemode="maximized"]) #TabsToolbar,
	&[sizemode="maximized"] #titlebar-content {
		.titlebar-buttonbox-container {
			visibility: collapse !important;
		}
	}

	&[sizemode="maximized"] {
		
	}
}