:root {
	// Fix titlebar background in Firefox 133+
	#TabsToolbar {
		background-color: transparent !important;
	}

	#titlebar {
		-moz-window-dragging: drag !important;
	}

	.titlebar-buttonbox-container:not(.echelon-custom-butonbox) {
		visibility: collapse !important;
	}
}