:root:not([echelon-style-7]) {
    .urlbarView {
        background-color: -moz-Field !important;
        border: 1px solid ThreeDDarkShadow !important;
        margin-inline: 0 !important;

        .urlbarView-body-inner {
            border: 0 !important;

            .urlbarView-results {
                padding: 0 !important;
            }
        }

        .search-one-offs {
            visibility: collapse !important;
        }
    }
}