:root {
    --urlbar-border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.32) rgba(0, 0, 0, 0.37) !important;
    --urlbar-shadow-normal: 0 1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.4) !important;
    --urlbar-background-color: rgba(255, 255, 255, 0.725) !important;
    
    --urlbar-container-padding: 2px !important;
    --urlbar-height-echelon: var(--toolbarbutton-height) !important;
    --urlbar-min-height: var(--urlbar-height-echelon) !important;

    --searchbar-search-icon: url("chrome://userchrome/content/assets/images/firefox-4/defaultFavicon.png") !important;
    --searchbar-go-button: url("chrome://userchrome/content/assets/images/firefox-4/Search-glass.png") !important;

    --default-favicon: url("chrome://userchrome/content/assets/images/firefox-4/defaultFavicon.png") !important;
}

#urlbar {
    &[breakout],
    &[breakout][breakout-extend] {
        height: var(--urlbar-min-height) !important;
        margin: 0 !important;
        width: -moz-available !important; // ??????????? -travis
        top: calc((var(--urlbar-height) - 2) / 2) !important;
        left: 0 !important;
        inset: unset !important;

        .urlbar-input-container {
            padding: var(--urlbar-container-padding) !important;
            height: var(--urlbar-min-height) !important;

            &::after { // lazy hack for dropdown button
                @include set-background("firefox-4/mainwindow-dropdown-arrow.png");

                content: "";
                display: inline-block;
                width: 13px;
                height: 11px;
                align-self: center !important;
                margin-inline-end: -2px !important;
            }
        }
    }

    // hide original go button on urlbar
    #urlbar-go-button {
        visibility: collapse !important;
    }

    :root:not([echelon-style-2]) & #identity-box {
        background-color: -moz-dialog !important;
        background-image: linear-gradient(rgba(255,255,255,.25), rgba(0,0,0,.15)) !important;
        color: -moz-dialogText !important;
        border-radius: 2px !important;
        margin-inline-end: 4px !important;
        order: -1 !important;

        &:hover {
            background-image: linear-gradient(rgba(255,255,255,.5), rgba(50%,50%,50%,.2), rgba(0,0,0,.15)) !important;

            &:active {
                background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.1)) !important;
            }
        }

        &:not(.chromeUI)[pageproxystate="valid"] {
            color: white !important;
            text-shadow: 0 1px 0 rgba(0,0,0,.25) !important;
            box-shadow: 0 0 0 1px rgba(0,0,0,.2) inset !important;
            background-color: hsl(219,45%,60%) !important;
        }

        &.chromeUI {
            #identity-icon-label {
                display: none !important;
            }
        }

        #identity-icon-box {
            height: 18px !important;
            padding: 1px 4px !important;
            background: url("chrome://userchrome/content/assets/images/firefox-4/urlbar-favicon-glow.png") left center no-repeat !important;
            background-color: transparent !important;
            outline: 0 !important;
        }
    }
}

#urlbar-container, #search-container {
    position: relative !important;
    margin-inline: 6px !important;
    align-items: unset !important;
}

#urlbar, #searchbar {
    font: message-box !important;
}

#urlbar[breakout][breakout-extend], #urlbar[breakout][breakout-extend-disabled][open] {
    z-index: 3 !important;
    height: auto !important;
}

#urlbar-background, #searchbar {
    height: var(--urlbar-min-height) !important;
    padding: 2px !important;
    border: 1px solid;
    border-color: var(--urlbar-border-color) !important;
    border-radius: var(--toolbarbutton-border-radius) !important;
    background-clip: padding-box !important;
    background-color: var(--urlbar-background-color) !important;
    box-shadow: var(--urlbar-shadow-normal) !important;
    outline: 0 !important;
    color: black !important;
    animation: none !important;
}

// unified urlbar and refresh/stop/go buttons
:root:not([chromehidden~="toolbar"]) {
    #urlbar-container.unified-refresh-button {
        margin-inline-end: 0 !important;

        #urlbar-background {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border-inline-end: 0 !important;
        }

        
        &[focused="true"] {
            + #stop-reload-button {
                > .toolbarbutton-1:not(#go-button) { // hide errthang but go button
                    visibility: collapse !important;
                }

                > #go-button { // welcome back go button
                    visibility: visible !important;
                }
            }
        }
    }
}

#stop-reload-button {
    &.unified {
        height: var(--urlbar-min-height) !important;
        border: 1px solid !important;
        border-color: var(--urlbar-border-color) !important;
        border-inline-start: 0 !important;
        border-top-right-radius: var(--toolbarbutton-border-radius) !important;
        border-bottom-right-radius: var(--toolbarbutton-border-radius) !important;
        box-shadow: var(--urlbar-shadow-normal) !important;
        background-color: var(--urlbar-background-color) !important;
        background-clip: padding-box !important;
        overflow: clip !important;

        .toolbarbutton-1 {
            padding: 0 3px !important;
            border-inline-start: 1px solid rgba(0, 0, 0, 0.25) !important;
            background-origin: border-box !important;
            margin: 0 !important;
            opacity: 1 !important;

            &:hover {
                box-shadow: 0 1px 0 rgba(0,0,0,.1) inset, -1px -1px 1px rgba(255,255,255,.25) inset !important;

                &:active {
                    box-shadow: 0 0 6.5px rgba(0,0,0,.4) inset, 0 0 2px rgba(0,0,0,.4) inset !important;
                }
            }

            .toolbarbutton-icon {
                @include set-background("firefox-4/reload-stop-go.png");
                width: 14px !important;
                height: 14px !important;
                padding: 0 !important;
                background-color: transparent !important;
                opacity: 1 !important;
            }
        }

        #reload-button {
            &:hover {
                background-image: linear-gradient(rgb(162, 207, 241), rgb(111, 178, 225) 49%, rgb(91, 159, 217) 51%, rgb(62, 138, 200)) !important;

                .toolbarbutton-icon {
                    background-position-x: -14px !important;
                }
            }
        }

        #go-button {
            background-image: linear-gradient(rgb(115,213,115), rgb(96,190,96) 49%, rgb(82,174,82) 51%, rgb(79,155,79)) !important;

            .toolbarbutton-icon {
                background-position-x: -42px !important;
            }
        }

        #stop-button {
            background-image: -moz-linear-gradient(rgb(231,162,140), rgb(209,119,100) 49%, rgb(193,92,78) 51%, rgb(173,72,58)) !important;
            
            .toolbarbutton-icon {
                background-position-x: -28px !important;
            }
        }
    }
    
    #go-button,
    .toolbarbutton-animatable-box,
    #reload-button:not([displaystop="true"]) + #go-button + #stop-button { // holy shit bro
        visibility: collapse !important;
    }
}

#searchbar {
    .searchbar-search-button {
        margin-inline-end: 4px !important;

        .searchbar-search-icon {
            margin-inline: 2px !important;
            margin-right: 0 !important;
            list-style-image: var(--searchbar-search-icon) !important;
        }

        .searchbar-search-icon-overlay {
            width: 13px !important;
            height: 11px !important;
            margin-inline: 0 !important;
            margin-top: 0 !important;
            @include set-background("firefox-4/mainwindow-dropdown-arrow.png");
        }

        &[aria-expanded="true"] {
            .searchbar-search-icon-overlay {
                background-position-x: -13px !important;
            }
        }
    }

    .search-go-button {
        all: unset !important;
        width: 16px !important;
        height: 16px !important;
        display: flex !important;
        margin: 1px !important;
        background-image: url("chrome://userchrome/content/assets/images/firefox-4/Search-glass.png") !important;
        list-style-image: none !important;

        @include set-horizontal-states(0, 16px, 32px);
    }
}