:root {
    --urlbar-border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.32) rgba(0, 0, 0, 0.37) !important;
    --urlbar-shadow-normal: 0 1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.4) !important;
    --urlbar-background-color: rgba(255, 255, 255, 0.725) !important;
    
    --urlbar-container-padding: 2px !important;
    --urlbar-height-echelon: var(--toolbarbutton-height) !important;
    --urlbar-min-height: var(--urlbar-height-echelon) !important;

    --searchbar-search-icon: url("chrome://userchrome/content/assets/images/firefox-4/defaultFavicon.png") !important;

    #urlbar {
        &[breakout],
		&[breakout][breakout-extend] {
            height: var(--urlbar-min-height) !important;
            margin: 0 !important;
            width: var(--urlbar-width) !important;
            top: calc((var(--urlbar-height) - 2) / 2) !important;

            .urlbar-input-container {
                padding: var(--urlbar-container-padding) !important;
                height: var(--urlbar-min-height) !important;
            }
		}

        #identity-box {
            background-color: -moz-dialog !important;
            background-image: linear-gradient(rgba(255,255,255,.25), rgba(0,0,0,.15)) !important;
            color: -moz-dialogText !important;
            border-radius: 2px !important;
            order: -1 !important;

            &:hover {
                background-image: linear-gradient(rgba(255,255,255,.5), rgba(50%,50%,50%,.2), rgba(0,0,0,.15)) !important;

                &:active {
                    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.1)) !important;
                }
            }

            &[pageproxystate="valid"] {
                color: white !important;
                text-shadow: 0 1px 0 rgba(0,0,0,.25) !important;
                box-shadow: 0 0 0 1px rgba(0,0,0,.2) inset !important;
                background-color: hsl(219,45%,60%) !important;
            }

            #identity-icon-box {
                width: 24px !important;
                height: 18px !important;
                padding: 1px 4px !important;
                background: url("chrome://userchrome/content/assets/images/firefox-4/urlbar-favicon-glow.png") center center no-repeat !important;
                background-color: transparent !important;
                outline: 0 !important;
            }
        }
    }

    #urlbar-container, #search-container {
        margin-inline: 6px !important;
    }

    #urlbar, #searchbar {
        font: message-box !important;
    }

    #urlbar-background, #searchbar {
        height: var(--urlbar-min-height) !important;
        padding: 2px !important;
        border: 1px solid;
        border-color: var(--urlbar-border-color) !important;
        border-radius: var(--toolbarbutton-border-radius) !important;
        background-clip: padding-box !important;
        background-color: var(--urlbar-background-color) !important;
        box-shadow: var(--urlbar-shadow-normal) !important;
        outline: 0 !important;
        color: black !important;
        animation: none !important;
    }

    // unified urlbar and refresh/stop/go buttons
    &:not([chromehidden~="toolbar"]) {
        #urlbar-container.unified-refresh-button {
            margin-inline-end: 0 !important;

            #urlbar-background {
                border-top-right-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
                border-inline-end: 0 !important;
            }

            
            &[focused="true"] {
                + #stop-reload-button {
                    > .toolbarbutton-1:not(#go-button) { // hide errthang but go button
                        visibility: collapse !important;
                    }

                    > #go-button { // welcome back go button
                        visibility: visible !important;
                    }
                }
            }
        }
    }

    #stop-reload-button {
        &.unified {
            height: var(--urlbar-min-height) !important;
            border: 1px solid !important;
            border-color: var(--urlbar-border-color) !important;
            border-inline-start: 0 !important;
            border-top-right-radius: var(--toolbarbutton-border-radius) !important;
            border-bottom-right-radius: var(--toolbarbutton-border-radius) !important;
            box-shadow: var(--urlbar-shadow-normal) !important;
            background-color: var(--urlbar-background-color) !important;
            background-clip: padding-box !important;
            overflow: hidden !important;

            .toolbarbutton-1 {
                list-style-image: url("chrome://userchrome/content/assets/images/firefox-4/reload-stop-go.png") !important;
                padding: 0 3px !important;
                border-inline-start: 1px solid rgba(0, 0, 0, 0.25) !important;
                background-origin: border-box !important;
                margin: 0 !important;
                opacity: 1 !important;

                &:hover {
                    box-shadow: 0 1px 0 rgba(0,0,0,.1) inset, -1px -1px 1px rgba(255,255,255,.25) inset !important;

                    &:active {
                        box-shadow: 0 0 6.5px rgba(0,0,0,.4) inset, 0 0 2px rgba(0,0,0,.4) inset !important;
                    }
                }

                .toolbarbutton-icon {
                    width: 14px !important;
                    height: 14px !important;
                    padding: 0 !important;
                    background-color: transparent !important;
                    opacity: 1 !important;
                }

                .toolbarbutton-animatable-box { // hide the dog ass animations
                    visibility: collapse !important;
                }
            }

            #reload-button {
                -moz-image-region: rect(0px, 14px, 14px, 0px) !important;
                &:hover {
                    -moz-image-region: rect(0px, 28px, 14px, 14px) !important;
                    background-image: linear-gradient(rgb(162, 207, 241), rgb(111, 178, 225) 49%, rgb(91, 159, 217) 51%, rgb(62, 138, 200)) !important;
                }
            }

            #go-button {
                -moz-image-region: rect(0px, 56px, 14px, 42px) !important;
                background-image: linear-gradient(rgb(115,213,115), rgb(96,190,96) 49%, rgb(82,174,82) 51%, rgb(79,155,79)) !important;
                visibility: collapse !important;
            }

            #stop-button {
                -moz-image-region: rect(0px, 42px, 14px, 28px) !important;
                background-image: -moz-linear-gradient(rgb(231,162,140), rgb(209,119,100) 49%, rgb(193,92,78) 51%, rgb(173,72,58)) !important;
                
                &:hover {
                    background-image: linear-gradient(rgb(244,156,128), rgb(215,101,77) 49%, rgb(194,66,48) 51%, rgb(170,41,23)) !important;
                }

                &[disabled="true"] { // add back the fucking hiding stop button shit
                    visibility: collapse !important;
                }
            }
        }
    }

    #searchbar {
        .searchbar-search-button {
            margin-inline-end: 4px !important;

            .searchbar-search-icon {
                margin-inline: 2px !important;
                margin-right: 0 !important;
                list-style-image: var(--searchbar-search-icon) !important;
            }

            .searchbar-search-icon-overlay {
                width: 13px !important;
                height: 11px !important;
                margin-inline: 0 !important;
                margin-top: 0 !important;
                list-style-image: url("chrome://userchrome/content/assets/images/firefox-4/mainwindow-dropdown-arrow.png") !important;
                -moz-image-region: rect(0, 13px, 11px, 0) !important;
            }

            &[aria-expanded="true"] {
                .searchbar-search-icon-overlay {
                    -moz-image-region: rect(0, 26px, 11px, 13px) !important;
                }
            }
        }

        .search-go-button {
            all: unset !important;
            width: 16px !important;
            height: 16px !important;
            display: flex !important;
            padding: 1px !important;
            list-style-image: url("chrome://userchrome/content/assets/images/firefox-4/Search-glass.png") !important;
            -moz-image-region: rect(0px 16px 16px 0px) !important;

            &:hover {
                -moz-image-region: rect(0px 32px 16px 16px) !important;
            }

            &:active {
                -moz-image-region: rect(0px, 48px, 16px, 32px) !important;
            }
        }
    }
}