/* ::::: Firefox 4 ::::: */
@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");
panel[type=arrow] {
  appearance: none;
  background: transparent;
  border: none;
}
panel[type=arrow][side=top], panel[type=arrow][side=bottom] {
  margin-inline: -20px;
}
panel[type=arrow][side=left], panel[type=arrow][side=right] {
  margin-block: -20px;
}

menupopup[type=arrow][side=top], menupopup[type=arrow][side=bottom] {
  margin-inline: -6px;
}
menupopup[type=arrow][side=left], menupopup[type=arrow][side=right] {
  margin-block: -6px;
}

/* These specifically for some reason has weird positioning */
#appMenu-popup,
#widget-overflow {
  margin-inline: -6px !important;
}

/* More weird positioning at the edge of the screen */
#sidebarMenu-popup {
  margin-inline: -7px !important;
}

:is(panel, menupopup[placespopup]) {
  --panel-shadow: 0 0 4px rgba(0,0,0,0.2) !important;
}
:is(panel, menupopup[placespopup])::part(arrowcontent) {
  padding: var(--arrowpanel-padding);
  color: var(--arrowpanel-color);
  background: var(--arrowpanel-background);
  border-radius: var(--arrowpanel-border-radius);
  background-clip: padding-box;
  border: 1px solid var(--arrowpanel-border-color);
  box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.2);
  margin: 4px;
  box-shadow: 0 0 4px hsla(210, 4%, 10%, 0.2);
}
:is(panel, menupopup[placespopup])::part(arrowcontent) > slot {
  /* propagate border-radius from arrowcontent to slotted children */
  border-radius: inherit;
}
:is(panel, menupopup[placespopup])[orient=vertical]::part(arrowcontent) {
  flex-direction: column;
}
:is(panel, menupopup[placespopup]).panel-no-padding::part(arrowcontent) {
  padding: 0;
  overflow: hidden; /* Don't let panel content overflow the border-radius */
}
:is(panel, menupopup[placespopup])::part(arrow) {
  -moz-context-properties: fill, stroke;
  fill: var(--arrowpanel-background);
  stroke: var(--arrowpanel-border-color);
}
:is(panel, menupopup[placespopup])[side=top]::part(arrow), :is(panel, menupopup[placespopup])[side=bottom]::part(arrow) {
  list-style-image: url("chrome://userchrome/content/images/arrow/panelarrow-vertical.svg");
  position: relative;
  margin-inline: 10px;
}
:is(panel, menupopup[placespopup])[side=top]::part(arrow) {
  margin-bottom: -5px;
}
:is(panel, menupopup[placespopup])[side=bottom]::part(arrow) {
  transform: scaleY(-1);
  margin-top: -5px;
}
:is(panel, menupopup[placespopup])[side=left]::part(arrow), :is(panel, menupopup[placespopup])[side=right]::part(arrow) {
  list-style-image: url("chrome://userchrome/content/images/arrow/panelarrow-horizontal.svg");
  position: relative;
  margin-block: 10px;
}
:is(panel, menupopup[placespopup])[side=left]::part(arrow) {
  margin-right: -5px;
}
:is(panel, menupopup[placespopup])[side=right]::part(arrow) {
  transform: scaleX(-1);
  margin-left: -5px;
}

#protections-popup[mainviewshowing][side=top]::part(arrow) {
  fill: #0A51BF;
}

.ac-dropmarker {
  width: 12px !important;
}
.ac-dropmarker::part(icon) {
  list-style-image: url("chrome://userchrome/content/assets/images/arrow-dropdown-12") !important;
  width: 12px !important;
  height: 16px !important;
}

.popup-notification-dropmarker > .button-box > .button-menu-dropmarker::part(icon) {
  list-style-image: url("chrome://userchrome/content/assets/images/arrow-dropdown-16") !important;
}

:root {
  --arrowscrollbox-image: url("chrome://userchrome/content/assets/images/firefox-4/tabs/tab-arrow-left.png") !important;
}
:root[echelon-style-2] {
  --arrowscrollbox-image: url("chrome://userchrome/content/assets/images/firefox-10/tabs/tab-arrow-left-inverted.png") !important;
}

#TabsToolbar .toolbarbutton-1:not(#tabs-newtab-button),
#tabbrowser-arrowscrollbox::part(scrollbutton-up),
#tabbrowser-arrowscrollbox::part(scrollbutton-down) {
  padding: 0 3px !important;
  border: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}

#TabsToolbar .toolbarbutton-1:not(#tabs-newtab-button):hover,
#tabbrowser-arrowscrollbox:not([scrolledtostart])::part(scrollbutton-up):hover,
#tabbrowser-arrowscrollbox:not([scrolledtoend])::part(scrollbutton-down):hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)), linear-gradient(transparent, rgba(0, 0, 0, 0.25) 30%), linear-gradient(transparent, rgba(0, 0, 0, 0.25) 30%) !important;
  background-position: 1px -1px, 0 -1px, 100% -1px !important;
  background-size: calc(100% - 2px) 100%, 1px 100%, 1px 100% !important;
  background-repeat: no-repeat !important;
}

#tabbrowser-arrowscrollbox::part(scrollbutton-up),
#tabbrowser-arrowscrollbox::part(scrollbutton-down) {
  margin: 0 !important;
  padding-inline-end: 2px !important;
  border-inline-end: 2px solid transparent !important;
  background-origin: border-box !important;
}

#tabbrowser-arrowscrollbox:not([scrolledtostart])::part(scrollbutton-up),
#tabbrowser-arrowscrollbox:not([scrolledtoend])::part(scrollbutton-down) {
  border-image: url("chrome://userchrome/content/assets/images/firefox-4/tabs/tab-overflow-border.png") 0 2 0 2/0 2px 0 0 !important;
}

#tabbrowser-arrowscrollbox:-moz-locale-dir(rtl)::part(scrollbutton-up),
#tabbrowser-arrowscrollbox::part(scrollbutton-down) {
  transform: scaleX(-1) !important;
}

#tabbrowser-arrowscrollbox::part(overflow-start-indicator),
#tabbrowser-arrowscrollbox::part(overflow-end-indicator) {
  visibility: collapse !important;
}

/*# sourceMappingURL=echelon.uc.css.map */
