/* Error: expected selector.
 *   ,
 * 6 |             &:not(:hover,) {
 *   |                          ^
 *   '
 *   scss-src\chrome\firefox-56\_urlbar-search.scss 6:26  @import
 *   scss-src\chrome\firefox-56\_style.scss 5:13          @import
 *   scss-src\chrome\_styles.scss 36:10                   @import
 *   echelon.scss 1:9                                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a   \2577 \a 6 \2502              &:not(:hover,) {\d\a   \2502                           ^\a   \2575 \a   scss-src\\chrome\\firefox-56\\_urlbar-search.scss 6:26  @import\a   scss-src\\chrome\\firefox-56\\_style.scss 5:13          @import\a   scss-src\\chrome\\_styles.scss 36:10                   @import\a   echelon.scss 1:9                                     root stylesheet";
}
