/* ::::: Firefox 4 ::::: */
:root #TabsToolbar {
  background-color: transparent !important;
}

:root {
  --toolbarbutton-width: 30px !important;
  --toolbarbutton-height: 24px !important;
  --toolbarbutton-outer-padding: 1px 3px !important;
  --toolbarbutton-background: rgba(151, 152, 153, 0.05) linear-gradient(rgba(251, 252, 253, 0.95), rgba(246, 247, 248, 0.47) 49%, rgba(231, 232, 233, 0.45) 51%, rgba(225, 226, 229, 0.3));
  --toolbarbutton-border-radius: 4.5px !important;
  --toolbarbutton-border-color: rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.19) rgba(0, 0, 0, 0.38) !important;
  --toolbarbutton-transition-duration: .3s !important;
  --toolbarbutton-transition-timingfunction: ease-in !important;
  --toolbarbutton-shadow-normal: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
  --toolbarbutton-shadow-hot: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 0 0 1.5px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.1), 0 0 3.5px hsl(190, 90%, 80%);
  --toolbarbutton-shadow-active: 0 0 6.5px rgba(0, 0, 0, 0.4) inset, 0 0 2px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.4);
  /* toolbarbutton */
}
:root :not(.widget-overflow-list) > .toolbarbutton-1:not(#tabs-newtab-button, #new-tab-button, .subviewbutton, #alltabs-button) {
  padding: 1px 5px !important;
  background: var(--toolbarbutton-background) !important;
  background-clip: padding-box !important;
  border-radius: var(--toolbarbutton-border-radius) !important;
  border: 1px solid !important;
  border-color: var(--toolbarbutton-border-color) !important;
  box-shadow: var(--toolbarbutton-shadow-normal) !important;
  color: var(--lwt-text-color, black) !important;
  text-shadow: 0 0 2px white;
  transition: background-color var(--toolbarbutton-transition-duration) var(--toolbarbutton-transition-timingfunction), border-color var(--toolbarbutton-transition-duration) var(--toolbarbutton-transition-timingfunction), box-shadow var(--toolbarbutton-transition-duration) var(--toolbarbutton-transition-timingfunction) !important;
}
:root :not(.widget-overflow-list) > .toolbarbutton-1:not(#tabs-newtab-button, #new-tab-button, .subviewbutton, #alltabs-button):not([disabled=true]):hover {
  background-color: hsla(190, 60%, 70%, 0.5) !important;
  --toolbarbutton-border-color: hsla(190,50%,65%,.8) hsla(190,50%,50%,.8) hsla(190,50%,40%,.8) !important;
  box-shadow: var(--toolbarbutton-shadow-hot) !important;
}
:root :not(.widget-overflow-list) > .toolbarbutton-1:not(#tabs-newtab-button, #new-tab-button, .subviewbutton, #alltabs-button):not([disabled=true]):hover:active, :root :not(.widget-overflow-list) > .toolbarbutton-1:not(#tabs-newtab-button, #new-tab-button, .subviewbutton, #alltabs-button):not([disabled=true])[open] {
  background-color: transparent !important;
  --toolbarbutton-border-color: rgba(0,0,0,.65) rgba(0,0,0,.55) rgba(0,0,0,.5) !important;
  box-shadow: var(--toolbarbutton-shadow-active) !important;
  text-shadow: none !important;
  transition: none !important;
}
:root :not(.widget-overflow-list) > .toolbarbutton-1:not(#tabs-newtab-button, #new-tab-button, .subviewbutton, #alltabs-button)[disabled=true] {
  opacity: 0.8 !important;
}
:root :not(.widget-overflow-list) > .toolbarbutton-1:not(#tabs-newtab-button, #new-tab-button, .subviewbutton, #alltabs-button)[disabled=true] .toolbarbutton-icon {
  opacity: 0.5 !important;
}
:root :not(.widget-overflow-list) > .toolbarbutton-1:not(#tabs-newtab-button, #new-tab-button, .subviewbutton, #alltabs-button) .toolbarbutton-badge-stack {
  padding: 0 !important;
  border-radius: 0 !important;
  background-color: none !important;
}
:root :not(.widget-overflow-list) > .toolbarbutton-1:not(#tabs-newtab-button, #new-tab-button, .subviewbutton, #alltabs-button) .toolbarbutton-icon {
  --toolbarbutton-inner-padding: 0 !important;
  --toolbarbutton-border-radius: 0 !important;
  background-color: transparent !important;
  width: var(--toolbarbutton-icon-width) !important;
  height: var(--toolbarbutton-icon-height) !important;
}
:root #nav-bar {
  padding-inline: 2px !important;
  align-items: center !important;
}
:root #nav-bar :not(.widget-overflow-list) > .toolbarbutton-1:not(#back-button, #forward-button) {
  margin: var(--toolbarbutton-outer-padding) !important;
  min-width: var(--toolbarbutton-width) !important;
  max-width: var(--toolbarbutton-width) !important;
  height: var(--toolbarbutton-height) !important;
}
:root #nav-bar #back-button {
  width: 30px !important;
  height: 30px !important;
  position: relative !important;
  z-index: 1 !important;
  margin-top: -2px !important;
  margin-bottom: -2px !important;
  border-radius: 50% !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(0, 0, 0, 0.4), 0 1px 1px rgba(0, 0, 0, 0.3), 1px 2px 1px rgba(0, 0, 0, 0.2) !important;
}
:root #nav-bar #back-button:not([disabled=true]):hover {
  background-color: hsla(190, 60%, 70%, 0.5) !important;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 0 0 1px hsla(190, 50%, 40%, 0.3), 0 1px 0 rgba(0, 0, 0, 0.4), 0 1px 1px rgba(0, 0, 0, 0.3), 1px 2px 1px rgba(0, 0, 0, 0.2), 0 0 5px 1px hsl(190, 90%, 80%) !important;
}
:root #nav-bar #back-button:not([disabled=true]):hover:active, :root #nav-bar #back-button:not([disabled=true])[open] {
  background-color: transparent !important;
  box-shadow: 0 0 6.5px rgba(0, 0, 0, 0.4) inset, 0 0 2px rgba(0, 0, 0, 0.4) inset, 0 0 0 1px rgba(0, 0, 0, 0.65), 0 2px 0 rgba(255, 255, 255, 0.4) !important;
}
:root #nav-bar #back-button .toolbarbutton-icon {
  --toolbarbutton-icon-width: 20px !important;
  --toolbarbutton-icon-height: 20px !important;
}
:root #nav-bar #forward-button {
  clip-path: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3CclipPath id='windows-keyhole-forward-clip-path' clipPathUnits='objectBoundingBox'%3E%3Cpath d='M 0,0 C 0.16,0.11 0.28,0.29 0.28,0.5 0.28,0.71 0.16,0.89 0,1 L 1,1 1,0 0,0 z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#windows-keyhole-forward-clip-path") !important;
  width: 29px !important;
  height: var(--toolbarbutton-height) !important;
  margin: var(--toolbarbutton-outer-padding) !important;
  margin-inline-start: -6px !important;
  padding-left: 7px !important;
  padding-right: 3px !important;
}

:root {
  --toolbarbutton-icon-width: 18px;
  --toolbarbutton-icon-height: 18px;
}
:root #back-button {
  -moz-image-region: rect(18px, 20px, 38px, 0) !important;
  list-style-image: url("chrome://userchrome/content/assets/images/firefox-4/toolbar.png") !important;
}
:root #forward-button {
  -moz-image-region: rect(0, 36px, 18px, 18px) !important;
  list-style-image: url("chrome://userchrome/content/assets/images/firefox-4/toolbar.png") !important;
}
:root #stop-button {
  -moz-image-region: rect(0, 54px, 18px, 36px) !important;
  list-style-image: url("chrome://userchrome/content/assets/images/firefox-4/toolbar.png") !important;
}
:root #reload-button {
  -moz-image-region: rect(0, 72px, 18px, 54px) !important;
  list-style-image: url("chrome://userchrome/content/assets/images/firefox-4/toolbar.png") !important;
}
:root #home-button {
  -moz-image-region: rect(0, 90px, 18px, 72px) !important;
  list-style-image: url("chrome://userchrome/content/assets/images/firefox-4/toolbar.png") !important;
}
:root #downloads-button {
  -moz-image-region: rect(0, 108px, 18px, 90px) !important;
  list-style-image: url("chrome://userchrome/content/assets/images/firefox-4/toolbar.png") !important;
}
:root #history-button {
  -moz-image-region: rect(0, 126px, 18px, 108px) !important;
  list-style-image: url("chrome://userchrome/content/assets/images/firefox-4/toolbar.png") !important;
}
:root #bookmarks-button {
  -moz-image-region: rect(0, 144px, 18px, 126px) !important;
  list-style-image: url("chrome://userchrome/content/assets/images/firefox-4/toolbar.png") !important;
}
:root #bookmarks-menu-button {
  -moz-image-region: rect(0, 144px, 18px, 126px) !important;
  list-style-image: url("chrome://userchrome/content/assets/images/firefox-4/toolbar.png") !important;
}
:root #print-button {
  -moz-image-region: rect(0, 162px, 18px, 144px) !important;
  list-style-image: url("chrome://userchrome/content/assets/images/firefox-4/toolbar.png") !important;
}
:root #new-tab-button {
  -moz-image-region: rect(0, 180px, 18px, 162px) !important;
  list-style-image: url("chrome://userchrome/content/assets/images/firefox-4/toolbar.png") !important;
}
:root #new-window-button {
  -moz-image-region: rect(0, 198px, 18px, 180px) !important;
  list-style-image: url("chrome://userchrome/content/assets/images/firefox-4/toolbar.png") !important;
}
:root #cut-button {
  -moz-image-region: rect(0, 216px, 18px, 198px) !important;
  list-style-image: url("chrome://userchrome/content/assets/images/firefox-4/toolbar.png") !important;
}
:root #copy-button {
  -moz-image-region: rect(0, 234px, 18px, 216px) !important;
  list-style-image: url("chrome://userchrome/content/assets/images/firefox-4/toolbar.png") !important;
}
:root #paste-button {
  -moz-image-region: rect(0, 252px, 18px, 234px) !important;
  list-style-image: url("chrome://userchrome/content/assets/images/firefox-4/toolbar.png") !important;
}
:root #fullscreen-button {
  -moz-image-region: rect(0, 270px, 18px, 252px) !important;
  list-style-image: url("chrome://userchrome/content/assets/images/firefox-4/toolbar.png") !important;
}
:root #zoom-out-button {
  -moz-image-region: rect(0, 288px, 18px, 270px) !important;
  list-style-image: url("chrome://userchrome/content/assets/images/firefox-4/toolbar.png") !important;
}
:root #zoom-in-button {
  -moz-image-region: rect(0, 306px, 18px, 288px) !important;
  list-style-image: url("chrome://userchrome/content/assets/images/firefox-4/toolbar.png") !important;
}

/* ::::: Firefox 5 ::::: */
/* ::::: Firefox 10 ::::: */
/* ::::: Firefox 14 ::::: */
/* ::::: Firefox 29 ::::: */
/* ::::: Firefox 56 ::::: */

/*# sourceMappingURL=echelon.css.map */
