/* ::::: Firefox 4 ::::: */
@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/* Tooltip appearance */
tooltip {
  -moz-default-appearance: tooltip !important;
  appearance: auto !important;
  margin-top: 21px;
  border: 1px solid InfoText;
  padding: 2px 3px;
  max-width: 40em;
  background-color: InfoBackground;
  color: InfoText;
  font: message-box;
  color-scheme: light !important;
}

/* Make everything light theme. The content inside a xul:browser inherits its
   prefers-color-scheme media query from its color-scheme property, and we
   don't want the light theme to apply here. If we do, then certain things
   such as dialogs in about:preferences will become light theme on dark theme. */
:not(xul|browser) {
  color-scheme: light !important;
}

@media (prefers-color-scheme: dark) {
  xul|browser {
    color-scheme: dark !important;
  }
}
@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");
:root:not([echelon-style-6]) {
  --arrowpanel-padding: 10px !important;
  --arrowpanel-color: -moz-DialogText !important;
  --arrowpanel-background: -moz-Dialog !important;
  --arrowpanel-border-radius: 6px !important;
  --arrowpanel-border: 1px solid var(--arrowpanel-border-color) !important;
  --arrowpanel-border-color: ThreeDShadow !important;
  --arrowpanel-margin: 0 !important;
  --arrowpanel-echelon-shadow: none !important;
  --arrowpanel-arrow-margin: -23px !important;
  --arrowpanel-arrow-offset: 6px !important;
  --arrowpanel-arrow-position: -1px !important;
  --arrowpanel-vertical: url("chrome://echelon/content/firefox-4/panelarrow/panelarrow-vertical.svg");
  --arrowpanel-hortizontal: url("chrome://echelon/content/firefox-4/panelarrow/panelarrow-horizontal.svg");
}
:root:not([echelon-style-6]):not([echelon-style-5][echelon-appearance-newlogo])[echelon-system-style=winxp] {
  --arrowpanel-padding: 16px !important;
  --arrowpanel-background: rgb(250,251,253) !important;
  --arrowpanel-border-radius: 6px !important;
  --arrowpanel-border: none !important;
  --arrowpanel-margin: 3px !important;
  --arrowpanel-echelon-shadow: 0 0 5px 1px rgba(184,205,232,1) inset, 0 0 0 1px rgba(0,0,0,.25), 0 1px 5px rgba(0,0,0,.5) !important;
  --arrowpanel-arrow-margin: -25px !important;
  --arrowpanel-vertical: url("chrome://echelon/content/firefox-4/xp/panelarrow/panelarrow-up.png");
  --arrowpanel-hortizontal: url("chrome://echelon/content/firefox-4/xp/panelarrow/panelarrow-down.png");
}

:root[echelon-style-5]:not([echelon-style-6]) {
  --arrowpanel-border-radius: 4px !important;
  --arrowpanel-margin: 4px !important;
  --arrowpanel-arrow-margin: -20px !important;
  --arrowpanel-arrow-offset: 10px !important;
  --arrowpanel-arrow-position: -5px !important;
  --arrowpanel-vertical: url("chrome://echelon/content/firefox-14/panelarrow/panelarrow-vertical.svg");
  --arrowpanel-hortizontal: url("chrome://echelon/content/firefox-14/panelarrow/panelarrow-horizontal.svg");
}
:root[echelon-style-5]:not([echelon-style-6])[echelon-appearance-newlogo] {
  --arrowpanel-border-color: rgba(0,0,0,.3) !important;
  --arrowpanel-echelon-shadow: 0 0 4px rgba(0,0,0,.3) !important;
  --arrowpanel-background: linear-gradient(white 1px, rgba(255,255,255,0) 15px), -moz-Dialog !important;
  --arrowpanel-vertical: url("chrome://echelon/content/firefox-28/panelarrow/panelarrow-vertical-white.png");
  --arrowpanel-hortizontal: url("chrome://echelon/content/firefox-28/panelarrow/panelarrow-horizontal-white.png");
}

@media all and not (-moz-windows-classic) {
  :root[echelon-appearance-blue]:not([echelon-system-style=winxp]):not([echelon-style-4]) {
    --arrowpanel-border-radius: 6px !important;
    --arrowpanel-background: -moz-linear-gradient(rgba(250,253,255,.9), rgba(250,253,255,.75) 20px, rgba(250,253,255,.70) 39px, rgba(250,253,255,0) 41px, rgba(250,253,255,0)), rgba(179,230,255,.35) !important;
    --arrowpanel-border: none !important;
    --arrowpanel-margin: 5px !important;
    --arrowpanel-echelon-shadow: 0 0 0 1px rgba(255,255,255,.65) inset, 0 1px 0 rgba(255,255,255,.3) inset, 0 0 0 1px rgba(0,0,0,.75), 0 1px 3px 2px rgba(0,0,0,.65) !important;
    --arrowpanel-arrow-position: -5px !important;
    --arrowpanel-vertical: url("chrome://echelon/content/firefox-4/panelarrow/panelarrow-up.png");
    --arrowpanel-hortizontal: url("chrome://echelon/content/firefox-4/panelarrow/panelarrow-horiz.png");
    --arrowpanel-inner-background: rgb(250,250,250) !important;
    --arrowpanel-inner-margin: 5px !important;
    --arrowpanel-inner-border-radius: 2px !important;
    --arrowpanel-inner-padding: 16px !important;
    --arrowpanel-inner-border: 1px solid rgba(0,0,0,.7) !important;
    --arrowpanel-inner-shadow: 0 0 0 1px rgba(255,255,255,.6) !important;
  }
}
:root[echelon-style-6] {
  --arrowpanel-padding: 10px !important;
  --arrowpanel-color: -moz-FieldText !important;
  --arrowpanel-background: -moz-field !important;
  --arrowpanel-border-radius: 4px !important;
  --arrowpanel-border: 1px solid var(--arrowpanel-border-color) !important;
  --arrowpanel-border-color: ThreeDShadow !important;
  --arrowpanel-margin: 4px !important;
  --arrowpanel-echelon-shadow: none !important;
  --arrowpanel-arrow-margin: -20px !important;
  --arrowpanel-arrow-offset: 10px !important;
  --arrowpanel-arrow-position: -5px !important;
  --arrowpanel-vertical: url("chrome://echelon/content/firefox-29/panelarrow/panelarrow-vertical.svg");
  --arrowpanel-hortizontal: url("chrome://echelon/content/firefox-29/panelarrow/panelarrow-horizontal.svg");
}
@media all and not (-moz-windows-classic) {
  :root[echelon-style-6][echelon-appearance-blue] {
    --arrowpanel-border-color: hsla(210,4%,10%,.2) !important;
    --arrowpanel-echelon-shadow: 0 0 4px hsla(210,4%,10%,.2) !important;
  }
}
:root[echelon-style-6][echelon-system-style=win8], :root[echelon-style-6][echelon-system-style=win10] {
  --arrowpanel-border-radius: 0 !important;
}

panel[type=arrow] {
  appearance: none;
  background: transparent;
  border: none;
}
panel[type=arrow][side=top], panel[type=arrow][side=bottom] {
  margin-inline: var(--arrowpanel-arrow-margin);
}
panel[type=arrow][side=left], panel[type=arrow][side=right] {
  margin-block: var(--arrowpanel-arrow-margin);
}

menupopup[type=arrow][side=top], menupopup[type=arrow][side=bottom] {
  margin-inline: -6px;
}
menupopup[type=arrow][side=left], menupopup[type=arrow][side=right] {
  margin-block: -6px;
}

/* These specifically for some reason has weird positioning */
#appMenu-popup,
#widget-overflow {
  margin-inline: -6px !important;
}

/* More weird positioning at the edge of the screen */
#sidebarMenu-popup {
  margin-inline: -7px !important;
}

#PanelUI-popup {
  margin-inline: -11px !important;
}

panelview {
  background: inherit !important;
}

/* even more weird positioning shit */
:is(panel):not([type=autocomplete-richlistbox]),
:is([echelon-style-6]) :is(menupopup[placespopup][is=places-popup-arrow]) {
  --panel-shadow: var(--arrowpanel-echelon-shadow) !important;
}
:is(panel):not([type=autocomplete-richlistbox])::part(arrowcontent),
:is([echelon-style-6]) :is(menupopup[placespopup][is=places-popup-arrow])::part(arrowcontent) {
  padding: var(--arrowpanel-padding);
  color: var(--arrowpanel-color);
  background: var(--arrowpanel-background);
  border-radius: var(--arrowpanel-border-radius);
  background-clip: padding-box;
  border: var(--arrowpanel-border);
  box-shadow: var(--arrowpanel-echelon-shadow);
  margin: var(--arrowpanel-margin);
}
:is(panel):not([type=autocomplete-richlistbox])::part(arrowcontent) > slot,
:is([echelon-style-6]) :is(menupopup[placespopup][is=places-popup-arrow])::part(arrowcontent) > slot {
  /* propagate border-radius from arrowcontent to slotted children */
  border-radius: inherit;
}
:is(panel):not([type=autocomplete-richlistbox])::part(innerarrowcontent),
:is([echelon-style-6]) :is(menupopup[placespopup][is=places-popup-arrow])::part(innerarrowcontent) {
  background: var(--arrowpanel-inner-background);
  margin: var(--arrowpanel-inner-margin);
  border-radius: var(--arrowpanel-inner-border-radius);
  padding: var(--arrowpanel-inner-padding);
  border: var(--arrowpanel-inner-border);
  box-shadow: var(--arrowpanel-inner-shadow);
  background-clip: padding-box;
}
:is(panel):not([type=autocomplete-richlistbox])[orient=vertical]::part(arrowcontent), :is(panel):not([type=autocomplete-richlistbox])[orient=vertical]::part(innerarrowcontent),
:is([echelon-style-6]) :is(menupopup[placespopup][is=places-popup-arrow])[orient=vertical]::part(arrowcontent),
:is([echelon-style-6]) :is(menupopup[placespopup][is=places-popup-arrow])[orient=vertical]::part(innerarrowcontent) {
  flex-direction: column;
}
:is(panel):not([type=autocomplete-richlistbox]).panel-no-padding::part(arrowcontent), :is(panel):not([type=autocomplete-richlistbox]).panel-no-padding::part(innerarrowcontent),
:is([echelon-style-6]) :is(menupopup[placespopup][is=places-popup-arrow]).panel-no-padding::part(arrowcontent),
:is([echelon-style-6]) :is(menupopup[placespopup][is=places-popup-arrow]).panel-no-padding::part(innerarrowcontent) {
  padding: 0;
  overflow: hidden; /* Don't let panel content overflow the border-radius */
}
:is(panel):not([type=autocomplete-richlistbox])::part(arrow),
:is([echelon-style-6]) :is(menupopup[placespopup][is=places-popup-arrow])::part(arrow) {
  -moz-context-properties: fill, stroke;
  fill: var(--arrowpanel-background);
  stroke: var(--arrowpanel-border-color);
}
:is(panel):not([type=autocomplete-richlistbox])[side=top]::part(arrow), :is(panel):not([type=autocomplete-richlistbox])[side=bottom]::part(arrow),
:is([echelon-style-6]) :is(menupopup[placespopup][is=places-popup-arrow])[side=top]::part(arrow),
:is([echelon-style-6]) :is(menupopup[placespopup][is=places-popup-arrow])[side=bottom]::part(arrow) {
  list-style-image: var(--arrowpanel-vertical);
  position: relative;
  margin-inline: var(--arrowpanel-arrow-offset);
}
:is(panel):not([type=autocomplete-richlistbox])[side=top]::part(arrow),
:is([echelon-style-6]) :is(menupopup[placespopup][is=places-popup-arrow])[side=top]::part(arrow) {
  margin-bottom: var(--arrowpanel-arrow-position);
}
:is(panel):not([type=autocomplete-richlistbox])[side=bottom]::part(arrow),
:is([echelon-style-6]) :is(menupopup[placespopup][is=places-popup-arrow])[side=bottom]::part(arrow) {
  transform: scaleY(-1);
  margin-top: var(--arrowpanel-arrow-position);
}
:is(panel):not([type=autocomplete-richlistbox])[side=left]::part(arrow), :is(panel):not([type=autocomplete-richlistbox])[side=right]::part(arrow),
:is([echelon-style-6]) :is(menupopup[placespopup][is=places-popup-arrow])[side=left]::part(arrow),
:is([echelon-style-6]) :is(menupopup[placespopup][is=places-popup-arrow])[side=right]::part(arrow) {
  list-style-image: var(--arrowpanel-hortizontal);
  position: relative;
  margin-block: var(--arrowpanel-arrow-offset);
}
:is(panel):not([type=autocomplete-richlistbox])[side=left]::part(arrow),
:is([echelon-style-6]) :is(menupopup[placespopup][is=places-popup-arrow])[side=left]::part(arrow) {
  margin-right: var(--arrowpanel-arrow-position);
}
:is(panel):not([type=autocomplete-richlistbox])[side=right]::part(arrow),
:is([echelon-style-6]) :is(menupopup[placespopup][is=places-popup-arrow])[side=right]::part(arrow) {
  transform: scaleX(-1);
  margin-left: var(--arrowpanel-arrow-position);
}

:root:not([echelon-style-6]):not([echelon-style-5][echelon-appearance-newlogo])[echelon-system-style=winxp] :is(panel, menupopup[placespopup]):not([type=autocomplete-richlistbox])[side=top]::part(arrow) {
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: -13px;
  margin-top: -4px;
}
:root:not([echelon-style-6]):not([echelon-style-5][echelon-appearance-newlogo])[echelon-system-style=winxp] :is(panel, menupopup[placespopup]):not([type=autocomplete-richlistbox])[side=bottom]::part(arrow) {
  margin-left: 6px;
  margin-right: 6px;
  margin-top: -12px;
  margin-bottom: -4px;
}
:root:not([echelon-style-6]):not([echelon-style-5][echelon-appearance-newlogo])[echelon-system-style=winxp] :is(panel, menupopup[placespopup]):not([type=autocomplete-richlistbox])[side=left]::part(arrow) {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: -12px;
  margin-left: -4px;
}
:root:not([echelon-style-6]):not([echelon-style-5][echelon-appearance-newlogo])[echelon-system-style=winxp] :is(panel, menupopup[placespopup]):not([type=autocomplete-richlistbox])[side=right]::part(arrow) {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: -12px;
  margin-right: -4px;
}

#protections-popup[mainviewshowing][side=top]::part(arrow) {
  fill: #0A51BF;
}

.ac-dropmarker {
  width: 12px !important;
}
.ac-dropmarker::part(icon) {
  list-style-image: url("chrome://echelon/content/arrow-dropdown-12") !important;
  width: 12px !important;
  height: 16px !important;
}

.popup-notification-dropmarker > .button-box > .button-menu-dropmarker::part(icon) {
  list-style-image: url("chrome://echelon/content/arrow-dropdown-16") !important;
}

:root:not([echelon-style-6]) :is(menupopup[placespopup]) {
  appearance: auto !important;
  --panel-background: Menu !important;
  --panel-color: MenuText !important;
  --panel-padding: 0 !important;
  --panel-border-radius: 0 !important;
  --panel-shadow-margin: 0 !important;
  --panel-border-color: ThreeDShadow !important;
  --panel-shadow: none !important;
}
:root:not([echelon-style-6]) :is(menupopup[placespopup])::part(arrow) {
  display: none !important;
}
:root:not([echelon-style-6]) :is(menupopup[placespopup])::part(content) {
  border: 0 !important;
}
:root:not([echelon-style-6]) :is(menupopup[placespopup]) > :is(menu, menuitem) {
  margin: 0 !important;
  min-height: 0 !important;
  padding: 0 !important;
  border-radius: 0 !important;
  appearance: auto !important;
}
:root:not([echelon-style-6]) :is(menupopup[placespopup]) > :is(menu, menuitem) :is(.menu-text, .menu-iconic-text, .menu-iconic-icon, .menu-iconic-left, .menu-iconic-accel, .menu-accel-container, .menu-accel, .menu-right) {
  appearance: auto !important;
}
:root:not([echelon-style-6]) :is(menupopup[placespopup]) > :is(menu, menuitem) > .menu-accel-container > :is(.menu-accel, .menu-iconic-accel) {
  margin-inline: 0.74em 1.35em !important;
  color: inherit !important;
}
:root:not([echelon-style-6]) :is(menupopup[placespopup]) :is(.menu-iconic, .menuitem-iconic) > .menu-iconic-left {
  margin-inline-end: 0 !important;
}
:root:not([echelon-style-6]) :is(menupopup[placespopup]) menuseparator {
  appearance: auto !important;
  margin: 0 !important;
  padding: 3px 1px 4px !important;
  border-top: 1px solid ThreeDShadow !important;
  border-bottom: 1px solid ThreeDHighlight !important;
}
:root:not([echelon-style-6]) :is(menupopup[placespopup]) menuseparator::before {
  display: none !important;
}
:root:not([echelon-style-6]) :is(menupopup[placespopup]) .menu-right {
  list-style-image: none !important;
}
:root:not([echelon-style-6]) #BMB_bookmarksPopup {
  transition: none !important;
}

#customization-uidensity-menu::part(arrowcontent) {
  padding: 10px !important;
}

:is([echelon-style-6]) #BMB_bookmarksPopup::part(arrowcontent) {
  padding-inline: 0 !important;
  padding-block-end: 0 !important;
}
:is([echelon-style-6]) #BMB_bookmarksPopup menupopup[placespopup=true] {
  border: 0 !important;
  appearance: none !important;
  background: transparent !important;
  padding: 6px !important;
}
:is([echelon-style-6]) #BMB_bookmarksPopup menupopup[placespopup=true]::part(content) {
  padding-block-start: 4px !important;
  padding-block-end: 0 !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) !important;
  background: #FFF !important;
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
  border-radius: 3.5px !important;
  margin-top: -4px !important;
}

.autoscroller {
  height: 28px !important;
  width: 28px !important;
  border: 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
  background-image: url("chrome://echelon/content/firefox-4/autoscroll.png") !important;
  background-position: right top !important;
}
:root[echelon-system-style=winxp] .autoscroller {
  background-image: url("chrome://echelon/content/firefox-4/xp/autoscroll.png") !important;
}
.autoscroller[scrolldir=NS] {
  background-position: right center !important;
}
.autoscroller[scrolldir=EW] {
  background-position: right bottom !important;
}
.autoscroller::part(arrowcontent) {
  display: none !important;
}

:root {
  --arrowscrollbox-image: url("chrome://echelon/content/firefox-4/tabbrowser/tab-arrow-left.png") !important;
}
:root:not([echelon-system-style=winxp])[echelon-style-3], :root[lwtheme-brighttext] {
  --arrowscrollbox-image: url("chrome://echelon/content/firefox-8/tabbrowser/tab-arrow-left-inverted.png") !important;
}

#TabsToolbar .toolbarbutton-1:not(#tabs-newtab-button),
#tabbrowser-arrowscrollbox::part(scrollbutton-up),
#tabbrowser-arrowscrollbox::part(scrollbutton-down) {
  padding: 0 3px !important;
  border: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  margin: 0 !important;
}

#tabbrowser-arrowscrollbox::part(scrollbox) {
  padding-inline: var(--tabbrowser-arrowbox-inline-padding) !important;
}

#TabsToolbar .toolbarbutton-1:not(#tabs-newtab-button):hover,
#tabbrowser-arrowscrollbox:not([scrolledtostart])::part(scrollbutton-up):hover,
#tabbrowser-arrowscrollbox:not([scrolledtoend])::part(scrollbutton-down):hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)), linear-gradient(transparent, rgba(0, 0, 0, 0.25) 30%), linear-gradient(transparent, rgba(0, 0, 0, 0.25) 30%) !important;
  background-position: 1px -1px, 0 -1px, 100% -1px !important;
  background-size: calc(100% - 2px) 100%, 1px 100%, 1px 100% !important;
  background-repeat: no-repeat !important;
}

#tabbrowser-arrowscrollbox::part(scrollbutton-up),
#tabbrowser-arrowscrollbox::part(scrollbutton-down) {
  margin: 0 !important;
  padding-inline-end: 2px !important;
  border-inline-end: 2px solid transparent !important;
  background-origin: border-box !important;
}

#tabbrowser-arrowscrollbox:not([scrolledtostart])::part(scrollbutton-up),
#tabbrowser-arrowscrollbox:not([scrolledtoend])::part(scrollbutton-down) {
  border-image: url("chrome://echelon/content/firefox-4/tabbrowser/tab-overflow-border.png") 0 2 0 2/0 2px 0 0 !important;
}

#tabbrowser-arrowscrollbox[scrolledtostart]::part(scrollbutton-up),
#tabbrowser-arrowscrollbox[scrolledtoend]::part(scrollbutton-down) {
  opacity: 0.4 !important;
}

#tabbrowser-arrowscrollbox:-moz-locale-dir(rtl)::part(scrollbutton-up),
#tabbrowser-arrowscrollbox::part(scrollbutton-down) {
  transform: scaleX(-1) !important;
}

#tabbrowser-arrowscrollbox::part(overflow-start-indicator),
#tabbrowser-arrowscrollbox::part(overflow-end-indicator) {
  visibility: collapse !important;
}

@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");
:root {
  --warning-16: url("chrome://echelon/content/firefox-4/icons/warning-16.png") !important;
  --information-16: url("chrome://echelon/content/firefox-4/icons/information-16.png") !important;
  --error-16: url("chrome://echelon/content/firefox-4/icons/error-16.png") !important;
}
:root[echelon-system-style=winxp] {
  --warning-16: url("chrome://echelon/content/firefox-4/xp/icons/warning-16.png") !important;
  --information-16: url("chrome://echelon/content/firefox-4/xp/icons/information-16.png") !important;
  --error-16: url("chrome://echelon/content/firefox-4/xp/icons/error-16.png") !important;
}

#tab-notification-deck {
  order: 1000 !important;
}

notification-message.animated,
notification.animated {
  transition: margin-top 300ms, opacity 300ms !important;
}

notification-message:not([style*="margin-top:"])[message-bar-type=infobar] {
  margin-inline: 0 !important;
  margin-block-end: 0 !important;
}
notification-message:not([style*="margin-top:"])[message-bar-type=infobar]:first-of-type {
  margin-block-start: 0 !important;
}
notification-message[style*="margin-top:"][message-bar-type=infobar] {
  margin-inline: 0 !important;
  margin-block-end: 0 !important;
}

.container.infobar[echelon-modified=true] {
  border: 1px solid ThreeDShadow !important;
  border-left-color: ThreeDHighlight !important;
  border-top-color: ThreeDHighlight !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  background-color: InfoBackground !important;
  color: InfoText !important;
  align-items: center !important;
}
.container.infobar[echelon-modified=true]::before {
  visibility: collapse !important;
}
.container.infobar[echelon-modified=true][type=warning] {
  --message-bar-icon-url: var(--warning-16) !important;
}
.container.infobar[echelon-modified=true][type=info] {
  --message-bar-icon-url: var(--information-16) !important;
  background-color: -moz-Dialog !important;
  color: -moz-DialogText !important;
}
.container.infobar[echelon-modified=true][type=critical] {
  --message-bar-icon-url: var(--error-16) !important;
  background-image: linear-gradient(rgb(212, 0, 0), rgb(152, 0, 0)) !important;
  color: white !important;
}
.container.infobar[echelon-modified=true] .icon {
  margin: 0 !important;
  margin-inline-start: 6px !important;
  margin-inline-end: 1px !important;
}
.container.infobar[echelon-modified=true] .notification-content {
  display: flex !important;
  margin-inline-start: 0 !important;
  flex: 1 !important;
}
.container.infobar[echelon-modified=true] .notification-content .notification-message {
  flex: 1 !important;
  margin-block-start: 1px !important;
  margin-inline-end: 5px !important;
  margin-block-end: 4px !important;
  margin-inline-start: 6px !important;
  padding-block: 0 !important;
  min-height: unset !important;
}
.container.infobar[echelon-modified=true] .spacer {
  visibility: collapse !important;
}
.container.infobar[echelon-modified=true] .notification-button-container button {
  all: unset !important;
  appearance: button !important;
  margin: 1px 5px 2px 5px !important;
  min-width: 6.3em !important;
  color: ButtonText !important;
  text-shadow: none !important;
  display: inline-flex !important;
}
.container.infobar[echelon-modified=true] .close {
  width: 16px !important;
  height: 16px !important;
  background-color: transparent !important;
  background-image: url("chrome://echelon/content/firefox-4/close.png") !important;
  padding: 0 !important;
  margin: 0 5px 0 0 !important;
  background-position: unset !important;
  background-size: auto auto !important;
  border: 0 !important;
}
.container.infobar[echelon-modified=true] .close:hover {
  background-position-x: -16px !important;
}
.container.infobar[echelon-modified=true] .close:hover:active {
  background-position-x: -32px !important;
}
.container.infobar[echelon-modified=true][echelon-modified-australis=true] .close {
  background-image: url("chrome://echelon/content/firefox-29/close.png") !important;
}

/* ::::: Firefox 29 ::::: */
:root[echelon-style-6] {
  --arrowscrollbox-image: url("chrome://echelon/content/firefox-29/tabbrowser/tab-arrow-left.png") !important;
  --tabbrowser-arrowbox-inline-padding: 15px !important;
}
:root[echelon-style-6][echelon-system-style=winxp] {
  --arrowscrollbox-image: url("chrome://echelon/content/firefox-8/tabbrowser/tab-arrow-left-inverted.png") !important;
}

/* ::::: Firefox 56 ::::: */
:root[echelon-style-7] panel[type=arrow]:not([animate=false]),
:root[echelon-style-7] #BMB_bookmarksPopup:not([animate=false]) {
  transform: scale(0.4) !important;
  opacity: 0 !important;
  transition-property: transform, opacity !important;
  transition-duration: 0.15s !important;
  transition-timing-function: ease-out !important;
}
:root[echelon-style-7] panel[type=arrow][animate=open],
:root[echelon-style-7] #BMB_bookmarksPopup[animate=open] {
  transform: none !important;
  opacity: 1 !important;
}
:root[echelon-style-7] panel[type=arrow][animate=cancel],
:root[echelon-style-7] #BMB_bookmarksPopup[animate=cancel] {
  transform: none !important;
}
:root[echelon-style-7] panel[type=arrow][arrowposition=after_start]:-moz-locale-dir(ltr),
:root[echelon-style-7] #BMB_bookmarksPopup[arrowposition=after_start]:-moz-locale-dir(ltr) {
  transform-origin: 20px top !important;
}
:root[echelon-style-7] panel[type=arrow][arrowposition=after_start]:-moz-locale-dir(rtl),
:root[echelon-style-7] #BMB_bookmarksPopup[arrowposition=after_start]:-moz-locale-dir(rtl) {
  transform-origin: calc(100% - 20px) top !important;
}
:root[echelon-style-7] panel[type=arrow][arrowposition=after_end]:-moz-locale-dir(rtl),
:root[echelon-style-7] #BMB_bookmarksPopup[arrowposition=after_end]:-moz-locale-dir(rtl) {
  transform-origin: 20px top !important;
}
:root[echelon-style-7] panel[type=arrow][arrowposition=after_end]:-moz-locale-dir(ltr),
:root[echelon-style-7] #BMB_bookmarksPopup[arrowposition=after_end]:-moz-locale-dir(ltr) {
  transform-origin: calc(100% - 20px) top !important;
}
:root[echelon-style-7] panel[type=arrow][arrowposition=before_start]:-moz-locale-dir(ltr),
:root[echelon-style-7] #BMB_bookmarksPopup[arrowposition=before_start]:-moz-locale-dir(ltr) {
  transform-origin: 20px bottom !important;
}
:root[echelon-style-7] panel[type=arrow][arrowposition=before_start]:-moz-locale-dir(rtl),
:root[echelon-style-7] #BMB_bookmarksPopup[arrowposition=before_start]:-moz-locale-dir(rtl) {
  transform-origin: calc(100% - 20px) bottom !important;
}
:root[echelon-style-7] panel[type=arrow][arrowposition=before_end]:-moz-locale-dir(rtl),
:root[echelon-style-7] #BMB_bookmarksPopup[arrowposition=before_end]:-moz-locale-dir(rtl) {
  transform-origin: 20px bottom !important;
}
:root[echelon-style-7] panel[type=arrow][arrowposition=before_end]:-moz-locale-dir(ltr),
:root[echelon-style-7] #BMB_bookmarksPopup[arrowposition=before_end]:-moz-locale-dir(ltr) {
  transform-origin: calc(100% - 20px) bottom !important;
}
:root[echelon-style-7] panel[type=arrow][arrowposition=start_before]:-moz-locale-dir(ltr),
:root[echelon-style-7] #BMB_bookmarksPopup[arrowposition=start_before]:-moz-locale-dir(ltr) {
  transform-origin: right 20px !important;
}
:root[echelon-style-7] panel[type=arrow][arrowposition=start_before]:-moz-locale-dir(rtl),
:root[echelon-style-7] #BMB_bookmarksPopup[arrowposition=start_before]:-moz-locale-dir(rtl) {
  transform-origin: left 20px !important;
}
:root[echelon-style-7] panel[type=arrow][arrowposition=end_before]:-moz-locale-dir(rtl),
:root[echelon-style-7] #BMB_bookmarksPopup[arrowposition=end_before]:-moz-locale-dir(rtl) {
  transform-origin: right 20px !important;
}
:root[echelon-style-7] panel[type=arrow][arrowposition=end_before]:-moz-locale-dir(ltr),
:root[echelon-style-7] #BMB_bookmarksPopup[arrowposition=end_before]:-moz-locale-dir(ltr) {
  transform-origin: left 20px !important;
}
:root[echelon-style-7] panel[type=arrow][arrowposition=start_after]:-moz-locale-dir(ltr),
:root[echelon-style-7] #BMB_bookmarksPopup[arrowposition=start_after]:-moz-locale-dir(ltr) {
  transform-origin: right calc(100% - 20px) !important;
}
:root[echelon-style-7] panel[type=arrow][arrowposition=start_after]:-moz-locale-dir(rtl),
:root[echelon-style-7] #BMB_bookmarksPopup[arrowposition=start_after]:-moz-locale-dir(rtl) {
  transform-origin: left calc(100% - 20px) !important;
}
:root[echelon-style-7] panel[type=arrow][arrowposition=end_after]:-moz-locale-dir(rtl),
:root[echelon-style-7] #BMB_bookmarksPopup[arrowposition=end_after]:-moz-locale-dir(rtl) {
  transform-origin: right calc(100% - 20px) !important;
}
:root[echelon-style-7] panel[type=arrow][arrowposition=end_after]:-moz-locale-dir(ltr),
:root[echelon-style-7] #BMB_bookmarksPopup[arrowposition=end_after]:-moz-locale-dir(ltr) {
  transform-origin: left calc(100% - 20px) !important;
}

/*# sourceMappingURL=echelon.uc.css.map */
