#PersonalToolbar {
    padding: 0 5px !important;
    
    #personal-bookmarks {
        min-height: 24px !important;
    }

    .bookmark-item:not(menuitem, .subviewbutton),
    .toolbarbutton-1 {
        margin: 0 !important;
        padding: 2px 3px !important;
    }
}

#PersonalToolbar {
    .bookmark-item:not(menuitem, .subviewbutton),
    .toolbarbutton-1 {
        background: var(--toolbarbutton-background) !important;
        background-color: var(--toolbarbutton-background-color) !important;
        background-origin: var(--toolbarbutton-background-clip) !important;
        background-clip: var(--toolbarbutton-background-clip) !important;
        border-radius: var(--toolbarbutton-border-radius) !important;
        border: var(--toolbarbutton-border) !important;
        border-color: var(--toolbarbutton-border-color) !important;
        box-shadow: var(--toolbarbutton-box-shadow) !important;
        color: var(--lwt-text-color, black) !important;
        text-shadow: 0 0 2px white !important;
        transition: var(--toolbarbutton-transiton) !important;

        &:not([disabled="true"]) {
            &:hover {
                background: var(--toolbarbutton-hover-background) !important;
                background-color: var(--toolbarbutton-hover-background-color) !important;
                border-color: var(--toolbarbutton-hover-border-color) !important;
                box-shadow: var(--toolbarbutton-hover-box-shadow) !important;
            }

            &[open="true"],
            &:hover:active {
                background: var(--toolbarbutton-active-background) !important;
                background-color: var(--toolbarbutton-active-background-color) !important;
                border-color: var(--toolbarbutton-active-border-color) !important;
                box-shadow: var(--toolbarbutton-active-box-shadow) !important;
                text-shadow: none !important;
                transition: none !important;
            }
        }

        &[disabled="true"] {
            opacity: var(--toolbarbutton-disabled-opacity) !important;

            .toolbarbutton-icon {
                opacity: var(--toolbarbutton-icon-disabled-opacity) !important;
            }
        }
    }
}