& {
    #downloads-notification-anchor[notification="finish"] > #downloads-indicator-notification {
        background-image: url("chrome://userchrome/content/assets/images/firefox-56/downloads/download-notification-finish.png") !important;
    }

    #navigator-toolbox > #nav-bar .toolbarbutton-1:not(.unified)#forward-button {
        width: 32px !important;
        padding-left: 9px !important;
        padding-right: 3px !important;
    }
}