& { 
    #nav-bar {
        #PanelUI-button {
            background-image: none !important;
            border-inline-start: 1px solid !important;
            border-image: linear-gradient(transparent, rgba(0,0,0,.1) 20%, rgba(0,0,0,.1) 80%, transparent) !important;
            border-image-slice: 1 !important;
            margin-inline-start: 2px !important;
        }
    }

    @media (-moz-windows-compositor) { 
        &[sizemode="normal"]:not([echelon-system-style="winxp"], [echelon-system-style="win8"], [echelon-system-style="win10"]) #nav-bar {
            border-top-left-radius: 2.5px !important;
            border-top-right-radius: 2.5px !important;
        }
    }

    #downloads-notification-anchor[notification="finish"] > #downloads-indicator-notification {
        background-image: url("chrome://echelon/content/firefox-56/downloads/download-notification-finish.png") !important;
    }
}