/* ==UserScript==
// @description    author style injected to browser.xhtml
// @usefileuri
// @name  fuck shadow dom
// ==/UserScript==*/

/* Default to xul namespace */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@media (-moz-windows-non-native-menus)
	:is(panel, menupopup)::part(content) {
		border: 0 !important;
		border-radius: 4px !important;
		box-shadow: 0 0 6px rgb(0 0 0 / 25%), 0 0 1px 0 rgb(0 0 0 / 40%) !important;
	}
}

toolbarbutton menupopup[placespopup] {
	--panel-shadow-margin: 0 !important;
	background-color: Menu !important;
	appearance: auto !important;
}

toolbarbutton menupopup[placespopup]::part(content) {
	padding: 0 !important;
	margin: 0 !important;
	box-shadow: none !important;
	border: 0 !important;
  background-color: transparent !important;
}

toolbarbutton menupopup[placespopup] > :is(menu, menuitem) {
	appearance: auto !important;
	margin: 0 !important;
	padding: 0 !important;
	min-height: unset !important;
}

toolbarbutton menupopup[placespopup] > :is(menu, menuitem) :is(.menu-text, .menu-iconic-text, .menu-iconic-icon, .menu-iconic-left, .menu-iconic-accel, .menu-accel-container, .menu-accel, .menu-right) {
	appearance: auto !important;
}

toolbarbutton menupopup[placespopup] menuseparator {
	appearance: auto !important;
	margin: 0 !important;
}

toolbarbutton menupopup[placespopup] > :is(.menu-iconic, .menuitem-iconic) > .menu-iconic-left {
	margin: 0 !important;
}

toolbarbutton menupopup[placespopup] menuseparator::before {
	display: none !important;
}

toolbarbutton menupopup[placespopup] > menu > .menu-right {
	list-style-image: none !important;
}

toolbarbutton menupopup[placespopup] > :is(menu, menuitem) > .menu-accel-container > :is(.menu-accel, .menu-iconic-accel) {
	color: unset !important;
}