/* ==UserScript==
// @stylemode		author_sheet
// @description		Styles certain Shadow DOM elements for Echelon.
// @usefileuri
// @name  			Echelon :: Extras
// ==/UserScript==*/

/* Default to xul namespace */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Bookmarks menus */
toolbarbutton menupopup[placespopup] {
	--panel-shadow-margin: 0 !important;
	background-color: Menu !important;
	appearance: auto !important;
}

toolbarbutton menupopup[placespopup]::part(content) {
	padding: 0 !important;
	margin: 0 !important;
	box-shadow: none !important;
	border: 0 !important;
	background-color: transparent !important;
}

toolbarbutton menupopup[placespopup] > :is(menu, menuitem) {
	appearance: auto !important;
	margin: 0 !important;
	padding: 0 !important;
	min-height: unset !important;
}

toolbarbutton menupopup[placespopup] > :is(menu, menuitem) :is(.menu-text, .menu-iconic-text, .menu-iconic-icon, .menu-iconic-left, .menu-iconic-accel, .menu-accel-container, .menu-accel, .menu-right) {
	appearance: auto !important;
}

toolbarbutton menupopup[placespopup] menuseparator {
	appearance: auto !important;
	margin: 0 !important;
}

toolbarbutton menupopup[placespopup] > :is(.menu-iconic, .menuitem-iconic) > .menu-iconic-left {
	margin: 0 !important;
}

toolbarbutton menupopup[placespopup] menuseparator::before {
	display: none !important;
}

toolbarbutton menupopup[placespopup] > menu > .menu-right {
	list-style-image: none !important;
}

toolbarbutton menupopup[placespopup] > :is(menu, menuitem) > .menu-accel-container > :is(.menu-accel, .menu-iconic-accel) {
	color: unset !important;
}

/* Popout arrows */
panel[type="arrow"]::part(content) {
	position: relative;
	overflow: visible !important;
	border: 0 !important;
}

panel[type="arrow"]::part(content)::before {
	content: "";
	display: block;
	width: 20px;
	height: 10px;
	position: absolute;
	z-index: 99999999;
	background-image: var(--panel-arrow-image-vertical, url("chrome://userchrome/content/images/panelarrow-vertical.svg"));
}

panel[type="arrow"][arrowposition*="after"]::part(content) {
	margin-top: calc(var(--panel-shadow-margin) + 10px) !important;
}

panel[type="arrow"][arrowposition*="after"]::part(content)::before {
	top: -10px;
}

panel[type="arrow"][arrowposition*="end"]::part(content)::before {
	right: 4px;
}

panel[type="arrow"][arrowposition*="before"]::part(content) {
	margin-bottom: calc(var(--panel-shadow-margin) + 10px) !important;
}

panel[type="arrow"][arrowposition*="before"]::part(content)::before {
	bottom: -10px;
	transform: scaleY(-1);
}

panel[type="arrow"][arrowposition*="start"]::part(content)::before {
	left: 3px;
}