/* ==UserScript==
// @stylemode      author_sheet
// @description    Manages extra menu styles for the Firefox menu.
// @usefileuri
// @name           Echelon :: Firefox menu extra styles
// ==/UserScript==*/

/* Remove the newer Firefox style from the menu. */
#echelon-appmenu-button-menu::part(content) {
    padding: 0;
	/* This generally looks nice, but I'm not sure if it could be better or not. */
    margin: 0;
	border-radius: 0;
	max-width: none;
}