/* ==UserScript==
// @stylemode		agent_sheet
// @description		Gives tooltips native apperance if applicable.
// @usefileuri
// @name  			Echelon :: Tooltips
// ==/UserScript==*/

/* Tooltip appearance */
tooltip {
	-moz-default-appearance: tooltip !important;
	appearance: auto !important;
	margin-top: 21px;
	border: 1px solid InfoText;
	padding: 2px 3px;
	max-width: 40em;
	background-color: InfoBackground;
	color: InfoText;
	font: message-box;
}

/**
  * Dark themes will make many widgets dark.
  * This makes them light again. However, do not
  * add !important, or else pages won't be able to set this.
  */
* {
	color-scheme: light;
}