@media (-moz-windows-classic) {

    #main-window[echelon-appearance-xp] .titlebar-buttonbox-container,
    #main-window:not([echelon-appearance-xp]) .titlebar-buttonbox-container {
        top: calc(var(--padded-border) + 5px) !important;
    }

    #nav-bar,
    #PersonalToolbar,
    #main-window[sizemode="normal"] #browser,
    #customization-container {
        border-left: 0 !important;
        border-right: 0 !important;
        border-bottom: 0 !important;
        border-radius: 0 !important;
    }

    #TabsToolbar {
        padding-inline: 0 !important;
    }

    #navigator-toolbox::after {
        width: 100% !important;
        left: 0 !important;
    }

    #main-window #appmenu-button-container,
    #main-window:not([echelon-appearance-xp]) #appmenu-button-container {
        margin-top: calc(var(--padded-border) + 5px) !important;
        margin-bottom: calc(var(--padded-border) - 1px) !important;
        height: calc(var(--titlebar-height) - 2px) !important;
    }

    #main-window[sizemode="maximized"] #appmenu-button-container,
    #main-window:not([echelon-appearance-xp])[sizemode="maximized"] #appmenu-button-container {
        margin-top: 0 !important;
    }

    #main-window[tabsintitlebar][sizemode="normal"]:not([tabs-on-top]) #titlebar {
        appearance: auto !important;
    }

    #main-window:not([echelon-style-4], [tabs-on-top]) #toolbar-menubar {
        margin-bottom: 1px !important;
    }

    #main-window {

        ::placeholder {
            opacity: 1 !important;
        }

        #appmenu-button-container {
            border: 0 !important;
            z-index: 1 !important;
        }

        #TabsToolbar:not(:-moz-lwtheme) {
            background-image: none !important;
        }

        &:not([echelon-style-4], [sizemode="maximized"]) #TabsToolbar,
        &:not([echelon-style-4]) #toolbar-menubar {
            background-color: -moz-Dialog !important;
        }

        &:not([echelon-style-4]) #TabsToolbar:not(:-moz-lwtheme) {
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.05) 1px, transparent 50%) !important;
        }

        .tab-background,
        #tabs-newtab-button {
            background-image: linear-gradient(hsla(51, 34%, 89%, .9), hsla(51, 15%, 79%, .9) 1px, hsla(51, 9%, 68%, .9));
        }

        .tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"], [multiselected]),
        #tabs-newtab-button:hover,
        #tabs-newtab-button[open] {
            background-image: linear-gradient(hsla(51, 34%, 100%, .9), hsla(51, 15%, 94%, .9) 1px, hsla(51, 9%, 83%, .9));
        }

        #TabsToolbar {
            padding-inline: 2px !important;
        }

        &:not([tabs-on-top]) #PersonalToolbar,
        &:not([tabs-on-top]) #TabsToolbar,
        &:not([tabs-on-top]) #nav-bar {
            border-left: 0 !important;
            border-right: 0 !important;
            background-color: -moz-Dialog !important;
        }

        &:not([echelon-style-4]) #main-menubar>menu {
            color: WindowText !important;
        }

        &:not([echelon-style-4]) #main-menubar>menu:-moz-window-inactive {
            color: ThreeDShadow !important;
        }

    }
}