//
// The code for this is hot dogshit
//

#main-window[default-dark-theme] {
    --toolbar-custom-color-highlight: #474B50;
    --toolbar-custom-color: hsl(210, 8%, 24%) !important;
    --tab-inactive-color: hsl(210, 10%, 16%) !important;
    --lwt-tab-text: #E9EAEC !important;
    --lwt-tab-text-inactive: #CDCED0 !important;

    ::placeholder {
        color: #999 !important;
    }

    #navigator-toolbox>toolbar {
        background-color: var(--toolbar-custom-color) !important;
    }

    &[sizemode=normal] #browser,
    #customization-container,
    #nav-bar,
    #PersonalToolbar {
        border-color: hsla(0, 0%, 0%, 0.75) !important;
    }

    #nav-bar {
        box-shadow: inset 0 1px 0 #5c6066 !important;
        background-image: linear-gradient(var(--toolbar-custom-color-highlight), var(--toolbar-custom-color)) !important;
    }

    .search-go-button {
        background-image: url("images/dark/search-glass.png") !important;
    }

    &[echelon-style-3][echelon-appearance-blue] #navigator-toolbox::after,
    #navigator-toolbox::after {
        box-shadow: 0 -1px 0 #41464B !important;
        background-color: hsl(210, 13%, 19%) !important;
    }

    .tabbrowser-tab:not([visuallyselected="true"], [multiselected]) {
        color: var(--lwt-tab-text-inactive) !important;
    }

    // Why the fuck do I deadass have to do this?  
    &,
    &:is([echelon-style-1], [echelon-style-2], [echelon-style-3], [echelon-style-4]) {

        #urlbar-background:-moz-lwtheme,
        #searchbar:-moz-lwtheme,
        #stop-reload-button.unified:-moz-lwtheme {
            border-radius: 2px !important;
            background-color: #1D2125 !important;
            box-shadow: 0 1px 0 #4E5357 !important;
            border-color: #15171A !important;
            position: relative;
        }

        #urlbar-background:-moz-lwtheme:hover,
        #urlbar:hover #urlbar-background:-moz-lwtheme,
        #urlbar-container:hover+#stop-reload-button.unified:-moz-lwtheme,
        #searchbar:-moz-lwtheme:hover {
            border-color: #000 !important;
            background-color: #2c3238 !important;
        }

        #urlbar[focused]>#urlbar-background:-moz-lwtheme,
        #urlbar-container[focused]+#stop-reload-button.unified:-moz-lwtheme,
        #searchbar.focus:-moz-lwtheme {
            background-color: #0d0f11 !important;
            border-color: #000 !important;
        }

        #stop-reload-button.unified:-moz-lwtheme {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }

        #urlbar-background:-moz-lwtheme {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }

        #urlbar-input-container {
            color: hsl(0, 0%, 99%) !important;
        }

        /* Hack for drop shadow inset because of CSS masking */
        #urlbar::after {
            content: '';
            display: inline-block;
            width: 100%;
            height: 1px;
            background-color: #4E5357 !important;
            position: absolute;
            bottom: -1px;
        }
    }

    // Strata Only

    &:not([echelon-style-4]) {
        &:not([echelon-style-3]) {
            &[echelon-style-2] {
                #identity-icon-box {
                    background-image: linear-gradient(to bottom, hsl(214, 6%, 23%), hsl(210, 9%, 18%)) !important;
                }

                .verifiedDomain #identity-icon-box {
                    background-image: linear-gradient(to bottom, #52687D, #2A3846) !important;
                }
            }

            #urlbar-background:-moz-lwtheme,
            #searchbar:-moz-lwtheme,
            #stop-reload-button.unified:-moz-lwtheme {
                border-radius: 2.5px !important;
            }

            #stop-reload-button.unified:-moz-lwtheme {
                border-top-left-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
            }

            #urlbar-background:-moz-lwtheme {
                border-top-right-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
            }

            #urlbar-input-container {
                color: hsl(0, 0%, 99%) !important;
            }

            #reload-button.unified .toolbarbutton-icon,
            #stop-button.unified .toolbarbutton-icon,
            #go-button.unified .toolbarbutton-icon {
                background-image: url("images/dark/reload-stop-go.png") !important;
            }
        }

        #stop-reload-button.unified:-moz-lwtheme {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }

        #urlbar-background:-moz-lwtheme {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }

        #nav-bar {
            box-shadow: none !important;
        }

        .tab-background,
        #tabs-newtab-button {
            border-image: url('images/dark/tab.png') 6 3 4/6px 3px 4px repeat stretch !important;
        }

        &:not([lwtheme-image]) .tab-background:is([selected], [multiselected]) {
            background-image: linear-gradient(#5e6469, var(--toolbar-custom-color-highlight) 50%), linear-gradient(var(--toolbar-custom-color-highlight), var(--toolbar-custom-color-highlight)) !important;
        }
    }

    // Echelon Style 0 - 2 Toolbar Button Styles

    &:not([echelon-style-3]) {

        #nav-bar .toolbarbutton-1:not(#tabs-newtab-button, #PanelUI-menu-button, #appmenu-button, #reload-button.unified, #stop-button.unified, #go-button.unified, #alltabs-button) {
            border-color: rgba(0, 0, 0, 0.20) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.5) !important;
            box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2) inset, 0 0 0 2px rgba(255, 255, 255, 0.05) inset, 0 1px 0 rgba(0, 0, 0, 0.15) !important;
            background-image: linear-gradient(to bottom, rgb(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.17) 49%, rgba(255, 255, 255, 0.08) 50%, rgba(255, 255, 255, 0) 100%) !important;
            background-clip: padding-box !important;
            transition: background-color var(--toolbarbutton-transition-duration) var(--toolbarbutton-transition-timingfunction),
                background-image var(--toolbarbutton-transition-duration) var(--toolbarbutton-transition-timingfunction),
                border-color var(--toolbarbutton-transition-duration) var(--toolbarbutton-transition-timingfunction),
                box-shadow var(--toolbarbutton-transition-duration) var(--toolbarbutton-transition-timingfunction) !important;

            &:not([disabled]) {
                &:hover {
                    background-color: hsla(190, 60%, 70%, 0.5) !important;
                    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 0 0 1.5px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.1), 0 0 3px hsla(190, 90%, 80%, 0.25) !important;
                }

                &[open],
                &:hover:active {
                    background-color: transparent !important;
                    border-color: rgba(0, 0, 0, 0.65) rgba(0, 0, 0, 0.55) rgba(0, 0, 0, 0.5) !important;
                    box-shadow: 0 0 6.5px rgba(0, 0, 0, 0.4) inset, 0 0 2px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgb(78, 83, 87) !important;
                }
            }

            &#back-button {
                box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(0, 0, 0, 0.4), 0 1px 1px rgba(0, 0, 0, 0.3), 1px 2px 1px rgba(0, 0, 0, 0.2) !important;
            }

        }

        // Echelon Style 1 Toolbar Button Styles

        &[echelon-style-1] {
            --toolbarbutton-border-radius: 3.5px !important;

            #nav-bar .toolbarbutton-1:not(#tabs-newtab-button, #reload-button.unified, #stop-button.unified, #go-button.unified, #appmenu-button, #alltabs-button) {
                border-color: rgba(0, 0, 0, .12) rgba(0, 0, 0, .19) rgba(0, 0, 0, .38) !important;
                box-shadow: 0 0 0 1px rgba(255, 255, 255, .3) inset,
                    0 0 0 2px rgba(255, 255, 255, .1) inset !important;

                &#back-button {
                    box-shadow: 0 0 0 1px rgba(255, 255, 255, .3) inset,
                        0 0 0 2px rgba(255, 255, 255, .1) inset,
                        0 0 0 1px rgba(0, 0, 0, .15),
                        0 1px 0 rgba(0, 0, 0, .4),
                        0 1px 1px rgba(0, 0, 0, .3) !important;
                }

            }
        }

    }

    // Echelon Style 3+ Toolbar Button Styles

    &[echelon-style-3] {
        #back-button {
            background-image: linear-gradient(#767A7C, #3F444A);
            box-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.3) inset, 0 0 0 1px hsla(0, 0%, 100%, 0.3) inset, 0 0 0 1px rgb(7 7 7 / 75%), 0 1px 0 hsla(210, 54%, 20%, 0.35) !important;

            &:not([disabled="true"]):hover {
                background-color: hsla(210, 48%, 96%, 0.25) !important;
                box-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.3) inset, 0 0 0 1px hsla(0, 0%, 100%, 0.3) inset, 0 0 0 1px hsla(210, 54%, 20%, 0.3), 0 1px 0 rgb(7 7 7 / 90%), 0 0 4px hsla(210, 54%, 20%, 0.2) !important;

                &:active {
                    background-color: hsla(210, 54%, 20%, 0.15) !important;
                    box-shadow: 0 1px 1px hsla(210, 54%, 20%, 0.1) inset, 0 0 1px hsla(210, 54%, 20%, 0.2) inset, 0 0 0 1px rgb(7 7 7 / 90%), 0 1px 0 hsla(210, 54%, 20%, 0.2) !important;
                    transition: none !important;
                }
            }
        }

        & toolbar:is(#nav-bar, #TabsToolbar) .toolbarbutton-1:not(#back-button, #forward-button, #tabs-newtab-button, #reload-button.unified, #stop-button.unified, #go-button.unified, #appmenu-button, #alltabs-button),
        &[echelon-style-4] toolbar:is(#nav-bar, #TabsToolbar) #bookmarks-button:hover+#bookmarks-menu-button {
            &:not([disabled]):hover {
                background-image: linear-gradient(hsla(0, 0%, 100%, 0.3), hsla(0, 0%, 100%, 0.1)) !important;
                border-color: #25282B !important;
                box-shadow: 0 1px hsla(0, 0%, 100%, 0.3) inset, 0 1px hsla(210, 54%, 20%, 0.03), 0 0 2px #3B4045 !important;
            }

            &:not([disabled]):hover:active,
            &:not([disabled])[open],
            &:is(#PanelUI-menu-button)[disabled][open] {
                background-image: linear-gradient(hsla(0, 0%, 100%, 0.4), hsla(0, 0%, 100%, 0.1)) !important;
                border-color: #000 !important;
                box-shadow: 0 1px 1px hsla(210, 54%, 20%, 0.1) inset, 0 0 1px hsla(210, 54%, 20%, 0.2) inset, 0 1px 0 hsla(210, 54%, 20%, 0), 0 1px 0 #4E5357 !important;
            }
        }

        #urlbar-input-container::after {
            background-image: url("images/dark/urlbar-history-dropmarker.png") !important;
        }
    }

    // Australis Style

    &[echelon-style-4] {
        .tab-background:is([selected], [multiselected]) {
            background-image: url("images/dark/tab-active-middle.png"), linear-gradient(transparent 2px, #505559 2px, var(--toolbar-custom-color-highlight)), none !important;
        }

        .tab-background:is([selected], [multiselected])::before {
            background-image: url('images/dark/tab-stroke-start.png') !important;
        }

        .tab-background:is([selected], [multiselected])::after {
            background-image: url('images/dark/tab-stroke-end.png') !important;
        }

        .tab-background:is([selected], [multiselected]) .tab-context-line::before,
        .tab-background:is([selected], [multiselected]) .tab-context-line::after {
            background-image: linear-gradient(transparent 2px, #505559 2px, var(--toolbar-custom-color-highlight)), none !important;
        }

        toolbar #bookmarks-button+#bookmarks-menu-button::before {
            background-color: #25282B;
            outline: 1px solid #515559;
        }

        #PanelUI-button::before {
            background-image: linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.1) 30%, hsla(0, 0%, 100%, 0.1) 70%, hsla(0, 0%, 100%, 0)), linear-gradient(hsla(0, 0%, 11%, 0), hsla(0, 0%, 11%, 0.85) 30%, hsla(0, 0%, 11%, 0.85) 70%, hsla(0, 0%, 11%, 0)), linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.1) 30%, hsla(0, 0%, 100%, 0.1) 70%, hsla(0, 0%, 100%, 0));
        }

        .tab-close-button:not(:hover, :active:hover) {
            background-position-x: -48px !important;
        }

        // New Tab button background was overlapping the inner border
        #tabbrowser-arrowscrollbox-periphery {
            padding-block-end: 1px !important;
        }
    }

    // What if Fog was actually good? 

    &[echelon-appearance-australis-fog] {

        &[tabsintitlebar][echelon-style-4] #TabsToolbar::after {
            content: "";
            display: flex;
            box-shadow: 0 0 30px 30px rgb(17 27 37 / 90%);
            height: 0;
            margin: 0 60px;
            position: absolute;
            pointer-events: none;
            top: 60px;
            width: -moz-available;
            z-index: -1;
            order: 1001;
        }

    }

}