#main-window[echelon-style-3] {
    toolbar:is(#nav-bar, #TabsToolbar) .toolbarbutton-1:not(#back-button, #forward-button, #TabsToolbar toolbarbutton, #tabs-newtab-button, #reload-button.unified, #stop-button.unified, #go-button.unified, #appmenu-button, #alltabs-button) {
        background: hsla(210,32%,93%,0) padding-box !important;
        border: 1px solid !important;
        border-color: hsla(210,54%,20%,0) hsla(210,54%,20%,0) hsla(210,54%,20%,0) !important;
        box-shadow: 0 1px hsla(0,0%,100%,0) inset,
                    0 1px hsla(210,54%,20%,0),
                    0 0 2px hsla(210,54%,20%,0) !important;
        border-radius: 2px !important;
        transition-property: background-color, border-color, box-shadow !important;
        transition-duration: 75ms !important;

        &:not([disabled="true"]):hover {
            background-image: linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,.1)) !important;
            border-color: hsla(210,54%,20%,.15) hsla(210,54%,20%,.2) hsla(210,54%,20%,.25) !important;
            box-shadow: 0 1px hsla(0,0%,100%,.3) inset,
                        0 1px hsla(210,54%,20%,.03),
                        0 0 2px hsla(210,54%,20%,.1) !important;
        }

        &:not([disabled]):hover:active,
        &:not([disabled])[open],
        &:is(#PanelUI-menu-button)[disabled][open] {
            background-image: linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,.1)) !important;
            background-color: hsla(210,54%,20%,.15) !important;
            border-color: hsla(210,54%,20%,.3) hsla(210,54%,20%,.35) hsla(210,54%,20%,.4) !important;
            box-shadow: 0 1px 1px hsla(210,54%,20%,.1) inset,
                        0 0 1px hsla(210,54%,20%,.2) inset,
                        0 1px 0 hsla(210,54%,20%,0),
                        0 0 2px hsla(210,54%,20%,0) !important;
            text-shadow: none !important;
            transition: none !important;
        }
    } 

    #nav-bar[mode="icons"] .toolbarbutton-1:not(#back-button, #forward-button, #PanelUI-menu-button, #alltabs-button, #reload-button.unified, #stop-button.unified, #go-button.unified, #appmenu-button, #bookmarks-menu-button) {
        min-width: 32px !important;
        width: 32px !important;
    }
      
    #nav-bar .toolbarbutton-1:not(#back-button, #forward-button, #TabsToolbar toolbarbutton, #tabs-newtab-button, #PanelUI-menu-button, #reload-button.unified, #stop-button.unified, #go-button.unified, #appmenu-button, .toolbarbutton-combined):last-of-type {
        margin-inline-end: 0 !important;
    }

    #nav-bar .toolbarbutton-1:not(#back-button, #forward-button, #TabsToolbar toolbarbutton, #tabs-newtab-button, #PanelUI-menu-button, #reload-button.unified, #stop-button.unified, #go-button.unified, #bookmarks-menu-button, #appmenu-button, .toolbarbutton-combined) > .toolbarbutton-icon {
        padding: 2px 6px !important;
    }

    #back-button {
        background-image: linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,.1)) !important;
        box-shadow: 0 1px 0 hsla(0,0%,100%,.3) inset,
                    0 0 0 1px hsla(0,0%,100%,.3) inset,
                    0 0 0 1px hsla(210,54%,20%,.25),
                    0 1px 0 hsla(210,54%,20%,.35) !important;
        transition: background-color 150ms var(--toolbarbutton-transition-timingfunction), 
                    box-shadow 150ms var(--toolbarbutton-transition-timingfunction) !important;

        &:not([disabled="true"]) {
            &:hover {
                background-color: hsla(210,48%,96%,.75) !important;
                box-shadow: 0 1px 0 hsla(0,0%,100%,.3) inset,
                            0 0 0 1px hsla(0,0%,100%,.3) inset,
                            0 0 0 1px hsla(210,54%,20%,.3),
                            0 1px 0 hsla(210,54%,20%,.4),
                            0 0 4px hsla(210,54%,20%,.2) !important;
            }

            &:hover:active,
            &[open] {
              background-color: hsla(210,54%,20%,.15) !important;
              box-shadow: 0 1px 1px hsla(210,54%,20%,.1) inset,
                          0 0 1px hsla(210,54%,20%,.2) inset,
                          0 0 0 1px hsla(210,54%,20%,.4),
                          0 1px 0 hsla(210,54%,20%,.2) !important;
              transition: none !important;
            }
        }
    }    

  
    #forward-button {
        background-image: linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,.1)) !important;
        border-color: hsla(210,54%,20%,.15) hsla(210,54%,20%,.2) hsla(210,54%,20%,.25) !important;
        box-shadow: 0 1px hsla(0,0%,100%,.3) inset,
                    0 1px hsla(210,54%,20%,.03),
                    0 0 2px hsla(210,54%,20%,.1) !important;
        transition: margin-inline-start 150ms var(--toolbarbutton-transition-timingfunction), 
                    opacity 150ms var(--toolbarbutton-transition-timingfunction), 
                    background-color 150ms var(--toolbarbutton-transition-timingfunction), 
                    box-shadow 150ms var(--toolbarbutton-transition-timingfunction) !important;

        &:not([disabled="true"]) {
            &:hover {
                border-color: hsla(210,54%,20%,.3) hsla(210,54%,20%,.35) hsla(210,54%,20%,.4) !important;
                background-color: hsla(210,48%,96%,.75) !important;
                box-shadow: 0 0 1px hsla(210,54%,20%,.03),
                            0 0 2px hsla(210,54%,20%,.1) !important;

                &:active  {
                    background-image: linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,.1)) !important;
                    background-color: hsla(210,54%,20%,.15) !important;
                    border-color: hsla(210,54%,20%,.3) hsla(210,54%,20%,.35) hsla(210,54%,20%,.4) !important;
                    box-shadow: 0 1px 1px hsla(210,54%,20%,.1) inset,
                                0 0 1px hsla(210,54%,20%,.2) inset,
                                0 1px 0 hsla(210,54%,20%,0),
                                0 0 2px hsla(210,54%,20%,0) !important;
                    text-shadow: none !important;
                    transition: none !important;
                }
            }
        }
    }
  
    /*
    * Disable forward button style changes while the tab is changing.
    */

    &[echelon-tabchanging] {
        &:is([echelon-style-2], [echelon-style-3]) {
            #forward-button,
            #identity-icon-box {
                transition: none !important;
            }
        }
    }
  
    #urlbar-background,
    #searchbar,
    #stop-reload-button.unified {
        border-radius: 2px !important;
        border-color: ThreeDShadow !important;
    }
  
    #stop-reload-button.unified {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
    
    #urlbar-background {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    
    .urlbar-page-action {
        justify-content: center !important;
        align-items: center !important;
    }
  
    #star-button {
        width: 16px !important;
        height: 16px !important;
        background-image: url('images/editBookmark.png') !important;
        
        &:hover {
            background-position-x: -16px !important;

            &:active {
                background-position-x: -32px !important;
            }
        }

        &[starred] {
            background-position-y: -16px !important;
        }
    }
    
    #urlbar-input-container::after {
        width: 11px !important;
        height: 14px !important;
        background-image: url('images/urlbar-history-dropmarker.png') !important;
        background-position-x: 0 !important;
        margin-left: 5px !important;
        margin-right: 2px !important;
    }
  
    #stop-reload-button.unified {
        width: 24px !important;

        #reload-button.unified,
        #stop-button.unified,
        #go-button.unified {
            width: 100% !important;
            background-image: none !important;
            box-shadow: none !important;
            border-left: 0 !important;
        
            .toolbarbutton-icon {
                background-image: url('images/reload-stop-go-new.png') !important;
            }
        
            &:hover .toolbarbutton-icon {
                background-position-y: -14px !important;
            }
        
            &:hover:active .toolbarbutton-icon {
                background-position-y: -28px !important;
            }
        }
    }
  
    #reload-button .toolbarbutton-icon {
        background-position-x: 0 !important;
    }
    
    #stop-button .toolbarbutton-icon {
        background-position-x: -14px !important;
    }
    
    #go-button .toolbarbutton-icon {
        background-position-x: -28px !important;
    }
  
    &:not([echelon-style-4]) {
        &:not([tabs-on-top="true"]),
        &[lwtheme-brighttext="true"] {
        #nav-bar #bookmarks-menu-button::after {
            background-image: url('images/toolbarbutton-dropdown-arrow-inverted.png') !important;
        }
        }

        #nav-bar #bookmarks-menu-button {
            width: 43px !important;
            min-width: 43px !important;
            position: relative !important;
        
            .toolbarbutton-icon {
                width: 100% !important;
                height: 100% !important;
                padding: 2px 5px !important;
                padding-right: 18px !important;
            }
        
            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                top: 8px !important;
                left: 23px !important;
                width: 9px !important;
                height: 7px !important;
                background-image: url('images/toolbarbutton-dropdown-arrow.png') !important;
                margin-left: 4px !important;
            }
        }
    }

    #identity-icon-box,
    #identity-box:not(.localResource)[pageproxystate="valid"] #identity-icon-box,
    &[echelon-style-2] .verifiedDomain #identity-icon-box {
        background-color: transparent !important;
        box-shadow: none !important;
        background-image: none !important;
        border-width: 0 !important;
        padding: 2px !important;
        padding-left: 5.01px !important;
    }

    #identity-icon {
        list-style-image: none !important;
        background: url("images/identity-icons-generic.png") 0 0;
    }

    #identity-box:not(.localResource)[pageproxystate="valid"].verifiedDomain #identity-icon {
        background-image: url("images/identity-icons-https.png");
    }

    #identity-box[pageproxystate="invalid"]:not(.chromeUI)  #identity-icon,
    #urlbar:is([usertyping="true"]) #identity-box.chromeUI #identity-icon {
        opacity: 0.3;
    }

    #identity-box:not([pageproxystate="invalid"]) #identity-icon-box:hover #identity-icon {
        background-position: -16px 0;
    }

    #identity-box:not([pageproxystate="invalid"]) #identity-icon-box:active #identity-icon,
    #identity-box:not([pageproxystate="invalid"]) #identity-icon-box[open="true"] #identity-icon {
      background-position: -32px 0;
    }

    #urlbar:is([usertyping="true"]) #identity-box.chromeUI #identity-icon-label,
    #tabbrowser-tabs:not([overflow="true"], [hashiddentabs]) ~ #alltabs-button,
    &:not([echelon-appearance-newlogo="true"]) #identity-box.chromeUI #identity-icon-label {
        display: none !important;
    }

    &[echelon-appearance-newlogo="true"] {
        #urlbar:not([usertyping="true"]) #identity-box.chromeUI #identity-icon {
            background-image: url("images/identity-icons-brand.png") !important;
        }

        #identity-box.chromeUI #identity-icon-label {
            display: inline-flex !important;
            margin-top: 1px !important;
        }

        #urlbar:not([usertyping="true"]) #identity-box:not(.localResource).chromeUI {
            background-image: linear-gradient(rgba(229, 114, 0, 0), rgba(229, 114, 0, 0.5) 35%, rgba(229, 114, 0, 0.5) 65%, rgba(229, 114, 0, 0)) !important;
            background-position: right center;
            background-size: 1px auto;
            background-repeat: no-repeat;
        }

        #urlbar:not([usertyping="true"]) #identity-box.chromeUI #identity-icon-label {
            color: #e57300 !important;
            text-shadow: none !important;
            font-size: 8pt !important;
            padding-inline-start: 3px !important;
            padding-inline-end: 5px !important;
        }
    }
}