#main-window[echelon-style-1] {
    #urlbar-background,
    #searchbar,
    #stop-reload-button {
      border-radius: 3.5px !important;
      box-shadow: none !important;
      border-color: rgba(0,0,0,.37) !important;
    }
  
    #stop-reload-button {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
    
    #urlbar-background {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  
    &:not([echelon-style-2]) {
      #identity-box:not(.localResource) #identity-icon-box {
        background-image: linear-gradient(to bottom, rgba(255,255,255,.25), rgba(0,0,0,.15)) !important;
        color: -moz-dialogText !important;
        border-radius: 2px !important;
      }
  
      #identity-box {
        &:not(.localResource)[pageproxystate="valid"] #identity-icon-box {
          color: white !important;
          text-shadow: 0 1px 0 rgba(0,0,0,.25) !important;
          box-shadow: 0 0 0 1px rgba(0,0,0,.2) inset !important;
          background-color: hsl(219,45%,60%) !important;
        }
  
        &:hover #identity-icon-box {
          background-image: linear-gradient(to bottom, rgba(255,255,255,.5), rgba(50%,50%,50%,.2), rgba(0,0,0,.15)) !important;
        }
  
        #identity-icon-box[open="true"],
        &:hover:active #identity-icon-box {
          background-image: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.1)) !important;
        }
      }
    }
  
    &:not([echelon-style-3]) {
      toolbar .toolbarbutton-1:not(#new-tab-button, #reload-button.unified, #stop-button.unified, #go-button.unified, #appmenu-button, #alltabs-button) {
        border-radius: 3.5px;
        border-color: rgba(0,0,0,.12) rgba(0,0,0,.19) rgba(0,0,0,.38);
        box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
                    0 0 0 2px rgba(255,255,255,.1) inset;
      }
  
      #back-button {
        box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset,
                    0 0 0 2px rgba(255,255,255,.1) inset,
                    0 0 0 1px rgba(0,0,0,.15),
                    0 1px 0 rgba(0,0,0,.4),
                    0 1px 1px rgba(0,0,0,.3) !important;
      }
    }
  }