#main-window[echelon-style-2] {
    #back-button {
        margin-inline-end: -6px !important;

        ~ #forward-button:not(:hover)[disabled="true"] {
            margin-inline-start: -32px !important;
            opacity: 0 !important;
            pointer-events: none !important;
        }
    }

    #forward-button {
        border-radius: 0 !important;
        margin-left: 0 !important;
        transition: margin-inline-start 150ms ease-out, 
                    opacity 150ms ease-out !important;
    }

    #urlbar-input-container,
    #urlbar[breakout][breakout-extend] > #urlbar-input-container {
      padding-left: 0 !important;
    }

    #urlbar-background {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    .urlbar-input-box {
        padding-left: 2px !important;
      }
      
    #identity-box {
        padding: 0 !important;
    }

    #identity-icon-box {
        background-image: linear-gradient(to bottom, hsl(0,0%,98%), hsl(0,0%,92%)) !important;
        box-shadow: 0 1px 0 hsla(0,0%,0%,.05) inset !important;
        border-right: 1px solid hsla(0,0%,0%,.1);
        padding-inline: 6px !important;
        border-radius: 0 !important;
        transition: padding-left 150ms ease-out !important;

        &:hover {
            background-image: linear-gradient(to bottom, hsl(0,0%,95%), hsl(0,0%,87%)) !important;
        }

        #identity-icon-box[open="true"],
        #identity-icon-box:hover:active {
            background-image: linear-gradient(to bottom hsl(0,0%,92%), hsl(0,0%,82%)) !important;
            box-shadow: 0 1px 1px hsla(0,0%,0%,.3) inset,
                        0 1px 3px hsla(0,0%,0%,.3) inset !important;
        }
    }

    .verifiedDomain {
        #identity-icon-box {
            background-image: linear-gradient(hsl(215,60%,92%), hsl(215,58%,88%)) !important;
            box-shadow: 0 1px 0 hsla(215,54%,33%,.05) inset !important;
            border-right: 1px solid hsla(215,54%,33%,.2) !important;
            color: hsl(215,54%,33%) !important;

            &:hover {
                background-image: linear-gradient(hsl(215,85%,85%), hsl(215,70%,68%)) !important;
            }
        }

        #identity-icon-box[open="true"],
        #identity-icon-box:hover:active {
            background-image: linear-gradient(hsl(215,80%,80%), hsl(215,67%,65%)) !important;
            box-shadow: 0 1px 1px hsla(215,54%,33%,.7) inset,
                        0 1px 3px 1px hsla(215,54%,33%,.5) inset !important;
        }
    }

    #identity-icon-box::after {
        display: none !important;
    }

    // To prevent styling of Pop-Up windows

    &:not([chromehidden~="toolbar"]) {
        #urlbar-container {
            margin-left: 0 !important;
        }

        #urlbar-background {
            border-left: 0 !important;
        }
        

        #forward-button:not(:hover)[disabled="true"] {
            //
            // Real Firefox used clipping for masking, 
            // but dat don't work for me so im using mask LOL!
            //
            + #urlbar-container #urlbar-background,
            + #urlbar-container #urlbar-input-container {
                -webkit-mask: url('images/forward-button-url-mask.svg') !important;
                -webkit-mask-repeat: no-repeat !important;
                -webkit-mask-position: left !important;
            }
        }

        #forward-button:not(:hover)[disabled="true"] + #urlbar-container #identity-icon-box {
            padding-inline-start: 11px !important;
        }
    }

    // Prevent styling on Style 3

    &:not([echelon-style-3]) {
        #back-button {
            &:not([disabled="true"], [open], :active):hover {
                background-color: hsla(190,60%,70%,.5) !important;
                box-shadow: 0 0 0 1px rgba(255,255,255,.3) inset, 
                            0 0 0 2px rgba(255,255,255,.1) inset, 
                            0 0 0 1px hsla(190,50%,40%,.3), 
                            0 1px 0 rgba(0,0,0,.4), 
                            0 1px 1px rgba(0,0,0,.3), 
                            1px 2px 1px rgba(0,0,0,.2), 
                            0 0 5px 1px hsl(190,90%,80%) !important;
            }
            
            &:not([disabled="true"]):hover:active,
            &[open] {
                transition: none !important;
                box-shadow: 0 0 6.5px rgba(0,0,0,.4) inset, 
                            0 0 2px rgba(0,0,0,.4) inset, 
                            0 0 0 1px rgba(0,0,0,.65), 
                            0 2px 0 rgba(255,255,255,.4) !important;
            }
        }
    }

    // Tabs on Top

    &[tabs-on-top="true"] {
        :not([echelon-style-4]) {
            #TabsToolbar #new-tab-button .toolbarbutton-icon {
                background-image: url("images/newtab-inverted.png") !important;
            }

            #alltabs-button > .toolbarbutton-badge-stack > .toolbarbutton-icon {
                background-image: url("images/toolbarbutton-dropdown-arrow-inverted.png") !important;
                background-repeat: no-repeat !important;
                background-position: center center !important;
            }
        } 
          
        #alltabs-button > .toolbarbutton-badge-stack > .toolbarbutton-icon {
            background-image: url("images/toolbarbutton-dropdown-arrow.png") !important;
            background-repeat: no-repeat !important;
            background-position: center center !important;
        }
          
        #scrollbutton-up .toolbarbutton-icon, 
        #scrollbutton-down .toolbarbutton-icon {
            background-image: url("images/tab-arrow-left-inverted.png") !important;
        }
    }
}