&:not([echelon-style-6]) {
    &[tabs-on-top="true"] {
        &:not([lwtheme="true"]) #TabsToolbar {
            background-image: linear-gradient(to top, rgba(10%,10%,10%,.4) 1px, rgba(0,0,0,.05) 1px, transparent 50%) !important;
            background-size: unset !important;
        }

        &:not([sizemode="maximized"]) {
            #nav-bar {
                border-top: 0 !important;
            }
        }
    }

    &[sizemode="normal"] {
        #TabsToolbar {
            .toolbar-items {
                padding-inline: 2px !important;
            }
        }
    }
}