@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300 800;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6F.woff2) format("woff2");
}
:root {
  color-scheme: light !important;
}

[hidden=true] {
  visibility: collapse !important;
}

* {
  -moz-user-focus: ignore;
}

label {
  cursor: inherit;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-container .modal {
  max-width: 350px;
  border-radius: 3.5px;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background-color: white;
  transform: none;
  opacity: 1;
  transition-property: opacity, transform;
  transition-duration: 250ms, 450ms;
}
.modal-container:not([hidden=true]) {
  opacity: 1;
  pointer-events: all;
  transition-property: opacity;
  transition-duration: 250ms;
}
.modal-container[hidden=true] {
  visibility: visible !important;
  opacity: 0;
  pointer-events: none;
}
.modal-container[hidden=true] .modal {
  transform: translateY(-40px);
  opacity: 0;
}
.modal-container .page-header {
  padding: 20px;
  padding-block-start: 25px;
}
.modal-container .page-header h2 {
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 30px;
  text-shadow: 0 2px 0 white;
  letter-spacing: -0.02em;
  color: #5B758B;
  font-weight: normal;
  font-size: 20px;
}
.modal-container .header-description {
  font-family: "Open Sans", sans-serif;
  font-size: 12.5px;
  font-weight: 400;
  text-shadow: 0px 1px 0px #FFF;
  line-height: 1.5;
  margin-block-start: 6px;
  color: #404041;
}
.modal-container .page-footer {
  padding: 20px;
  background: radial-gradient(50% 11.9% at 50% 0%, rgba(23, 45, 68, 0.11) 0%, rgba(232, 239, 245, 0) 100%), rgba(187, 197, 209, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.25), inset 0px 2px 1px rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  margin-block-start: 5px;
  justify-content: space-between;
}
.modal-container .page-footer .page-footer-button {
  appearance: none;
  min-height: 35px;
  padding-inline: 15px;
  min-width: 120px;
  font-family: "Open Sans", sans-serif;
  font-size: 12.5px;
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  background-clip: padding-box;
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), transparent 75%);
  box-shadow: 0 1px 0 white, inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.modal-container .page-footer .page-footer-button:hover {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), transparent 75%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.modal-container .page-footer .page-footer-button:hover:active {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.15) 75%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px 2px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.modal-container .page-footer .page-footer-button.restart-later-button {
  background-color: #27A0EF;
  border-color: #0C6693;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.modal-container .page-footer .page-footer-button.restart-now-button {
  background-color: #BB2200;
  border-color: #8a1c04;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

:root {
  --card-background-color: hsl(204, 83%, 54%);
  --card-name-background-color: -moz-Dialog;
}
@media all and not (-moz-windows-classic) {
  :root:not([echelon-system-style=winxp])[echelon-appearance-blue], :root .card-container[hardcode-blue] .content {
    --card-name-background-color: hsl(210, 55%, 92%);
  }
}

.card-container {
  display: grid;
}
.card-container .card {
  appearance: none;
  width: 100%;
  height: 122px;
  display: flex;
  padding: 0;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 4px rgba(8, 22, 37, 0.1), 0 0 10px rgba(8, 22, 37, 0);
  transition-property: background-image, border-color, box-shadow !important;
  transition-duration: 250ms !important;
}
.card-container .card::before {
  content: "";
  inset: 0;
  position: absolute;
  border: 1px solid;
  border-block-start-color: rgba(23, 51, 78, 0.15);
  border-block-end-color: rgba(23, 51, 78, 0.2);
  border-inline-color: rgba(23, 51, 78, 0.17);
  border-radius: inherit;
  box-shadow: inset 0 0 1px 0 rgba(8, 22, 37, 0), inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 0 0 0 1px rgba(255, 255, 255, 0.25);
  pointer-events: none;
  z-index: 1;
  transition-property: background-image, border-color, box-shadow !important;
  transition-duration: 250ms !important;
}
.card-container .card .card-content {
  width: 100%;
  height: 100%;
  appearance: none;
  padding: 0;
  margin: 0;
  background-color: var(--card-background-color);
  background-image: url("chrome://userchrome/content/windows/wizard/assets/bgnoise.png"), url("chrome://userchrome/content/windows/wizard/assets/bggrid.png"), radial-gradient(402% 100% at 50% 0%, #4792C9 0%, #285783 100%);
  border-radius: inherit;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}
.card-container .card .card-content .checked {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 5px;
  background-image: url("chrome://userchrome/content/framework/apathum/images/card/card-checked.png");
  opacity: 0;
  transition-property: opacity !important;
  transition-duration: 250ms !important;
}
.card-container .card .card-content .year {
  top: 6px;
  right: 8px;
  position: absolute;
  padding: 1px 4px 2px;
  box-sizing: border-box;
  background-image: linear-gradient(180deg, #6A7580 0%, #4F5760 100%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 1px 4px rgba(0, 0, 0, 0.5), 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  border: 1px solid #E7E7E7;
  color: #E7E7E7;
  line-height: 9px;
  font-weight: bold;
  font-size: 8pt;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.card-container .card .card-content .content {
  display: flex;
  align-items: center;
  padding: 4px 10px 5px;
  height: 20px;
  background-color: var(--card-name-background-color);
  background-image: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0.1));
  color: #1F364C;
  font-weight: bold;
  font-size: 8pt;
  text-transform: uppercase;
  transition-property: border-color !important;
  transition-duration: 250ms !important;
}
.card-container .card .card-content .content label {
  margin: 0;
  cursor: inherit;
}
.card-container .card:hover {
  box-shadow: 0 0 4px rgba(8, 22, 37, 0), 0 0 10px rgba(8, 22, 37, 0.3);
}
.card-container .card:hover .card-content {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0)), url("chrome://userchrome/content/windows/wizard/assets/bgnoise.png"), url("chrome://userchrome/content/windows/wizard/assets/bggrid.png"), radial-gradient(402% 100% at 50% 0%, #4792C9 0%, #285783 100%);
  border-color: rgba(8, 22, 37, 0.25) rgba(8, 22, 37, 0.27) rgba(8, 22, 37, 0.3);
}
.card-container .card:hover::before {
  box-shadow: inset 0 0 1px 0 rgba(8, 22, 37, 0), inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 0 0 0 1px rgba(255, 255, 255, 0.25);
}
.card-container .card:hover:active {
  box-shadow: 0 1px 0 white;
  transition-duration: 0ms;
}
.card-container .card:hover:active::before {
  box-shadow: inset 0 0 1px 0 rgba(8, 22, 37, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
  transition-duration: 0ms;
}
.card-container .card:hover:active .card-content {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("chrome://userchrome/content/windows/wizard/assets/bgnoise.png"), url("chrome://userchrome/content/windows/wizard/assets/bggrid.png"), radial-gradient(402% 100% at 50% 0%, #4792C9 0%, #285783 100%);
}
.card-container .card:hover .card-content .checked,
.card-container .card .card-content[selected] .checked {
  opacity: 1;
}
.card-container .card:hover .card-wrapper[selected] .checked {
  background-position-x: -20px;
}
.card-container .card:hover .card-wrapper .checked {
  background-position-x: -60px;
}
.card-container .card:hover .card-content .checked {
  background-position-x: -60px;
}
.card-container .card:hover .card-content[selected] .checked {
  background-position-x: -20px;
}
.card-container .card:hover:active .card-content .checked {
  background-position-x: -80px;
}
.card-container .card:hover:active .card-content[selected] .checked {
  background-position-x: -40px;
}
.card-container .card .radio-container {
  position: absolute;
  inset: 0;
}
.card-container .card .radio-container radio {
  margin: 0;
  padding: 0;
}

.menulist-container {
  margin-block-end: 10px;
}
.menulist-container > label {
  margin: 0;
}

.menulist {
  display: flex;
  align-items: center;
  border: 1px solid;
  border-color: hsla(210, 54%, 20%, 0.15) hsla(210, 54%, 20%, 0.2) hsla(210, 54%, 20%, 0.25);
  border-radius: 2px;
  background-color: hsla(210, 48%, 96%, 0);
  background-image: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0.1));
  background-clip: padding-box;
  box-shadow: 0 1px hsla(0, 0%, 100%, 0.3) inset, 0 1px hsla(210, 54%, 20%, 0.03), 0 0 2px hsla(210, 54%, 20%, 0.1);
  padding: 2px 6px;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
  cursor: pointer;
  max-width: 350px;
  max-height: 20px;
  appearance: none;
  box-sizing: border-box;
  flex: 1;
}
.menulist:hover {
  background-color: hsla(210, 48%, 96%, 0.75);
  border-color: hsla(210, 54%, 20%, 0.3) hsla(210, 54%, 20%, 0.35) hsla(210, 54%, 20%, 0.4);
}
.menulist[open] {
  background-image: -moz-linear-gradient(hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0.1));
  background-color: hsla(210, 33%, 93%, 0.15);
  box-shadow: 0 1px 1px hsla(210, 54%, 20%, 0.1) inset, 0 0 1px hsla(210, 54%, 20%, 0.2) inset, 0 1px 0 hsla(210, 54%, 20%, 0), 0 0 2px hsla(210, 54%, 20%, 0);
  border-color: hsla(210, 54%, 20%, 0.3) hsla(210, 54%, 20%, 0.35) hsla(210, 54%, 20%, 0.4);
}
.menulist > label {
  flex: 1;
  cursor: inherit;
  font-size: 8pt;
  font-weight: bold;
  color: #1F364C;
  text-transform: uppercase;
  text-shadow: 0 1px 0 white;
  text-align: left;
  cursor: inherit;
}
.menulist .dropdown-marker {
  width: 9px;
  height: 7px;
  list-style-image: url("chrome://userchrome/content/framework/apathum/images/menulist/menulist-dropdown-arrow.png");
  margin-inline: 6px;
}
.menulist .list,
.menulist echelon-panel {
  position: fixed;
  left: 0;
  top: 0;
  margin-block-start: 3px;
  z-index: 100;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275), ease-out !important;
  transition-duration: 550ms, 100ms !important;
  transition-property: transform, opacity !important;
}
.menulist .list .list-arrow,
.menulist echelon-panel .list-arrow {
  width: 100%;
  height: 8px;
  padding-inline: 10px;
  margin-block-end: -1px;
  z-index: 1;
  justify-content: flex-end;
}
.menulist .list .list-arrow .list-arrow-image,
.menulist echelon-panel .list-arrow .list-arrow-image {
  width: 15px;
  height: 8px;
  list-style-image: url("chrome://userchrome/content/framework/apathum/images/menulist/menulist-arrow.png");
}
.menulist .list .list-container,
.menulist echelon-panel .list-container {
  padding: 8px;
  background-color: #F2F4F7;
  background-clip: padding-box;
  border: 1px solid rgba(23, 51, 79, 0.42);
  box-shadow: 0px 1px 3px rgba(23, 51, 79, 0.25), 0px 0px 6px rgba(23, 51, 79, 0.5);
  border-radius: 3px;
}
.menulist .list .list-container .item,
.menulist echelon-panel .list-container .item {
  min-width: 200px;
  min-height: 44px;
  padding: 6px;
  font-size: 15px;
  align-items: center;
  color: #4B5964;
  border: 1px solid;
  border-color: hsla(210, 54%, 20%, 0) hsla(210, 54%, 20%, 0) hsla(210, 54%, 20%, 0);
  border-radius: 2px;
  background-color: hsla(210, 48%, 96%, 0);
  background-image: linear-gradient(to bottom, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0));
  background-clip: padding-box;
  text-shadow: 0 1px 0 white;
  box-shadow: 0 1px hsla(0, 0%, 100%, 0) inset, 0 1px hsla(210, 54%, 20%, 0), 0 0 2px hsla(210, 54%, 20%, 0);
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
}
.menulist .list .list-container .item:not(:last-of-type),
.menulist echelon-panel .list-container .item:not(:last-of-type) {
  margin-block-end: 4px;
}
.menulist .list .list-container .item:hover,
.menulist echelon-panel .list-container .item:hover {
  border-color: hsla(210, 54%, 20%, 0.15) hsla(210, 54%, 20%, 0.2) hsla(210, 54%, 20%, 0.25);
  background-color: hsla(210, 48%, 96%, 0);
  background-image: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0.1));
  box-shadow: 0 1px hsla(0, 0%, 100%, 0.3) inset, 0 1px hsla(210, 54%, 20%, 0.03), 0 0 2px hsla(210, 54%, 20%, 0.1);
}
.menulist .list .list-container .item:hover:active, .menulist .list .list-container .item[selected],
.menulist echelon-panel .list-container .item:hover:active,
.menulist echelon-panel .list-container .item[selected] {
  transition: none;
  background-image: -moz-linear-gradient(hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0.1));
  background-color: hsla(216, 2%, 45%, 0.15);
  box-shadow: 0 1px 1px hsla(210, 54%, 20%, 0.1) inset, 0 0 1px hsla(210, 54%, 20%, 0.2) inset, 0 1px 0 hsla(210, 54%, 20%, 0), 0 0 2px hsla(210, 54%, 20%, 0);
  border-color: hsla(210, 54%, 20%, 0.3) hsla(210, 54%, 20%, 0.35) hsla(210, 54%, 20%, 0.4);
}
.menulist .list .list-container .item .item-iconic .item-iconic-image,
.menulist echelon-panel .list-container .item .item-iconic .item-iconic-image {
  width: 32px;
  height: 32px;
  margin-inline-end: 10px;
}
.menulist .list .list-container .item .item-iconic .item-iconic-text,
.menulist echelon-panel .list-container .item .item-iconic .item-iconic-text {
  cursor: inherit;
}
.menulist:not([open]) .list, .menulist:not([open]) echelon-panel {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px) !important;
}
.menulist[open] .list, .menulist[open] echelon-panel {
  opacity: 1;
  transform: none;
  pointer-events: all;
}

/*# sourceMappingURL=style.css.map */
