@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
	color-scheme: light !important;
}

[hidden="true"] {
	visibility: collapse !important;
}

* {
	-moz-user-focus: ignore;
}

label {
    cursor: inherit;
}

@import "components/_colors";
@import "components/_modal";
@import "components/_card";
@import "components/_menulist";