:root {
    --about-logo: url("chrome://branding/content/about-logo.png");
}

:root[titleShortName="firefox"] {
    --about-logo: url("chrome://userchrome/content/assets/images/firefox-4/branding/firefox/about-logo.png");
}

:root[titleShortName="nightly"] {
    --about-logo: url("chrome://userchrome/content/assets/images/firefox-4/branding/nightly/about-logo.png");
}

:root[titleShortName="aurora"] {
    --about-logo: url("chrome://userchrome/content/assets/images/firefox-4/branding/aurora/about-logo.png");
}

:root[titleShortName="echelon"] {
    --about-logo: url("chrome://userchrome/content/assets/images/firefox-4/branding/echelon/about-logo.png");
}

body {
    display: none;
}