:root {
	--brand-logo-size: 154px;
}

*, ::before, ::after {
	box-sizing: border-box;
	border: 0;
	padding: 0;
	margin: 0;
}

[flex="1"] {
	flex: 1;
}

[hidden] {
	visibility: collapse;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	font: message-box;
	color: #000;
	background-color: #F2F2F2;
}

:not([echelon-new-logo]) body {
		background-image: url('chrome://userchrome/content/pages/home/images/noise.png');
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input, button {
	font-size: inherit;
	font-family: inherit;
}

.topSection {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
}

.brandLogo {
	width: var(--brand-logo-size);
	height: var(--brand-logo-size);
	min-height: var(--brand-logo-size);
	margin: 22px auto 31px;
	background-image: url('chrome://userchrome/content/pages/home/images/about-logo-old.png');
	background-size: var(--brand-logo-size) auto;
	background-position: center center;
	background-repeat: no-repeat;
}

.searchContainer {
	display: flex;
	height: 37px;
}

#searchForm {
    width: 470px;
	display: flex;
	align-items: center;
	align-self: stretch;
	font-size: 130%;
}

#searchLogo {
	display: none;
	width: 70px;
	min-width: 70px;
	height: 28px;
	background-image: url('chrome://userchrome/content/pages/home/images/google.png');
	background-size: 100% 100%;
	margin-inline-end: 8px;
}

:root:not([echelon-style="1"]) #searchText {
	flex: 1;
	align-self: stretch;
    padding: 6px 8px;
    background: none repeat scroll 0% 0% padding-box rgba(255, 255, 255, 0.9);
	border: 1px solid;
    border-image: none;
    border-color: rgba(23, 51, 78, 0.15) rgba(23, 51, 78, 0.17) rgba(23, 51, 78, 0.2);
    box-shadow: 0px 1px 0px rgba(8, 22, 37, 0.02) inset, 0px 0px 2px rgba(8, 22, 37, 0.1) inset, 0px 1px 0px rgba(255, 255, 255, 0.2);
    border-radius: 2.5px 0px 0px 2.5px;
}

:root:not([echelon-style="1"]) #searchText:focus,
:root:not([echelon-style="1"]) #searchText[autofocus] {
	outline: 0;
	border-color: hsla(206,100%,60%,.6) hsla(206,76%,52%,.6) hsla(204,100%,40%,.6);
}

:root:not([echelon-style="1"]) #searchSubmit {
	align-self: stretch;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1)) repeat scroll 0% 0% padding-box transparent;
    padding: 0px 13px;
	border: 1px solid;
    border-color: rgba(23, 51, 78, 0.15) rgba(23, 51, 78, 0.17) rgba(23, 51, 78, 0.2);
    border-left: 0;
    border-radius: 0px 2.5px 2.5px 0px;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5) inset, 0px 1px 0px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 150ms;	
}

:root:not([echelon-style="1"]) #searchText:focus + #searchSubmit,
:root:not([echelon-style="1"]) #searchText + #searchSubmit:hover,
:root:not([echelon-style="1"]) #searchText[autofocus] + #searchSubmit {
	border-color: #59b5fc #45a3e7 #3294d5;
	color: white;
}

:root:not([echelon-style="1"]) #searchText:focus + #searchSubmit,
:root:not([echelon-style="1"]) #searchText[autofocus] + #searchSubmit {
	background-image: linear-gradient(#4cb1ff, #1793e5);
	box-shadow: 0 1px 0 hsla(0,0%,100%,.2) inset,
			  0 0 0 1px hsla(0,0%,100%,.1) inset,
			  0 1px 0 hsla(210,54%,20%,.03);
}

:root:not([echelon-style="1"]) #searchText + #searchSubmit:hover {
	background-image: linear-gradient(#66bdff, #0d9eff);
	box-shadow: 0 1px 0 hsla(0,0%,100%,.2) inset,
			  0 0 0 1px hsla(0,0%,100%,.1) inset,
			  0 1px 0 hsla(210,54%,20%,.03),
			  0 0 4px hsla(206,100%,20%,.2);
}

:root:not([echelon-style="1"]) #searchText + #searchSubmit:hover:active {
	box-shadow: 0 1px 1px hsla(211,79%,6%,.1) inset,
			  0 0 1px hsla(211,79%,6%,.2) inset;
	transition-duration: 0ms;
}

:root:not([echelon-style="1"]) #searchText + #searchSubmit:hover {
    background-image: linear-gradient(#66BDFF, #0D9EFF);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 0px 0px 1px rgba(255, 255, 255, 0.1) inset, 0px 1px 0px rgba(23, 51, 78, 0.03), 0px 0px 4px rgba(0, 57, 102, 0.2);
}

#snippetContainer {
	display: none;
	width: 470px;
	margin-top: 12px;
	flex-direction: row;
}

#snippets {
	display: flex;
	align-items: center;
	color: #3C3C3C;
}

.snippetIcon {
	display: inline-block;
	width: 40px;
	min-width: 40px;
	height: 50px;
	margin-left: 30px;
	margin-right: 8px;
	background-size: 100% 100%;
}

.snippetIcon1 {
	background-image: url('chrome://userchrome/content/pages/home/images/snippet1.png');
}

.snippetIcon2 {
	background-image: url('chrome://userchrome/content/pages/home/images/snippet2.png');
}

#launcher {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.03);
	border-top: 1px solid rgba(0, 0, 0, 0.03);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.02) inset, 0px -1px 0px rgba(255, 255, 255, 0.25);
}

.launchButton {
    display: flex;
    flex-direction: column;
    margin: 16px 1px;
    padding: 14px 6px;
    min-width: 88px;
    max-width: 176px;
    max-height: 85px;
    vertical-align: top;
    white-space: normal;
    background: none repeat scroll 0% 0% padding-box transparent;
    border: 1px solid transparent;
    border-radius: 2.5px;
    color: #525C66;
    cursor: pointer;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 150ms;
}

.launchButton:hover {
	background-color: hsla(211,79%,6%,.03);
	border-color: hsla(210,54%,20%,.15) hsla(210,54%,20%,.17) hsla(210,54%,20%,.2);
}

.launchButton:hover:active {
	background-image: linear-gradient(hsla(211,79%,6%,.02), hsla(211,79%,6%,.05));
	border-color: hsla(210,54%,20%,.2) hsla(210,54%,20%,.23) hsla(210,54%,20%,.25);
	box-shadow: 0 1px 1px hsla(211,79%,6%,.05) inset,
			  0 0 1px hsla(211,79%,6%,.1) inset;
	transition-duration: 0ms;
}

.launchButton[hidden],
#launcher:not([session]) > #restorePreviousSessionSeparator,
#launcher:not([session]) > #restorePreviousSession {
  display: none;
}

#downloads:before {
    content: url('chrome://userchrome/content/pages/home/images/downloads.png');
}

#bookmarks:before {
    content: url('chrome://userchrome/content/pages/home/images/bookmarks.png');
}

#history:before {
    content: url('chrome://userchrome/content/pages/home/images/history.png');
}

#addons:before {
    content: url('chrome://userchrome/content/pages/home/images/addons.png');
}

#sync:before {
    content: url('chrome://userchrome/content/pages/home/images/sync.png');
}

#settings:before {
    content: url('chrome://userchrome/content/pages/home/images/settings.png');
}

#restorePreviousSessionSeparator {
	width: 3px;
	height: 116px;
	margin: 0 10px;
	background-image: linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,.35), hsla(0,0%,100%,0)),
					  linear-gradient(hsla(211,79%,6%,0), hsla(211,79%,6%,.2), hsla(211,79%,6%,0)),
					  linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,.35), hsla(0,0%,100%,0));
	background-position: left top, center, right bottom;
	background-size: 1px auto;
	background-repeat: no-repeat;
}

#restorePreviousSession {
	max-width: none;
	font-size: 120%;
	padding-left: 67px;
	padding-top: 27px;
	padding-bottom: 27px;
	position: relative;
	line-height: 20px;
}

#restorePreviousSession::before {
	position: absolute;
	content: url("chrome://userchrome/content/pages/home/images/restore-large.png");
	height: 48px;
	width: 48px;
	display: flex; /* display on same line as text label */
	margin: 0 auto;
	margin-bottom: 0;
	margin-inline-end: 8px;
	top: 15px;
	left: 10px;
}

:root:not([echelon-style="1"]) #aboutMozilla {
  display: block;
  position: relative; /* pin wordmark to edge of document, not of viewport */
  order: -1;
  opacity: .5;
  transition: opacity 150ms;
}

:root:not([echelon-style="1"]) #aboutMozilla:hover {
  opacity: 1;
}

:root:not([echelon-style="1"]) #aboutMozilla::before {
  content: url("chrome://userchrome/content/pages/home/images/mozilla.png");
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 69px;
  height: 19px;
}

/*
	Firefox 56 Style
*/

:root[echelon-style="5"] #searchSubmit {
	max-width: 50px;
	color: transparent;
	-moz-context-properties: fill;
	fill: #616366;
	background: url("chrome://userchrome/content/pages/home/images/search-arrow-go.svg") center center no-repeat, linear-gradient(hsla(0,0%,100%,.8), hsla(0,0%,100%,.1)) padding-box;
}

:root[echelon-style="5"] #searchText:focus + #searchSubmit,
:root[echelon-style="5"] #searchText + #searchSubmit:hover,
:root[echelon-style="5"] #searchText[autofocus] + #searchSubmit {
	color: transparent;
	background-image: url("chrome://userchrome/content/pages/home/images/search-arrow-go.svg"), linear-gradient(#66bdff, #0d9eff);
	fill: white;
}

:root[echelon-style="5"] .snippetIcon {
	margin-left: 0;
}

:root[echelon-style="5"] #searchLogo {
	display: flex;
    border: 1px transparent;
    padding: 0;
    margin: 0;
    width: 36px;
	min-width: 36px;
    height: 36px;
    background: url("chrome://userchrome/content/pages/home/images/search-indicator-magnifying-glass.svg") center center no-repeat;
    position: absolute;
}

:root[echelon-style="5"] #searchText {
	padding-inline-start: 34px;
}

:root[echelon-style="5"] #aboutMozilla {
	opacity: 0.2;
}

:root[echelon-style="5"] #aboutMozilla::before {
	content: url("chrome://userchrome/content/pages/home/images/mozilla.svg");
}

/* 
	Pre-Firefox 14 style
*/

:root[echelon-style="1"] {
	--brand-logo-size: 256px;
}

:root[echelon-style="1"] body {
	font-family: sans-serif;
	background-image: none;
	background-color: -moz-Field;
	color: -moz-FieldText;
}

:root[echelon-style="1"] .topSection {
	height: unset;
	justify-content: flex-start;
	overflow: visible;
}

:root[echelon-style="1"] #launcher {
	background-color: transparent;
	border: 0;
	box-shadow: none;
	flex: 1;
	align-items: flex-start;
}

:root[echelon-style="1"] .launchButton,
:root[echelon-style="1"] #restorePreviousSessionSeparator {
	display: none;
}

:root[echelon-style="1"] #restorePreviousSession {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	margin: 0;
	margin-top: 50px;
	border: 0;
	border-radius: 4px;
	box-shadow: 0 0 0 1px rgba(9,37,59,0),
				0 1px 2px rgba(9,37,59,0),
				0 0 10px rgba(255,255,255,0),
				0 -3px 0 rgba(180,194,212,0) inset;
	transition-property: background-color, box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: ease-out;
	background-color: transparent;
	color: rgb(50,50,50);
	font-family: 'MS Shell Dlg', Arial, sans-serif;
	font-weight: bold;
	font-size: 15.5px;
	cursor: pointer;
	max-height: none;
}

:root[echelon-style="1"] #restorePreviousSession:hover {
	background-image: -moz-linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.2));
	border-radius: 4px;
	box-shadow: 0 0 0 1px rgba(9,37,59,.2),
				0 1px 2px rgba(9,37,59,.2),
				0 0 10px rgba(255,255,255,.4),
				0 -3px 0 rgba(180,194,212,.3) inset;
}
  
:root[echelon-style="1"] #restorePreviousSession:hover:active {
	background-image: -moz-linear-gradient(rgba(255,255,255,.0), rgba(255,255,255,.2));
	background-color: rgba(23,75,115,.1);
	box-shadow: 0 0 0 1px rgba(9,37,59,.2),
				0 1px 2px rgba(9,37,59,.4) inset,
				0 1px 5px rgba(9,37,59,.15) inset;
}

:root[echelon-style="1"] #restorePreviousSession::before {
	content: url("chrome://userchrome/content/pages/home/images/aboutHome-restore-icon.png");
	margin-right: 10px;
	width: 78px;
	height: 66px;
	position: static;
}

:root[echelon-style="1"] .searchContainer {
	width: 100%;
	height: 32px;
	justify-content: center;
}

:root[echelon-style="1"] #searchForm {
	width: 45%;
}

:root[echelon-style="1"] #searchText {
	width: 100%;
	max-width: 700px;
	min-width: 150px;
	align-self: stretch;
	padding: 3px 6px;
	border-radius: 2px;
	border: 1px solid rgb(150,150,150);
	border-top-color: rgb(100,100,100);
	border-right: 0;
	box-shadow: 0 1px 0 rgba(255,255,255,0.5);
	font-size: 1.2em;
}

:root[echelon-style="1"] #searchText:focus {
	outline: none;
}

:root[echelon-style="1"] #searchSubmit {
	width: 75px;
	display: flex;
	align-items: center;
	align-self: stretch;
	background-image: linear-gradient(to bottom, #f1f1f1, #dfdfdf);
	padding: 4px 8px;
	border: 1px solid #ccc;
	border-top-color: #ccc;
	border-bottom-color: #999;
	border-left-color: #afafaf;
	border-right-color: #999;
	box-shadow: 1px 1px 0 #e7e7e7,
			  0 1px 0 #fcfcfc inset,
			  0 -1px 0 #d7d7d7 inset;
	font-size: 1em;
	color: #000;
	cursor: pointer;
	
}

:root[echelon-style="1"] #searchSubmit:active {
	background-image: none;
	background-color: #c5c5c5;
	box-shadow: 1px 1px 0 #e7e7e7;
}

:root[echelon-style="1"] #snippetContainer {
	width: 100%;
	justify-content: center;
	margin-top: 60px;
}

:root[echelon-style="1"] #snippets {
	padding: 14px;
	width: 30%;
	max-width: 600px;
	background-image: linear-gradient(to bottom, rgba(255,255,255,.8), rgba(255,255,255,.1));
	background-color: rgb(250,250,250);
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255,255,255,.8) inset,
			  0 -2px 0 rgba(0,0,0,.1) inset,
			  0 0 10px rgba(255,255,255,.5) inset,
			  0 0 0 1px rgba(0,0,0,.1),
			  0 2px 4px rgba(0,0,0,.2);
	color: rgb(60,60,60);
	cursor: pointer;
	align-items: flex-start;
	font-size: 14px;
	margin-top: -20px;
}

:root[echelon-style="1"] #snippets:hover {
	background-color: rgb(255,255,255);
	box-shadow: 0 1px 0 rgba(255,255,255,.8) inset,
			  0 -2px 0 rgba(0,0,0,.1) inset,
			  0 0 10px rgba(255,255,255,.5) inset,
			  0 0 5px rgba(0,0,0,.1),
			  0 0 0 1px rgba(0,0,0,.1),
			  0 2px 4px rgba(0,0,0,.2);
}

:root[echelon-style="1"] #snippets:hover:active {
	background-color: rgb(210,210,210);
	box-shadow: 0 2px 3px rgba(0,0,0,.3) inset,
			  0 1px 0 rgba(255,255,255,.5);
}


@media all and (max-width: 1000px) {
	:root[echelon-style="1"] #searchForm { width: 65%; }
}

@media all and (max-width: 600px) {
	:root[echelon-style="1"] #searchForm { width: 95%; }
}

@media all and (max-width: 470px) {
	:root[echelon-style="1"] #snippets { width: 65% }
}

@media all and (min-width: 470px) and (max-width: 850px) {
	:root[echelon-style="1"] #snippets { width: 45% }
}

:root[echelon-style="1"] .snippetIcon {
	align-self: center;
	margin-left: 0;
	margin-right: 18px;
}

:root[no-snippet-icon] .snippetIcon {
	display: none;
}

:root[no-snippet-icon] #snippets {
	text-align: center;
}

:root[echelon-style="1"] #searchLogo {
	background-image: url('chrome://userchrome/content/pages/home/images/google_alt.png');
}

:root[echelon-style="1"] #snippetContainer {
  background-image: -moz-radial-gradient(center top, ellipse farthest-side, rgba(16,83,130,.5), rgba(16,83,130,0) 75%),
                    -moz-radial-gradient(center top, ellipse farthest-side, rgba(180,218,244,.5), rgba(180,218,244,0)),
                    -moz-radial-gradient(center top, ellipse farthest-side, rgba(180,218,244,.3), rgba(180,218,244,0));
  background-size: 100% 5px,
                   100% 50px,
                   100% 100%;
  background-repeat: no-repeat;
}

:root[echelon-style="1"] #aboutMozilla {
	display: inline-block;
	text-align: center;
	position: relative;
	font-size: 13px;
	margin-bottom: 10px;
}

:root:not([echelon-style="1"]) #aboutMozilla {
	height: 0;
	color: transparent;
}

:root[echelon-style="1"] .brandSpacer {
	height: 4.5vh;
}

:root[echelon-style="1"] .brandLogo {
	height: 19%;
	max-height: 256px;
	min-height: 92px;
	margin-top: 0;
	background-size: contain;
}

/*
	Pre-Firefox 23 Style
*/

:root[echelon-new-logo] {
	--brand-logo-size: 192px;
}

:root[echelon-new-logo] .brandLogo {
	background-image: url('chrome://userchrome/content/pages/home/images/about-logo.png');
}

:root[echelon-new-logo] #snippetContainer,
:root[echelon-new-logo] #searchLogo,
:root[echelon-style="1"] #snippetContainer,
:root[echelon-style="1"] #searchLogo {
	display: flex;
}

/** Browser Forks / Other Branches **/

/* Waterfox */
:root[echelon-new-logo][browser-name="Waterfox"] .brandLogo {
	background-image: url('chrome://userchrome/content/images/icons/alt/waterfox/about-logo.png');
}

:root[browser-name="Waterfox"] .brandLogo {
	background-image: url('chrome://userchrome/content/images/icons/alt/waterfox/old/about-logo.png');
}

/* Superfox */
:root[browser-name="Superfox"] .brandLogo {
	background-image: url('chrome://userchrome/content/images/icons/alt/superfox/about-logo.png');
}

:root:not([echelon-style="1"])[browser-name="Superfox"] #aboutMozilla::before {
	width: 49px;
	content: url("chrome://userchrome/content/images/icons/alt/superfox/win32-wordmark.png");
}

/* Aurora (Firefox Dev Edition) */
:root[update-channel="aurora"] .brandLogo {
	background-image: url('chrome://userchrome/content/images/icons/alt/aurora/old/about-logo.png');
}

:root[echelon-new-logo][update-channel="aurora"] .brandLogo {
	background-image: url('chrome://userchrome/content/images/icons/alt/aurora/about-logo.png');
}

/* Nightly */
:root[update-channel="nightly"] .brandLogo {
	background-image: url('chrome://userchrome/content/images/icons/alt/nightly/old/about-logo.png');
}

:root[echelon-new-logo][update-channel="nightly"] .brandLogo {
	background-image: url('chrome://userchrome/content/images/icons/alt/nightly/about-logo.png');
}