@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

*, ::before, ::after {
	box-sizing: border-box;
}

p:not(:last-of-type) {
	margin-bottom: 16px;	
}

h1 {
	font-size: 30px;
	text-shadow: 0px 1px 0px #FFF, 0px 2px 0px #FFF;
	font-weight: 300;
	letter-spacing: -0.6px;
	line-height: 0.5;
	margin-bottom: 18px;
}

hbox {
	display: flex;
	flex-direction: row;
}

vbox {
	display: flex;
	flex-direction: column;
}

[flex="1"] {
	flex: 1;
}

.close_button {
	margin-top: -20px;
	margin-right: -10px;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	appearance: none;
	opacity: 0;
}

#echelonWizard {
	width: 585px;
	height: 440px;
	background-color: #3B7CBF;
	background-image: url('chrome://userchrome/content/windows/wizard/images/bgnoise.png'),
					  url('chrome://userchrome/content/windows/wizard/images/bggrid.png'),
					radial-gradient(circle at top, #4792C9, #285783);
	box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
	font-family: 'Open Sans', sans-serif;
	color: #404041;
	font-size: 12.5px;
	font-weight: 400;
	text-shadow: 0px 1px 0px #FFF;
	line-height: 1.5;
}

.page {
	width: 100%;
	height: 100%;
	display: none;
	flex-direction: column;
}

.pageContent {
	display: flex;
	margin: 15px;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
	overflow: hidden;
}

.pageContentContainer {
	background-image: radial-gradient(100% 100% at 50% 0%, #FFF 0%, #D4DDE4 100%), linear-gradient(180deg, #EAEFF2 0%, #FFF 0.01%, #D4DDE4 100%);
}

.pageContentFooter {
	width: 100%;
	max-height: 35px;
	justify-content: space-between;
	align-items: flex-end;
}

.content {
	padding-block: 30px;
	padding-inline: 34px;
}

.welcome {
	background-image: url('chrome://userchrome/content/windows/wizard/images/firefoxbg.png');
	background-repeat: no-repeat;
	background-position: top right;
}

.echelonLogo {
	width: 223px;
	height: 88px;
	display: inline-block;
	background-image: url('chrome://userchrome/content/windows/wizard/images/welcometoechelon.png');
	margin-bottom: 30px;
}

.welcomeText {
	max-width: 320px;
}

.footerButton {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
	appearance: none;
	margin: 0;
	font-family: 'Segoe Ui', sans-serif;
	font-size: 9pt;
	min-width: 110px;
	border-radius: 0;
	border-top-right-radius: 3px;
	border: 1px solid transparent;
	border-bottom: 0;
	border-left: 0;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	color: white;
	box-shadow: inset -1px 1px 0 0 rgb(255, 255, 255, 0.50);
	transition: all 0.25s ease-in-out;
	cursor: pointer;
	padding-inline: 30px;
}

.footerButton:not([disabled]):hover {
	height: 40px;
}

.footerButton:not([disabled]):hover:active {
	transition: none;
	box-shadow: inset 0px 2px 4px -2px rgba(0, 0, 0, 0.50);
}

.nextButton {
	border-top-right-radius: 0;
	border-top-left-radius: 3px;
	box-shadow: inset 1px 1px 0 0 rgb(255, 255, 255, 0.50);
	border-left: 1px solid transparent;
	border-right: 0;
}

.footerButton .button-box {
	display: none;
}

.buttonIcon {
	width: 16px;
	height: 16px;
	display: inline-block;
	transform: translateY(1px);
	margin-right: 8px;
}

.footerButton.styleBlue {
	background-image: linear-gradient(to bottom, #2EA4DF, #2071C3);
	border-color: #00488E;
}

.footerButton.styleBlue:not([disabled]):hover {
	background-image: linear-gradient(to bottom, #35BEED, #2072C3);
	border-color: #00386D;
}

.footerButton.styleGreen {
	background-image: linear-gradient(to bottom, #ABDD63, #76C044);
	border-color: #52A300;
}

.footerButton.styleGreen:not([disabled]):hover {
	background-image: linear-gradient(to bottom, #C6EC73, #77C045);
	border-color: #397100;
}

.footerButton.styleRed {
	background-image: linear-gradient(to bottom, #E45D00, #BC2400);
	border-color: #BB2200;
}

.footerButton.styleRed:not([disabled]):hover {
	background-image: linear-gradient(to bottom, #F68900, #E13C01);
	border-color: #571000;
}

.footerButton[disabled] {	
	background-image: linear-gradient(to bottom, #BFBFBF, #878787);
	border-color: #888;
	cursor: auto;
}

.backButton .buttonIcon {
	background-image: url('chrome://userchrome/content/windows/wizard/images/backicon.png');
}

.nextButton .buttonIcon {
	background-image: url('chrome://userchrome/content/windows/wizard/images/nexticon.png');
}

.restartButton .buttonIcon {
	background-image: url('chrome://userchrome/content/windows/wizard/images/finishicon.png');
}

.pageContentHeader {
	max-width: 325px;
}

.themeSelectorContainer {
	gap: 10px;
}

.styleOptionContainer {
	border: 1px solid #405E72;
	border-radius: 3px;
	overflow: hidden;
	cursor: pointer;
}

.styleOptionPreview {
	min-height: 128px;
	box-shadow: inset 0 0 0 1px rgb(255, 255, 255, 0.25);
	background-image: radial-gradient(192.87% 141.42% at 0% 0%, #009BD9 0%, #06A 100%);
}

.styleOptionContainer:hover .styleOptionPreview {
	background-image: radial-gradient(192.87% 141.42% at 0% 0%, #20BFFF 0%, #0076C5 100%);
}

.styleOptionContainer:hover:active .styleOptionPreview {
	background-image: radial-gradient(192.87% 141.42% at 0% 0%, #008CC5 0%, #004675 100%);
	box-shadow: 2px 3px 6px 2px rgba(0, 0, 0, 0.25) inset;
}

.styleOptionContainer:hover:active .styleOptionPreview .styleOptionPreviewImg {
	opacity: 0.8;
}

.styleOptionHeader {
	border-top: 1px solid #B9C9D4;
	background-image: linear-gradient(to bottom, #DFE5EA, #CCD3DA);
	box-shadow: inset 0 1px 0 #E7ECEF;
	padding: 8px 15px;
}

.styleOptionHeader h2 {
	font-size: 20px;
	font-weight: 400;
	letter-spacing: -0.4px;
	text-transform: lowercase;
	line-height: 16px;
}

.styleOptionPreviewImg {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.ff4blue {
	background-image: url('chrome://userchrome/content/windows/wizard/images/ff4blue.png');
}

.ff4native {
	background-image: url('chrome://userchrome/content/windows/wizard/images/ff4native.png');
}

.ff4xp {
	background-image: url('chrome://userchrome/content/windows/wizard/images/ff4xp.png');
}

.australisblue {
	background-image: url('chrome://userchrome/content/windows/wizard/images/australisblue.png');
}

.australisnative {
	background-image: url('chrome://userchrome/content/windows/wizard/images/australisnative.png');
}

.australisxp {
	background-image: url('chrome://userchrome/content/windows/wizard/images/australisxp.png');
}

.australisWindows10 {
	background-image: url('chrome://userchrome/content/windows/wizard/images/australis10.png');
}

.ff4bluesmall {
	background-image: url('chrome://userchrome/content/windows/wizard/images/ff4bluesmall.png');
}

.ff10bluesmall {
	background-image: url('chrome://userchrome/content/windows/wizard/images/ff10bluesmall.png');
}

.ff14bluesmall {
	background-image: url('chrome://userchrome/content/windows/wizard/images/ff14bluesmall.png');
}

.endScreen {
	color: white;
	text-shadow: 0 1px 0 black;
	background-image: url('chrome://userchrome/content/windows/wizard/images/bgend.png');
}

.endScreen h1 {
	color: #A2E2FF;
	text-shadow: 0px -1px 3.8px #1384C4, 0px -1px 17px #1384C4;
}

.smallText h2 {
	font-size: 15px;
}

#reset-layout {
	font-size: 9pt;
	font-family: 'Segoe Ui', sans-serif;
}

#reset-layout {
	margin-inline: 20px;
	margin-bottom: 8px;
}

#reset-layout .checkbox-check {
	width: 13px !important;
	height: 13px !important;
	border-radius: 2px !important;
	border: 1px solid #000 !important;
	background-image: linear-gradient(180deg, #3D3D3D 0%, #181818 100%) !important;
	background-color: transparent !important;
	box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.25), 0px 1px 2px 0px rgba(0, 0, 0, 0.75) inset;
}

#reset-layout .checkbox-check[checked] {
	list-style-image: url('chrome://userchrome/content/windows/wizard/images/checkmark.png');
}