@-moz-document url("about:preferences"), url-prefix("about:preferences#") {
	:root {
		color: #000 !important;
		background-image: linear-gradient(to bottom, rgb(231,237,246) 3px, rgba(231,237,246,0) 156px),
											linear-gradient(to left, rgba(255,255,255,0.2), rgba(255,255,255,0) 40%, rgba(255,255,255,0) 60%, rgba(255,255,255,0.2)),
											linear-gradient(32deg, rgba(255,255,255,0) 19.5%, rgba(255,255,255,0.1) 20%,
																 rgba(255,255,255,0.1) 21.5%, rgba(255,255,255,0.2) 22%,
																 rgba(255,255,255,0.2) 25.5%, rgba(255,255,255,0.1) 26%,
																 rgba(255,255,255,0.1) 27.5%, rgba(255,255,255,0) 28%,
																 rgba(255,255,255,0) 49.5%, rgba(255,255,255,0.1) 50%,
																 rgba(255,255,255,0.1) 52.5%, rgba(255,255,255,0.2) 53%,
																 rgba(255,255,255,0.2) 54.5%, rgba(255,255,255,0.1) 55%,
																 rgba(255,255,255,0.1) 57.5%, rgba(255,255,255,0) 58%,
																 rgba(255,255,255,0) 87%, rgba(255,255,255,0.2) 90%),
						          url("chrome://userchrome/content/pages/preferences/images/background-texture.png") !important;
	}
	:root:not(.system-font-size) {
		font: message-box !important;
	}
	h1 {
		font-size: 150% !important;
		font-weight: bold !important;
		color: #3F3F3F !important;
	}
	groupbox[data-category] {
		margin: 0 0 5px !important;
	}
	.navigation {
		overflow: visible !important;
		z-index: 999 !important;
	}
	#categories {
		padding: 0 !important;
	 margin-inline-end: -1px !important;
		margin-top: 100px !important;
		z-index: 999 !important;
		width: 246px !important;
	}
	.category {
		background-color: transparent !important;
		color: #252F3B !important;
		padding: 0 8px !important;
		padding-top: 2px !important;
		border-width: 1px !important;
		border-style: solid !important;
		border-color: transparent !important;
		overflow: visible !important;
		border-radius: 5px !important;
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		z-index: 999 !important;
		margin-inline-start: 22px !important;
		margin-inline-end: 0 !important;
		position: relative !important;
	}
	.category:not([disabled]) {
		height: 52px !important;
		transition-property: height, opacity !important;
		transition-duration: 1s, 0.8s !important;
	}
  #categories > .category[selected] {
		background-color: rgba(255, 255, 255, 0.4) !important;
		color: #252F3B !important;
		border-color: #C3CEDF !important;
		-moz-border-end-color: #E2E9F2 !important;
	}
	.category-icon {
		width: 32px !important;
		height: 32px !important;
		list-style-image: none !important;
	}
	#category-general > .category-icon {
		background-image: url("chrome://userchrome/content/pages/preferences/images/Options.png") !important;
	}
	#category-privacy > .category-icon {
		list-style-image: url("chrome://userchrome/content/pages/preferences/images/Privacy-32.png") !important;
	}
	#category-sync > .category-icon {
		list-style-image: url("chrome://userchrome/content/pages/preferences/images/Sync-32.png") !important;
	}
	#category-home > .category-icon {
		list-style-image: url("chrome://userchrome/content/pages/preferences/images/prefs_home.png") !important;
	}
	#category-search > .category-icon {
		list-style-image: url("chrome://userchrome/content/pages/preferences/images/prefs_search.png") !important;
	}
	.category-name {
		display: flex !important;
		font-size: 150% !important;
		padding-inline-start: 6px !important;
	}
	.sticky-container {
		position: static !important;
		width: 100% !important;
		background-color: transparent !important;
		padding-inline: 0 !important;
		margin-inline: 0 !important;
	}
	.sticky-inner-container {
		max-width: 100% !important;
	}
	.pane-container {
		display: flex !important;
		width: 100% !important;
		flex-direction: column;
		height: 100%;
	}
	.main-content {
		z-index: -1 !important;
		padding-inline-start: 0 !important;
		overflow: hidden !important;
	}
	#mainPrefPane {
		height: 100% !important;
		overflow-x: hidden !important;
		overflow-y: auto !important;
		background-color: rgba(255, 255, 255, 0.35) !important;
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75)) !important;
		border: 1px solid #C3CEDF;
		border-radius: 5px;
		padding: 30px !important;
	}
	#searchInput,
	#filter {
		width: 264px !important;
		min-height: 25px !important;
		color: black !important;
		border: 1px solid !important;
		border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.32) rgba(0, 0, 0, 0.37) !important;
		border-radius: 4px !important;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset,
			0 1px 0 rgba(255, 255, 255, 0.4) !important;
		padding: 3px !important;
		background-color: rgba(255, 255, 255, 0.8) !important;
		margin: 18px 0 !important;
	}
	#searchInput:focus,
	#filter:focus {
		outline: none !important;
	}
	.textbox-search-sign {
		width: 16px !important;
		height: 16px !important;
		list-style-image: none !important;
    background-image: url("chrome://userchrome/content/images/search-glass.png") !important;
		margin-inline-end: 0 !important;
		order: 1001 !important;
	}
	.checkbox-check:not([native]) {
		appearance: auto !important;
		-moz-default-appearance: checkbox !important;
	}
	input[type="radio"],
	.radio-check {
		appearance: radio !important;
	}
	treecol {
		appearance: auto !important;
	}
	listheader {
		border-radius: 0 !important;
		border-bottom: 0 !important;
	}
	menulist {
		max-height: 27px !important;
		height: 100% !important;
		padding: 0 !important;
		appearance: auto !important;
		-moz-default-appearance: menulist !important;
		color: #000 !important;
	}
	#label-box:not([native]) {
		font-weight: revert !important;
	}
	dropmarker {
		appearance: auto !important;
		margin: 0 !important;
	}
	#filter {
		width: 100% !important;
	}
	#handlersView .actionsMenu {
		padding-inline-end: 0 !important;
	}
	.actionContainer {
		padding-inline: 20px !important;
	}
	#downloadFolder {
    border-radius: 0 !important;
	}
	button {
		appearance: auto !important;
		font-weight: revert !important;
	}
	.sidebar-footer-list {
		display: none !important;
	}
	.face-smile::before {
		display: none !important;
	}
	#isDefaultLabel, #isNotDefaultLabel {
		font-weight: revert !important;
		font-style: italic !important;
		color: GrayText !important;
	}
	#web-appearance-chooser {
		justify-content: flex-start !important;
	}
	.web-appearance-choice {
		width: 150px !important;
		border: 0 !important;
	}
	.web-appearance-choice-image-container {
		border-top-left-radius: 3px !important;
		border-top-right-radius: 3px !important;
		border: 1px solid #405E72 !important;
		box-shadow: inset 0 0 0 1px rgb(255, 255, 255, 0.25) !important;
		background-image: radial-gradient(192.87% 141.42% at 0% 0%, #009BD9 0%, #06A 100%) !important;
	}
	.web-appearance-choice img {
		width: 56px !important;
		height: 44px !important;
		border: 0 !important;
		border-radius: 3.5px !important;
		content: url("chrome://userchrome/content/pages/preferences/images/web-appearance-light.png") !important;
		box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) !important;
	}
	.web-appearance-choice.dark img {
		content: url("chrome://userchrome/content/pages/preferences/images/web-appearance-dark.png") !important;
	}
	.web-appearance-choice-footer {
		background-image: linear-gradient(rgba(251, 252, 253, 0.95), rgba(246, 247, 248, 0.47) 49%, 
                      rgba(231, 232, 233, 0.45) 51%, rgba(225, 226, 229, 0.3)); !important;
		box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset,
                0 0 0 2px rgba(255, 255, 255, 0.1) inset !important;
		background-clip: padding-box !important;
		border: 1px solid !important;
		border-color: rgba(0, 0, 0, 0.38) !important;
		border-top: 0 !important;
		border-bottom-left-radius: 3px !important;
		border-bottom-right-radius: 3px !important;
		color: #525252 !important;
		text-shadow: 0 1px 0 white;
		line-height: 1 !important;
		padding-inline: 12px !important;
		padding-block: 5px 7px !important;
	}
	.web-appearance-choice-footer input {
		width: unset !important;
		height: unset !important;
		margin: 0 !important;
		margin-inline-end: 6px !important;
	}
	.info-box-container {
		border: 1px solid rgb(0 0 0 / 5%) !important;
		box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%) !important;
		padding: 8px 20px !important;
		background-color: #FCFDFF !important;
		background-image: url("chrome://userchrome/content/pages/preferences/images/background-texture.png") !important;
	}
	.info-icon {
		content: url("chrome://userchrome/content/images/information-16.png") !important;
	}
	#updateSettingCrossUserWarningDesc {
		margin-block: 5px !important;
	}
	.searchBarImage {
		width: 634px !important;
		height: 38px !important;
		border-radius: 4px !important;
		border: 1px solid rgb(0 0 0 / 25%) !important;
	}
	.searchBarHiddenImage {
		list-style-image: url("chrome://userchrome/content/pages/preferences/images/no-search-bar.png") !important;
	}
	.searchBarShownImage {
		list-style-image: url("chrome://userchrome/content/pages/preferences/images/search-bar.png") !important;
	}
}