/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#aboutDialogContainer {
  background-color: #f7f7f7;
  background-image: url("chrome://branding/content/about-noise.png"), url("chrome://branding/content/about-grid.png"), radial-gradient(50% 6.87% at 50% 100%, rgba(23, 45, 68, 0.25) 0%, rgba(232, 239, 245, 0) 100%), radial-gradient(100% 100% at 50.14% 0%, #FE7701 0%, #E04212 100%);
  color: #fff;
  text-shadow: 0 1px 1px rgba(23, 45, 68, 0.5);
  color-scheme: light;
}

#clientBox {
  padding: 0;
}

#leftBox {
  background-image: url("chrome://branding/content/about-logo.png");
  background-repeat: no-repeat;
  background-size: 192px auto;
  background-position: center 20%;
  /* min-width and min-height create room for the logo */
  min-width: 210px;
  min-height: 210px;
  margin-top: 20px;
  margin-inline-start: 30px;
}

.text-link {
  color: #fff !important;
}

#rightBox {
  background-image: url("chrome://branding/content/about-wordmark.png");
  background-size: 154px auto;
  margin-inline: 30px;
  padding-top: 48px;
}

#bottomBox {
  background-color: rgba(0,0,0,.25);
  backdrop-filter: blur(2px);
  border-block-start: 1px solid rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.25);
}

#trademark {
  font-size: xx-small;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin-block: 10px;
}
