:root {
    --identity-color-brand: rgb(0,33,71) !important;
    --identity-background-brand: linear-gradient(rgba(0,33,71,0), rgba(0,33,71,.5) 35%, rgba(0,33,71,.5) 65%,rgba(0,33,71,0)) !important;
    --identity-icons-brand: url("chrome://branding/content/identity-icons-brand.png") !important;
}